<section id="team" class="pb-5">

  <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-white fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <a routerLink="/homelanding" class="navbar-brand">
        <img src="../assets/img/logo.png" style="height: 90px;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/ats">Applicant Tracking System</a>
                    <a class="dropdown-item" routerLink="/talent-suite">Talent Suite</a>
                    <a class="dropdown-item" routerLink="/workforce">Workforce</a>
                    <a class="dropdown-item" routerLink="/timesheet">TimeSheet</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/market">Marketplace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
            <li class="nav-item ">
              <a href="login" class="nav-link login-btn-mobile">Login</a>
            </li>

            <li class="nav-item ">
              <a class=" login-btn-web bn5" style=" margin: 0;" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
  </nav>

    <div class="background-video video-container">
        <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
            <source src="../../../assets/videos/home.mp4" type="video/mp4">
        </video>
        <div style="width: 100%;" class="content-over-video overlay">
            <h1 id="welcomeText" style="background-color: #a24f9a91;
      height: 111px;
      padding-top: 33px;font-size: 54px;color: white !important;font-weight: 500 !important;">Monster Job Board
            </h1>
        </div>
    </div>
    <br><br>
    <div class="container">
        <h2 class="text-center tittle">All Integrations > Premium Monster Job Board</h2>
        <span class="animate-border mr-auto ml-auto mb-4"></span>
        <div class="row">
            <div class="col-md-4 left-card">
                <div class="card " style="box-shadow: 8px 9px 20px -6px rgba(0,0,0,0.75);">
                  <div class="text-center">
                    <img src="../../../assets/img/monster_logo.svg" style=" height: 6rem;
                    width: 14rem;" alt="Logo">
                    <div class="card-body" style="display: flex;
                    flex-flow: column;
                    margin-right: 120px;">
                      <h2 class="card-title"> Monster</h2>
                      <h3 class="card-subtitle mb-3 text-muted" style="font-weight: bold;">Premium Job Board</h3>
                      <div class="button-group">
                        <a href="/"><button class="bn632-hover bn24">Book a Demo</button></a>
                        <a href="/"><button class="bn632-hover bn24">Start Free Trial</button></a>
                      </div>

                        <!-- <p class="card-text" style="font-style: italic;font-size: 20px;">Monster: Your job search superhero. Unite top
                            talent and eager employers effortlessly with our turbocharged Free Job Board integration.
                            Your secret weapon for building the dream team. Unleash the power of Monster on your
                            webpage—let the recruiting adventures begin! 🚀</p> -->
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-8" style="padding: 20px;">
                <h1 style="font-size: 30px;font-weight: bold;">Monster</h1>
                <p style="font-size: 20px;padding: 20px;
            font-weight: 400;
            font-style: italic;    letter-spacing: 2px;
    text-align: justify;">In today's competitive job market, connecting with top talent is essential for the
                    success of any
                    organization. By integrating Monster, a leading job search and recruitment platform, with your Free
                    Job
                    Board, you can supercharge your hiring process and attract the right candidates effortlessly.</p>
                <h1 style="font-size: 30px;font-weight: bold;"> Over View:</h1>
                <ul class="list-unstyled" style="font-size: 15px; letter-spacing: 2px; font-weight: 400; font-style: normal;">
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Wider Reach: Leverage Monster's extensive reach to showcase your job opportunities to millions of job seekers globally.
                  </li>
                  <br>
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Targeted Recruitment: Utilize Monster's advanced filtering and matching algorithms to connect with candidates who possess the skills and experience you're looking for.
                  </li>
                  <br>
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Streamlined Process: Simplify your recruitment workflow by seamlessly posting and managing your job listings from your Free Job Board directly to Monster.
                  </li>
                  <br>
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Increased Visibility: Stand out among competitors by featuring your jobs on Monster's high-traffic platform, giving your vacancies the exposure they deserve.
                  </li>
                  <br>
                </ul>

            </div>
            <hr>
        </div>
    </div>
</section>
<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 ">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>44121 Leesburg Pike., STE 230 Ashburn , VA 20147,United States Of America
              </span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>(703)9863350</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>nithya@tresume.us</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-1">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"><img src="../../../assets/img/tresumelog.png" style=" margin-left: 7rem;" class="img-fluid" alt="logo"></a>
            </div>
            <div class="footer-text">
              <p>With the right ATS recruiting system, you can increase the number of placements and grow your
                business.
                Tresume advanced recruit analytics helps you back up all your presentations with data. Create
                forecast
                for next quarter and keep track of important metrics.</p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <ul class="social_icon">
                <li><a href="https://www.facebook.com/p/Tresume-100057032697312/" target="_blank"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Tresume2"  target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/tresume/"  target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://www.youtube.com/@tresumeus3304/featured"  target="_blank"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a routerLink="/about"  href="#">About Us</a></li>
              <li><a routerLink="/market" href="#">MarketPlace</a></li>
              <li><a routerLink="/features" href="#">Features</a></li>
              <li><a routerLink="/contact" href="#">Contact us</a></li>
              <li><a  routerLink="/workforce" href="#">WorkForce</a></li>
              <li><a routerLink="/timesheet">TimeSheet</a></li>
              <li><a  routerLink="/ats">ATS</a></li>
              <li><a routerLink="/talent-suite">Talent Suite</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#" >
                <li style="text-align: center;font-size: 22px;"><a routerLink="/contact" style="color: white; font-weight: bold;">Contact us</a></li>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copy Rights 2023 TResume</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a >Home</a></li>
              <li><a >Terms</a></li>
              <li><a >Privacy</a></li>
              <li><a >Policy</a></li>
              <li><a >Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
