<div class="container-fluid p-3">
  <div class="head d-flex justify-content-between p-3">
    <h2>Time activity</h2>

  </div>

  <body>
    <div class="container" style="font-size: 14px; margin-top: 20px;">
      <div class="form-group row">
        <label for="date" class="col-md-2 col-form-label" style="margin-top: 12px;">Date</label>
        <div class="col-md-4" style="margin-top: 12px;">
          <input type="date" class="form-control" id="date" style="width: 11rem;">
        </div>

        <div class="col-md-2" style="margin-top: 12px;">
          <div class="form-group row">
            <label for="location" class="col-md-2 col-form-label">Location</label>
            <div class="col-md-4">
              <div class="input-group" style="width: 14rem; margin-left: 76px;">
                <input type="text" class="form-control" id="location" placeholder="Enter Location">
                <div class="input-group-append">
                  <button class="btn dropdown-toggle" type="button" id="locationDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="width: 41px;">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-check" style="margin-left: 32px;">
            <input class="form-check-input" type="checkbox" id="startDateCheckbox">
            <label class="form-check-label" for="startDateCheckbox">Start and End Times</label>
          </div> -->
        </div>
        
      </div>


      <div class="form-group row" style="margin-top: -26px;">
        <label for="name" class="col-md-2 col-form-label">Name</label>
        <div class="col-md-4">
            <div class="input-group" style="width: 14rem;">
                <input type="text" class="form-control" id="name" placeholder="Enter Name">
                <div class="input-group-append">
                    <button class="btn dropdown-toggle" type="button" id="nameDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="width: 41px;"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Option 1</a>
                        <a class="dropdown-item" href="#">Option 2</a>
                        <a class="dropdown-item" href="#">Option 3</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add the Time input in the same row -->
        <!-- <label for="time" class="col-md-2 col-form-label">Time</label>
        <div class="col-md-4" style="margin-left: -78px;">
          <input type="number" class="form-control" id="time" placeholder="Enter Time" [(ngModel)]="time" (input)="calculateBillableAmount()" style="width: 7rem;">
        </div> -->
        <!-- <div class="form-check" style="margin-left: 32px;">
          <input class="form-check-input" type="checkbox" id="startDateCheckbox">
          <label class="form-check-label" for="startDateCheckbox">Start and End Times</label>
        </div> -->
      </div>

    <div class="form-group row">
      <label for="cost" class="col-md-2 col-form-label">Cost (/hr)</label>
      <div class="col-md-4">
          <input type="text" class="form-control" id="cost" placeholder="Enter Cost" style="width: 7rem;">
      </div>
  
      <!-- Add the Description input in the same row -->
      <!-- <label for="time" class="col-md-2 col-form-label">Time</label>
        <div class="col-md-4" style="margin-left: -78px;">
          <input type="number" class="form-control" id="time" placeholder="Enter Time" [(ngModel)]="time" (input)="calculateBillableAmount()" style="width: 7rem;">
        </div> -->
      <label for="description" class="col-md-2 col-form-label">Description</label>
      <div class="col-md-4" style="margin-left: -75px;">
          <textarea class="form-control" id="description" placeholder="Enter Description" rows="1"style="width: 18rem;"></textarea>

      </div>
  </div>

  <div class="form-group row">
    <label for="payItem" class="col-md-2 col-form-label">Select Pay Item</label>
    <div class="col-md-4">
        <select class="form-control" id="batchActions" name="batchActions" style="width: 10rem;">
            <option value="" disabled selected>Select Pay Item</option>
            <option value="action1">Regular pay</option>
            <!-- Add more options as needed -->
        </select>
    </div>
</div>  


    
    <!-- <label for="description" class="col-md-2 col-form-label">Description</label>
    <div class="col-md-4" style="margin-left: -75px;">
        <textarea class="form-control" id="description" placeholder="Enter Description" rows="1"
            style="width: 18rem;"></textarea>
    </div> -->

    <!-- <div class="col-md-4">
        <div *ngIf="isBillable && billableAmount !== undefined">
            <p>Calculated Billable Amount: {{ billableAmount }} USD</p>
        </div>
    </div> -->



      <div class="form-group row">
        <label for="clientProject" class="col-md-2 col-form-label">Client/Project</label>
        <div class="col-md-4">
          <div class="input-group" style="width: 14rem;">
            <input type="text" class="form-control" id="clientProject" placeholder="Enter Client/Project">
            <div class="input-group-append">
              <button class="btn dropdown-toggle" type="button" id="clientProjectDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="width: 41px;">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Option 1</a>
                <a class="dropdown-item" href="#">Option 2</a>
                <a class="dropdown-item" href="#">Option 3</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="service" class="col-md-2 col-form-label">Service</label>
        <div class="col-md-4">
          <div class="input-group" style="width: 14rem;">
            <input type="text" class="form-control" id="service" placeholder="Enter Service">
            <div class="input-group-append">
              <button class="btn dropdown-toggle" type="button" id="serviceDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="width: 41px;">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Option 1</a>
                <a class="dropdown-item" href="#">Option 2</a>
                <a class="dropdown-item" href="#">Option 3</a>
              </div>
            </div>
          </div>
        </div>

          <!-- First Card -->
          <div class="col-md-6" style="margin-top: -7rem;">
            <div class="card border-primary glow-purple" style="width: 25rem; height: 300px;">
              <div class="card-body" style="width: 23rem;">
                <h2 class="card-title small-font">Calculate Here the Total Billable Amount</h2>
        
                <form>
                  <div class="form-group">
                    <label for="price">Billable (/hr)</label>
                    <input type="text" name="price" [(ngModel)]="price" class="form-control small-font" (input)="updateTotal()">
                  </div>
        
                  <div class="form-group">
                    <label for="time">Time in hr
                      <span class="label label time-label small-font">{{ quantity }}</span>
                    </label>
                    <input type="range"
                      name="quantity"
                      [(ngModel)]="quantity"
                      min="1"
                      max="100"
                      step="1"
                      class="form-control custom-range"
                      (input)="updateTotal()">
                  </div>
                </form>
        
                <div class="text-right text-giant total small-font">
                  Total: ${{ total.toFixed(2) }}
                </div>
              </div>
            </div>
          </div>
        </div>

  


      <div class="form-group row">
        <div class="col-md-2"></div> <!-- Offset for checkbox alignment -->
        <div class="col-md-4">
          <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" id="billable" [(ngModel)]="isBillable" (change)="calculateBillableAmount()">
            <label class="form-check-label" for="billable">Billable (/hr)</label>
            <input *ngIf="isBillable" type="number" class="form-control bill" id="billableRate" [(ngModel)]="billableRate" (input)="calculateBillableAmount()">
          </div> -->
        </div>
      </div>
      

      <!-- Display the calculated billable amount -->
  <!-- <div *ngIf="isBillable && billableAmount !== undefined">
    <p style="margin-top: -173px;
    margin-left: 46rem;">Calculated Billable Amount: {{ billableAmount }}</p>
  </div> -->

<!-- 
  <div class="card border-primary" style="width: 25rem; height: 300px;">
    <div class="card-body" style="width: 23rem;
    ">
      <h2 class="card-title small-font">Calculate Here the Total Billable Amount</h2>
  
      <form>
        <div class="form-group">
          <label for="price">Billable (/hr)</label>
          <input type="text" name="price" [(ngModel)]="price" class="form-control small-font" (input)="updateTotal()">
        </div>
  
        <div class="form-group">
          <label for="time">Time
            <span class="label label time-label small-font">{{ quantity }}</span>
          </label>
          <input type="range"
            name="quantity"
            [(ngModel)]="quantity"
            min="1"
            max="100"
            step="1"
            class="form-control custom-range"
            (input)="updateTotal()">
        </div>
      </form>
  
      <div class="text-right text-giant total small-font">
        Total: ${{ total.toFixed(2) }}
      </div>
    </div>
  </div> -->
  



    </div>
  </body>
</div>