  <div class="header pt-4">
    <div class="container">
      <div class="row border1">
      <h2 class="mt-3 pl-3">ASSIGN ADMIN AND PROJECT</h2>
    </div>
      <div class="row main pt-2">      
        <div class="col-3 form-group">
          <label>Admin</label>
          <select id="adminselect" class="form-control">
            <option *ngFor="let option of adminlist" [value]="option.id">{{ option.name }}</option>
          </select>
        </div>
        <div class="col-3 form-group">
          <label>Employee</label>
          <select id="userselect" class="form-control">
            <option *ngFor="let option of userlist" [value]="option.id">{{ option.name }}</option>
          </select>
        </div>
        <div class="col-3 form-group">
          <label>Project</label>
          <select id="projectselect" class="form-control">
            <option *ngFor="let option of project" [value]="option.id">{{ option.name }}</option>
          </select>
        </div>
  
        <div class="col-3 text-center mt-4">
        <button class="btn createNew">Assign</button>
         </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Employee</th>
          <th>Admin</th>
          <th>Project</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allusers">
          <td>{{ user.name }}</td>
          <td>{{ user.admin }}</td>
          <td>{{ user.project }}</td>
          
        </tr>
      </tbody>
    </table>

    </div>
  </div>