$brand-primary:#49274a;

.container-fluid {
    background-color: #fff;
  }
  .border1{
    border-top:3px solid  $brand-primary;
    border-bottom:3px solid  $brand-primary;
  }
  .createNew{
    background-color: $brand-primary;
    color: #fff;
  }
  .createNew:hover{
    background-color: #94618E;
  }
  .createNew:active{
    background-color: $brand-primary ; 
  }
  .search-label{
    padding: 8px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  i{
    margin: 5px;
    color: #94618e;
  }
 
  td{
    color: #94618e;
  }
  i:hover {
    color: darkviolet;
  }
 .main-container{
  background:#fff;
  margin-top: 0;
  border-radius: 5px;
 }
tbody{
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.btn{
  background-color: $brand-primary ;
  color: white;
}