
<section id="team" class="pb-5">

    <div class="background-video video-container">
        <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
            <source src="../../../assets/videos/developer.mp4" type="video/mp4">
        </video>
        <div style="width: 100%;" class="content-over-video overlay">
            <h1 id="welcomeText" style="background-color: #a24f9a91;
      height: 111px;
      padding-top: 33px;font-size: 54px;color: white !important;font-weight: 500;"> OPT Nation Job Board
            </h1>
        </div>
    </div>
    <br><br>
    <div class="container">
        <h2 class="text-center tittle">All Integrations > Premium OPT Nation Job Board</h2>
        <span class="animate-border mr-auto ml-auto mb-4"></span>
        <div class="row">
            <div class="col-md-4 left-card">
                <div class="card" style="box-shadow: 8px 9px 20px -6px rgba(0,0,0,0.75);width: 20rem;">
                  <div class="text-center">
                    <img src="../../../assets/img/opt.png" style=" height: 6rem;
                    width: 14rem;margin-left: 4rem;"alt="Logo">
                    <div class="card-body" style="display: flex;
                    flex-flow: column;
                    margin-right: 120px;">
                        <h2 class="card-title">OPT Nation</h2>
                        <h3 class="card-subtitle mb-3 text-muted">Premium Job Board</h3>
                        <div class="button-group">
                          <a href="/"><button class="bn632-hover bn24">Book a Demo</button></a>
                          <a href="/"><button class="bn632-hover bn24">Start Free Trial</button></a>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
            <div class="col-md-8">
                <h1 style="font-size: 30px;font-weight: bold;">OPT Nation </h1>
                <p style="font-size: 20px;padding: 20px;
                font-weight: 400;
                font-style: italic;    letter-spacing: 2px;
        text-align: justify;">Integrating OPT Nation Search into your platform is a strategic decision to
                    enhance your users' job-seeking journey, particularly for international students on Optional
                    Practical Training (OPT). OPT Nation is recognized for its focus on providing job opportunities and
                    resources for OPT and CPT (Curricular Practical Training) holders. By incorporating OPT Nation
                    Search, you empower users to find employment opportunities aligned with their academic and career
                    pursuits.</p>
                <h1 style="font-size: 30px;font-weight: bold;"> Overview</h1>
                <ul style="font-size: 15px; letter-spacing: 2px; font-weight: 400; font-style: normal; list-style: none; padding-left: 0;">
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Specialized Job Listings: Offer users specialized job listings tailored for individuals on OPT and CPT, ensuring relevant opportunities aligned with their educational background.
                  </li>
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    User-Centric Experience: Provide an intuitive and user-centric job search interface, allowing users to navigate seamlessly and find job opportunities that match their skill sets and career goals.
                  </li>
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Customized Filters: Leverage OPT Nation's specialized filters to enable users to refine their job search based on specific criteria such as location, industry, and visa sponsorship.
                  </li>
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Real-Time Updates: Keep users informed about the latest job opportunities by synchronizing OPT Nation's job listings in real-time, ensuring they have access to current openings.
                  </li>
                  <li>
                    <i class="fas fa-check-circle text-success" style="font-size: 20px; vertical-align: middle;"></i>
                    Efficient Application Process: Streamline the application process, allowing users to apply for jobs directly through your platform and facilitating a smooth transition from academia to the workforce.
                  </li>
                </ul>

            </div>
            <hr>
        </div>
    </div>
</section>
