.btnColor{
    background-color: #49274A ; 
    border-color: #49274A ;
    color: #ffffff;
    border-radius: 0%;
  }
  .btnColor:hover{
    background-color: #94618E;
  }
  .btnColor:active{
    background-color: #49274A ; 
  }
.container{
    margin-top: 20px;
    border-top:3px solid  #49274A;
    background-color: #fff;
}