<div class="content-header">
  <div class="main main-container">
    <div class="container">
      <div class="row">
        <div class="col mt-2">
          <h2>Job Applicants</h2>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Search" (input)="performSearch($event.target.value)">
        </div>
      </div>

      <div class="row justify-content-end">

      </div>

      <div class="row mt-3">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Job Title</th>
                <th>Source</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let applicant of applicants">
                <td>{{ applicant.Date | date : "MM/dd/y" : "UTC"}}</td>
                <td>{{ applicant.Name }}</td>
                <td>{{ applicant.JobTitle }}</td>
                <td>{{ applicant.Source}} </td>
                <td>{{ applicant.Status }}</td>
                <td>
                  <i class="fas fa-check mr-4" (click)="acceptApplication(applicant.TraineeID)" style="color: #94618E;" title="Accept"></i>
                  <i class="fas fa-times mr-4" (click)="rejectApplication(applicant.TraineeID)" style="color: #94618E;" title="Reject"></i>
                  <a href="#" (click)="downloadDocument(applicant.documentUrl)" title="Download Resume">
                    <i class="fas fa-download" style="color: #94618E;"></i>
                  </a>
                </td>                                             
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>