<div class="content-header">
<div class="main main-container">
<div class="container">
    <div class="row">
      <div class="col mt-2">
        <h2>Job Applicants</h2>
      </div>
    </div>
  
    <div class="row mt-2">
      <div class="col">
        <button class="btn btnColor">Mark all as Read</button>
      </div>

      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search" (input)="performSearch($event.target.value)">
      </div>
    </div>
  

    <div class="row mt-2">
        <div class="col">
          <p>Displaying {{ displayedApplications }} of {{ totalApplications }} Applications</p>
        </div>
      </div>
  
    <div class="row justify-content-end">
        
      </div>
  
    <div class="row mt-3">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Job Title</th>
              <th>Legal Status</th>
              <th>Pay Rate</th>
              <th>Source</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let applicant of applicants">
              <td>{{ applicant.date }}</td>
              <td>{{ applicant.name }}</td>
              <td>{{ applicant.jobTitle }}</td>
              <td>{{ applicant.legalStatus }}</td>
              <td>{{ applicant.payRate}}</td>
              <td>{{ applicant.source}} </td>
            </tr>
            <tr *ngIf="applicants.length === 0">
              <td colspan="6">No data available in the table</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
  
</div>