$brand-primary:#49274a;

.btnColor{
    background-color: $brand-primary ; 
    border-color: $brand-primary ;
    color: #ffffff;
    border-radius: 0%;
  }
  .btnColor:hover{
    background-color: #94618E;
  }
  .btnColor:active{
    background-color: $brand-primary ; 
  }
.container{
    margin-top: 20px;
    border-top:3px solid  $brand-primary;
    background-color: #fff;
}