
<div class="content-header p-4">
  <div class="container main-container">
    <div class="row main pt-3">
        <div class="col-4">
        <h2>ALL JOB POSTINGS</h2>
        </div>
        <div class="col-4 form-group">
          <select id="jobOptionSelect" class="form-control">
            <option *ngFor="let option of jobOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div class="col-4 text-right">
        <button class="btn createNew" routerLink="/Myjobs/createnewjob">Create New Job</button>
      </div>
    </div>
  </div>


<div class="container main-container d-flex justify-content-end">
  <div class="form-group d-flex mt-3">
    <label for="searchInput" class="search-label">Search</label>
    <input type="text" id="searchInput" class="form-control">
  </div>
</div>
<div class="container main-container pb-1">
  <table>
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Pay Rate</th>
        <th>New Applicants</th>
        <th>Total Applicants</th>
        <th>Posted On</th>
        <th>Posted By</th>
        <th>Job Type</th>
        <th>Assignee</th>
        <th>Open</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td>{{ job.jobTitle }}</td>
        <td>{{ job.company }}</td>
        <td>{{ job.location }}</td>
        <td>{{ job.payRate }}</td>
        <td>{{ job.newApplicants }}</td>
        <td>
          {{ job.totalApplicants }}
          <a [routerLink]="['/applicantdetails']">
            <i class="fas fa-external-link-alt"></i></a>
        </td>
        <td>{{ job.postedOn | date }}</td>
        <td>{{ job.postedBy }}</td>
        <td>{{ job.jobType }}</td>
        <td>{{ job.assignee }}</td>
        <td>
          <a [routerLink]="['/Myjobs/createnewjob']"><i class="fas fa-pencil-alt" (click)="editJob(job)"></i></a>
          <a [routerLink]="['/submittedcandidates']"><i class="fas fa-id-badge" (click)="viewProfile(job)"></i></a>
          <a [routerLink]="['/jobpostings']"> <i class="fas fa-trash-alt" (click)="confirmDeleteJob(job)"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>