<div class="content-header p-3">
  <div class="container-fluid">
    <div class="row main pt-3">
      <div class="col-4">
        <h2>ALL JOB POSTINGS</h2>
      </div>
      <div class="col-4 form-group">
        <select id="jobOptionSelect" class="form-control">
          <option *ngFor="let option of jobOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="col-4 text-right">
        <button class="btn createNew" routerLink="/Myjobs/createnewjob">Create New Job</button>
      </div>
    </div>
    <div class="col-md-3 form-group d-flex mt-3 float-right">
      <label for="searchInput" class="search-label">Search</label>
      <input type="text" id="searchInput" class="form-control">
    </div>
    <table>

      <thead>
        <tr>
          <th>Job Title</th>
          <th>Company</th>
          <th>Location</th>
          <th>Pay Rate</th>
          <th>New Applicants</th>
          <th>Total Applicants</th>
          <th>Posted On</th>
          <th>Posted By</th>
          <th>Job Type</th>
          <th>Assignee</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.JobTitle }} {{job.JobID}}</td>
          <td>{{ job.Company }}</td>
          <td>{{ job.Location }}</td>
          <td>{{ job.PayRate }}</td>
          <td>{{ job.NewApplicants }}</td>
          <td>
            {{ job.TotalApplicants }}
            <a [routerLink]="['/applicantdetails/'+job.JobID]">
              <i class="fas fa-external-link-alt"></i></a>
          </td>
          <td>{{ job.PostedOn | date:'MM/dd/yy' }}</td>
          <td>{{ job.PostedBy }}</td>
          <td>{{ job.JobType }}</td>
          <td>
            <!-- <select [(ngModel)]="selectedRole">
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select> -->
          <select name="Assignee" id="assignee" [(ngModel)]="job.TraineeID"  [ngModelOptions]="{standalone: true}" (change)="updateSelected($event.target.value,job.JobID)">
            <option value="" selected disabled>Select Assignee</option>
            <option *ngFor="let name of recruiterNames" [value]="name.TraineeID">{{name.FirstName }} {{name.LastName}}</option>

        </select>
        
          </td>
          <td>
            <span data-toggle="tooltip" data-placement="bottom" title="Edit">
              <a [routerLink]="['/Myjobs/createnewjob']"><i class="fas fa-pencil-alt"></i></a>
            </span>
            <!-- <a [routerLink]="['/submitted-candidates', job.JobID]"><i class="fas fa-id-badge"></i></a> -->
            <span data-toggle="tooltip" data-placement="bottom" title="Delete">
              <i class="fas fa-trash-alt" data-toggle="modal" data-target="#exampleModal"></i>
            </span>
          </td>
        </tr>
        <tr *ngIf="noResultsFound">
          <td colspan="11" class="text-center">
            No results found.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Confirm!</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete the selected job?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn">Ok</button>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>