<section id="team" class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a routerLink="/homelanding"><img src="../assets/img/logo.png" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/features">Features</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/workforce">Workforce</a>
                        <a class="dropdown-item" routerLink="/talent-suite">Talent Suite</a>
                        <a class="dropdown-item" routerLink="/ats">Applicant Tracking System</a>
                        <a class="dropdown-item" routerLink="/timesheet">TimeSheet</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/market"> Marketplace</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                </li>
            </ul>
            <div class="content" style="margin-right: 62px;">
                <a href="/login" class="bn5">Login</a>
            </div>
        </div>
    </nav>
    <div class="background-video video-container">
        <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
            <!-- <source src="../../../assets/videos/developer.mp4" type="video/mp4"> -->
        </video>
        <div style="width: 100%;" class="content-over-video overlay">
            <h1 id="welcomeText" style="background-color: #a24f9a91;
      height: 111px;
      padding-top: 33px;font-size: 54px;color: white !important;"> Adobe Digital Signature
            </h1>
        </div>
    </div>
    <br>
    <div class="container">
        <h2 class="text-center tittle"> Adobe Digital Signature</h2>
        <span class="animate-border mr-auto ml-auto mb-4"></span>
        <br><br>
        <div class="row">
            <div class="col-md-6 left-card">
                <div class="card text-center">
                    <img src="../../../assets/img/adobe.png" style="    height: 5rem;
                    width: 20rem;
                    margin-left: 32px;
                    padding: 5px;" alt="Logo">
                    <div class="card-body">
                        <h2 class="card-title"> Adobe </h2>
                        <h3 class="card-subtitle mb-3 text-muted" style="font-weight: bold;"> Adobe Digital Signature
                        </h3>
                        <p class="card-text" style="font-style: italic;font-size: 20px;">Elevate document security with
                            Adobe Digital Signature. Ensure authenticity, streamline workflows, and sign with
                            confidence. Redefine how you approach digital agreements. 🚀</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 style="font-size: 30px;font-weight: bold;"> Adobe  </h1>
                <p style="font-size: 20px;padding: 20px;
                font-weight: 400;">
                    Unlock a new era of document
                    security with Adobe Digital Signature. Say goodbye to traditional signatures and embrace a
                    seamless, encrypted process. Whether it's contracts, agreements, or important forms, trust
                    in the integrity of your digital documents. Adobe Digital Signature: Redefining the art of
                    secure and efficient signing.</p>
                <h1 style="font-size: 30px;font-weight: bold;"> Overview:</h1>
                <ul class="FeatureDesc">
                    <li>Tech-Focused Talent Pool: Dice specializes in tech roles, ensuring that your job listings reach
                        a highly targeted and qualified audience in the technology sector.</li>
                    <li>Skill-Centric Matching: Leverage Dice's advanced algorithms for skill-centric matching,
                        connecting you with candidates whose expertise aligns with your job requirements.</li>
                    <li>Industry-Specific Visibility: Enhance the visibility of your tech-related job opportunities by
                        showcasing them on Dice, a platform known and trusted by technology professionals.</li>
                    <li>Efficient Hiring Process: Streamline your recruitment process by seamlessly posting and managing
                        tech job listings on both your platform and Dice simultaneously.</li>
                    <li>Real-Time Updates: Ensure that your tech job listings stay up-to-date across platforms with
                        real-time synchronization between your job board and Dice.</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 ">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>44121 Leesburg Pike., STE 230 Ashburn , VA 20147,Uinted States Of America
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>(703)9863350</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>contact</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-1">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="../assets/img/logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>With the right ATS recruiting system, you can increase the number of placements and
                                    grow
                                    your business.
                                    Tresume advanced recruit analytics helps you back up all your presentations with
                                    data.
                                    Create forecast
                                    for next quarter and keep track of important metrics.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <ul class="social_icon">
                                    <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Gallery</a></li>
                                <li><a href="#">Selection Process</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Sponsorship</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fa fa-telegram" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copy Rights 2023 TResume</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>