<!--
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="#">Work &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Iconography</a></li>
      </ul>
    </li>
  </ul>
</nav> -->


<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="main-timeline">
              <div class="timeline">
                  <a href="" class="timeline-content">
                      <div class="timeline-year">
                        <span> Arsenal of Tresume Timesheets</span>
                      </div>
                      <!-- <h3 class="title">Web Designing</h3> -->
                      <p class="description">     Tresume Timesheets: Elevate productivity with precision time tracking! Our cutting-edge solution ensures meticulous task and project time monitoring, as accurate as a laser-guided missile. Studies reveal an astounding 80% boost in accuracy, making your time allocation a masterpiece of precision.</p>
                  </a>
              </div>
              <div class="timeline">
                  <a href="" class="timeline-content">
                      <div class="timeline-year">
                        <span>Supercharge Productivity with Precision</span>
                      </div>
                      <!-- <h3 class="title">Web Development</h3> -->
                      <p class="description">Unleash the power of Tresume Timesheets to reveal work insights, paving the way for a 25% productivity surge. With its time budgeting and deadline prowess, this project management superhero helps you conquer milestones, manage resources, and triumph. Real-time analytics and progress tracking become your trusted sidekicks, ensuring informed decisions and project success.!</p>
                  </a>
              </div>
              <div class="timeline">
                <a href="" class="timeline-content">
                    <div class="timeline-year">
                        <span>2019</span>
                    </div>
                    <!-- <h3 class="title">Web Designing</h3> -->
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci culpa
                        dolore explicabo fuga pariatur gjkfdgj  quis reprehenderit tenetur vel!</p>
                </a>
            </div>
            <div class="timeline">
                <a href="" class="timeline-content">
                    <div class="timeline-year">
                        <span>2018</span>
                    </div>
                    <h3 class="title">Web Development</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci culpa
                        dolore explicabo fuga pariatur gjkfdgj  quis reprehenderit tenetur vel!</p>
                </a>
            </div>
            <div class="timeline">
              <a href="" class="timeline-content">
                  <div class="timeline-year">
                      <span>2019</span>
                  </div>
                  <h3 class="title">Web Designing</h3>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci culpa
                      dolore explicabo fuga pariatur gjkfdgj  quis reprehenderit tenetur vel!</p>
              </a>
          </div>
          <div class="timeline">
              <a href="" class="timeline-content">
                  <div class="timeline-year">
                      <span>2018</span>
                  </div>
                  <h3 class="title">Web Development</h3>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci culpa
                      dolore explicabo fuga pariatur gjkfdgj  quis reprehenderit tenetur vel!</p>
              </a>
          </div>
          </div>
      </div>
  </div>
</div>
