<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <a routerLink="/homelanding"><img src="../assets/img/logo.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/features">Features</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/workforce">Workforce</a>
                    <a class="dropdown-item" routerLink="/talent-suite">Talent Suite</a>
                    <a class="dropdown-item" routerLink="/ats">Applicant Tracking System</a>
                    <a class="dropdown-item" routerLink="/timesheet">TimeSheet</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/market"> Marketplace</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
        <div class="content">
            <a href="/login" class="bn5">Login</a>
        </div>
    </div>
</nav>
<div class="background-video video-container">
    <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
        <source src="../../../assets/videos/product.mp4" type="video/mp4">
    </video>
    <div style="width: 100%;" class="content-over-video overlay">
        <h1 id="welcomeText" style="background-color: #a24f9a91;
      height: 111px;
      padding-top: 33px;font-size: 54px;color: white; ">
            <span>Welcome</span>
            <span>to</span>
            <span>our</span>
            <span>Workforce</span>
        </h1>
    </div>
</div>
<br><br>
<div class="container">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="text-center">
                <h2 class="text-primary tittle"> Simplifying Onboarding and Document Management</h2>
                <!-- <span class="animate-border mr-auto ml-auto mb-4"></span> -->
            </div>
            <br><br>
            <div class="col-md-6">
                <img src="../../../assets/img/product.png" alt="Workforce Image"
                    class="img-fluid rounded d-block w-100">
            </div>
            <div class="col-md-6">
                <p>
                    Managing the onboarding process and ensuring compliance with document collection can be a complex
                    and
                    time-consuming task. With Tresume's Workforce module, we simplify onboarding and document management
                    by
                    automating processes and providing a centralized platform for collecting and managing onboarding
                    documents.
                </p>
            </div>
        </div>
    </div>
    <h2 class="text-center tittle">Key Features And Benefits</h2>
    <span class="animate-border mr-auto ml-auto mb-4"></span>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline8">
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">Document Collection</span>
                    <div class="timeline-content">
                        <!-- <h3 class="title">Web Desginer</h3> -->
                        <p class="description">
                            Streamline the collection of onboarding documents for different positions
                            within
                            your organization. Our platform allows you to create customized checklists, ensuring that
                            all necessary
                            documents are collected from candidates, such as resumes, identification proofs,
                            certifications, and more
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">Automated Reminders and Notifications</span>
                    <div class="timeline-content">
                        <!-- <h3 class="title">Web Developer</h3> -->
                        <p class="description">
                            Never miss an important document again. Tresume's Workforce module sends automated reminders
                            and notifications to candidates and HR teams, ensuring a timely collection of required
                            documents and reducing manual follow-ups.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">Secure Document Storage</span>
                    <div class="timeline-content">
                        <!-- <h3 class="title">Web Desginer</h3> -->
                        <p class="description">
                            : Safely store and organize all onboarding documents in a secure and centralized location.
                            Our platform ensures data privacy and compliance with industry regulations, providing peace
                            of mind for HR teams and candidates.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">Task Tracking and Completion</span>
                    <div class="timeline-content">
                        <!-- <h3 class="title">Web Developer</h3> -->
                        <p class="description">
                            Keep track of the onboarding progress for each candidate with our intuitive task tracking
                            system. HR teams can easily monitor the status of document collection, track completion
                            rates, and identify any outstanding items.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">Customizable Workflows</span>
                    <div class="timeline-content">
                        <!-- <h3 class="title">Web Developer</h3> -->
                        <p class="description">
                            Tailor the onboarding process to match your organization's unique requirements. Tresume's
                            Workforce module allows you to create customizable workflows, defining the specific steps
                            and document requirements for each position, ensuring a standardized onboarding experience.
                            Tresume's Workforce module simplifies onboarding and document management, reducing
                            administrative burden, ensuring compliance, and providing a smooth onboarding experience for
                            both candidates and HR teams.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 ">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>44121 Leesburg Pike., STE 230 Ashburn , VA 20147,Uinted States Of America
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>(703)9863350</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-1">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../assets/img/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>With the right ATS recruiting system, you can increase the number of placements and grow
                                your business.
                                Tresume advanced recruit analytics helps you back up all your presentations with data.
                                Create forecast
                                for next quarter and keep track of important metrics.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <ul class="social_icon">
                                <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Gallery</a></li>
                            <li><a href="#">Selection Process</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Sponsorship</a></li>
                            <li><a href="#">Our Policies</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fa fa-telegram" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copy Rights 2023 TResume</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>