@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.space{
  margin-left: 20px;
}

h2.tittle {
  font-size: 2rem;
  text-align: center;
  color: #93628d;
  font-weight: 600;
}
// button
.bn632-hover {
  width: 140px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  height: 48px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn24 {
  background-image: linear-gradient(
      to right,
      #D24F9A,
      #79265f,
      #D24F9A,
      #97618d
    );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
