<div class="container-fluid p-3">
  <div class="head d-flex justify-content-between p-3">
    <h2> ALL INVOICE</h2>
    <a class="btn btn float-left" style=" height: 29px;" href="create-invoice">
      + Create Invoice
    </a>
  </div>

  <body>
    <div class="container" style="font-size: 14px;">
      <div class="container mt-3">
        <div class="container mt-3">
          <ul class="nav nav-tabs" style="justify-content: flex-start; position: relative;">
            <li class="nav-item">
              <a class="nav-link active" id="allinvoices-tab" data-toggle="tab" href="#allinvoices"
                style="margin-left: 12px">
                All Invoices
              </a>
            </li>
            <li class="nav-item" style="position: relative;">
              <a class="nav-link" id="paidinvoices-tab" data-toggle="tab" href="#paidinvoices">
                Paid Invoices
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="unpaidinvoices-tab" data-toggle="tab" href="#unpaidinvoices"
                style="margin-left: 12px">
                Unpaid Invoices
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="allinvoices" class="tab-pane fade show active">
              <div class="row">
                <div class="col mt-4 containers">
                  <input type="search" style="width: 20%;" placeholder="Search by Project/Client Name" [(ngModel)]="searchQuery" (input)="applyFilter()">
                </div>
                <div class="col-md-10 mt-4 opt d-flex text-right">
                  <!-- <div class="btn-group mr-2">
                    <button type="button" class="btn btn-" data-toggle="modal" data-target="#exampleModal"
                      data-whatever="@fat">
                      Edit
                    </button>
                    <button type="button" class="btn btn- dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" style="margin-left: 1px;">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#makeInactiveModal">Make
                        inactive</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#mergeContactsModal">Merge
                        contacts</a>
                    </div>
                  </div> -->

                  <div class="modal fade" id="makeInactiveModal" tabindex="-1" role="dialog"
                    aria-labelledby="makeInactiveModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content" id="modal-3">

                        <div class="modal-body  modal-body-with-space">
                          <div class="exclamation-icon">
                            <i class="fas fa-exclamation-circle"></i>
                          </div>
                          <!-- <p>Either Tek System Inc or its sub-clients have an open balance. If Tek Systems Inc has sub-clients, making this client inactive and will create one or more adjusting transaction.</p> <br> -->
                          <p>If this clients has active projects, it will not be made inactive.</p> <br>
                          <p>Is this OK?</p>
                          <hr class="grey-line">
                          <div class="button-container">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <span class="button-space"></span> <!-- Add this line for spacing -->
                            <button class="save-button" (click)="save()">Yes, make inactive</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="mergeContactsModal" tabindex="-1" role="dialog"
                    aria-labelledby="mergeContactsModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content" id="modal-4">
                        <div class="modal-body">

                          <div class="row">
                            <div class="col-md-10">
                              <!-- Heading "Merge contacts" in the center of the popup -->
                              <h2 class="text-center darker-heading">Merge Contacts</h2>
                            </div>
                            <div class="col-md-2 text-right">
                              <!-- Close button -->
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          </div>
                          <!-- 2. Input text or dropdown for "Merge transactions from" -->
                          <div class="form-group" style="margin-top: 5rem;">
                            <label for="mergeFrom">Merge transactions from:</label>
                            <div class="input-group">
                              <input type="text" class="form-control" id="mergeFrom" placeholder="Select a value"
                                readonly>
                              <div class="input-group-append">
                                <button class="btn dropdown-toggle" type="button" id="mergeFromDropdown"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                  style="width: 43px;"></button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Option 1</a>
                                  <a class="dropdown-item" href="#">Option 2</a>
                                  <a class="dropdown-item" href="#">Option 3</a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- 3. Paragraph below the input -->
                          <p> <i class="fas fa-exclamation-circle" style="color: orangered;"></i> Make sure to save any
                            address, phone numbers, or other details from this contact. After you merge transactions,
                            all info from this contact will be deleted. </p>

                          <!-- 4. Input for "Into" -->
                          <div class="form-group">
                            <label for="mergeInto" class="light-label">Into:</label>

                            <div class="input-group">
                              <input type="text" class="form-control" id="mergeInto" placeholder="Select a value"
                                readonly>
                              <div class="input-group-append">
                                <button class="btn dropdown-toggle" type="button" id="mergeIntoDropdown"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                  style="width: 43px;"></button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Option A</a>
                                  <a class="dropdown-item" href="#">Option B</a>
                                  <a class="dropdown-item" href="#">Option C</a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <hr class="grey-line">

                          <div class="button-container" style="margin-top: 4rem;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <span class="button-space"></span>
                            <button class="save-button" (click)="save()">Merge</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title" id="exampleModalLabel">Name and contact</h1>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="container mt-4 modal-body" style="max-height: 300px; overflow-y: auto;">
                          <div class="row mb-3">
                            <div class="col">
                              <label for="title">Title</label>
                              <input type="text" class="form-control" id="textbox1">
                            </div>
                            <div class="col">
                              <label for="firstName">First name</label>
                              <input type="text" class="form-control" id="textbox2">
                            </div>
                            <div class="col">
                              <label for="textbox3">Middle name</label>
                              <input type="text" class="form-control" id="textbox3">
                            </div>
                            <div class="col">
                              <label for="textbox4">Suffix</label>
                              <input type="text" class="form-control" id="textbox4">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-6">
                              <label for="twoColumnTextbox1">Company name</label>
                              <input type="text" class="form-control" id="twoColumnTextbox1">
                            </div>
                            <div class="col-6">
                              <label for="dropdown">Client display name</label>
                              <select class="form-control" id="dropdown">
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-6">
                              <label for="textbox1">Email</label>
                              <input type="text" class="form-control">
                            </div>
                            <div class="col-6">
                              <label for="textbox1">Phone number</label>
                              <input type="text" class="form-control">
                            </div>
                          </div>

                          <div class="row mb-3">
                            <div class="col-6">
                              <label for="textbox1">Mobile number</label>
                              <input type="text" class="form-control">
                            </div>
                            <div class="col-6">
                              <label for="textbox1">Fax</label>
                              <input type="text" class="form-control">
                            </div>
                          </div>

                          <div class="row mb-3">
                            <div class="col-6">
                              <label for="textbox1">Other</label>
                              <input type="text" class="form-control">
                            </div>
                            <div class="col-6">
                              <label for="textbox1">Website</label>
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-6">
                            <label for="twoColumnTextbox1">Name to print on checks </label>
                            <input type="text" class="form-control" id="twoColumnTextbox1" style="width: 29rem;">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="checkboxButton">
                              <label class="form-check-label" for="checkboxButton">
                                Is a sub-client
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="dropdown">
                    <!-- <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      New transaction
                    </button> -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <a class="dropdown-item" href="#">Invoice</a>
                      <!-- <a class="dropdown-item" href="multiple-invoices">Multiple Invoice</a> -->
                      <a class="dropdown-item" href="#">Payment</a>
                      <!-- <a class="dropdown-item" href="#">Estimate</a> -->
                      <!-- <a class="dropdown-item" href="#">Sales Receipt</a> -->
                      <!-- <a class="dropdown-item" href="#">Credit Memo</a> -->
                      <!-- <a class="dropdown-item" href="#">Delayed Charge</a> -->
                      <a class="dropdown-item" href="time-activity">Time activity</a>
                      <!-- <a class="dropdown-item" href="create-statements">Statement</a> -->

                    </div>


                  </div>
                </div>
              </div>

              <!-- <div class="row cards">
                <div class="card mb-3">
                  <div class="card-body rec">
                    <h1 class="card-title">Tek System Inc <span>
                        <i class="fas fa-envelope" style="margin-left: 12px;"></i>
                        <i class="fas fa-phone fa-flip-horizontal" style="margin-left: 14px;"></i>
                      </span></h1>
                  </div>
                  <div class="company-info-billing" style="display: flex; align-items: flex-start; margin-top: -6rem;">

                    <div class="company-info" style="margin-left: 25px;">
                      <h4 style="text-decoration: underline;">Company Name</h4>
                      <p>Tek System</p>
                    </div>

                    <div class="billing-address" style="margin-left: 20rem;">
                      <h4 style="text-decoration: underline;">Billing Address</h4>
                      <p>7437 Race Road,Hanover,MD 21076</p>
                    </div>

                  </div>


                  <div class="side-heading info" style="margin-left: 25px; margin-top: 17px;">
                    <h4 style="text-decoration: underline;">Add</h4>
                    <p style="margin-top: -13px; "><a href="#">Notes</a></p>
                  </div>

                </div>

                <div class="card mb-3 ml-3">
                  <div class="card-body square text-center">
                    <h1 class="card-title">Summary</h1>
                  </div>
                  <div class="balance-section" style="margin-left: 4rem;">

                    <h2 class="text-dark">
                      <div class="balance-mark" style="margin-bottom: -7px;"></div> $66,069.55
                    </h2>

                    <p>Open Balance</p>
                  </div>
                  <div class="balance-section" style="margin-left: 4rem;">
                    <h2 class="text-dark">
                      <div class="balance-marks" style="margin-bottom: -7px;"></div>$57,526.68
                    </h2>
                    <p>Overdue payment</p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="row" style="margin-top: 5rem;"> -->
                <!-- <div class="col-md-2">
                  <label for="batchActions">Batch Actions</label>
                  <select *ngIf="activeTab === 'allinvoices'" class="form-control" id="batchActions"
                    name="batchActions">
                    <option *ngFor="let option of batchActionsOptions" [value]="option" disabled selected>{{ option }}
                    </option>
                  </select>
                </div> -->

                <!-- <div class="col-md-2">
                  <label for="type">Type</label>
                  <select *ngIf="activeTab === 'allinvoices'" class="form-control" id="type" name="type">
                    <option *ngFor="let option of typeOptions" [value]="option">{{ option }}</option>
                  </select>
                </div> -->

                <!-- <div class="col-md-2">
                  <label for="status">Status</label>
                  <select *ngIf="activeTab === 'allinvoices'" class="form-control" id="status" name="status">
                    <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
                  </select>
                </div> -->

                <!-- <div class="col-md-2">
                  <label for="date">Date</label>
                  <select class="form-control" id="date" name="date"
                    (change)="toggleCustomDateModel($event.target.value)">
                    <option *ngFor="let option of dateOptions" [value]="option">{{ option }}</option>
                  </select>

                  <div *ngIf="showCustomDateModel" class="custom-date-model">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate">

                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate">

                    <button (click)="resetDates()">Reset</button>
                    <button (click)="applyAndClose()" class="m-1">Apply</button>
                  </div>
                </div> -->



                <!-- <div class="col-md-2 mt-4">
                  <a href="#" (click)="viewRecurringTemplates()" style="margin-left: 8px;">Recurring templates</a>
                </div>

                <div class="col-md-2 mt-4">
                  <a href="#" (click)="feedbackWithIcon()">Feedback</a>
                </div> -->
              <!-- </div> -->

              <div class="action-icons icons-container float-right mt-3">
                <i class="material-icons" onclick="exportAsPDF()">print</i>
                <i class="fas fa-upload" onclick="downloadExcel()"></i>
                <!-- <i class="fas fa-cog" onclick="openSettings()"></i> -->
              </div>
              <div style="font-size: 12px;">
                <table class="table no-border mt-4">
                  <thead class="underline">
                      <tr>
                          <td><input type="checkbox"></td>
                          <th>DATE</th>
                          <th>TYPE</th>
                          <th>NO.</th>
                          <th>CLIENT/PROJECT</th>
                          <th>MEMO</th>
                          <th>AMOUNT</th>
                          <th>STATUS</th>
                          <th>ACTION</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let invoice of filteredInvoices">
                      <td><input type="checkbox"></td>
                      <td>{{ invoice.date | date: "MM/dd/y" : "UTC" }}</td>
                      <td>Invoice</td>
                      <td>{{ invoice.invoiceNo }}</td>
                      <td>{{ invoice.projectname }}</td>
                      <td>{{ invoice.memo | date: "MM/dd/y" : "UTC" }}</td>
                      <td>{{ invoice.total }}</td>
                      <td>{{ invoice.status ? 'Paid' : 'Unpaid' }}</td>
                      <td>
                          <button class="btn btn-" (click)="editAction()">Edit</button>
                          <div class="btn-group received" style="margin-left: 5px;">
                              <a class="btn btn float-left" style=" height: 30px;" href="payment">Receive Payment</a>
                              <button type="button" class="btn btn- dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                      style="margin-left: 1px;">
                                  <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <i class="fas fa-download" style="margin-top: 4px;margin-left: 10px;font-size: 22px; "></i>
                              <div class="dropdown-menu">
                                  <a class="dropdown-item" href="create-invoice" (click)="duplicateAction()">View/Edit</a>
                                  <a class="dropdown-item" href="create-invoice" (click)="sendAction()">Duplicate</a>
                                  <a class="dropdown-item" href="send-invoice" (click)="sendAction()">Send</a>
                                  <a class="dropdown-item" href="send-invoice" (click)="sendAction()">Send reminder</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createTaskModal">Create task</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#shareLinkModal">Share invoice link</a>
                                  <a class="dropdown-item" href="#" (click)="duplicateAction()">Print</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal"
                                      data-target="#deleteConfirmationModal">Delete</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  
                      <tr *ngIf="noResultsFound">
                          <td colspan="9" class="text-center">
                              No results found.
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>

            </div>


            <div id="paidinvoices" class="tab-pane fade">
              <div class="row">
                <div class="col mt-4 containers">
                  <input type="search" style="width: 20%;" placeholder="Search by Project/Client Name" [(ngModel)]="searchPaidQuery" (input)="applyPaidFilter()">
                </div>
              </div>
              <div class="action-icons icons-container float-right mt-3">
                <i class="material-icons" onclick="handlePrint()">print</i>
                <i class="fas fa-upload" onclick="handleFileUpload()"></i>
                <!-- <i class="fas fa-cog" onclick="openSettings()"></i> -->
              </div>
              <table class="table no-border" style="margin-top: 50px;">
                <thead class="underline">
                  <tr>
                    <!-- Header cells -->
                    <th><input type="checkbox"></th>
                    <th>DATE</th>
                    <th>TYPE</th>
                    <th>NUMBER</th>
                    <th>CLIENT/PROJECT</th>
                    <th>MEMO</th>
                    <th>AMOUNT</th>
                    <th>STATUS</th>
                    <th>ACTION</th>

                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of filteredPaidInvoices">
                        <td><input type="checkbox"></td>
                        <td>{{ invoice.date | date : "MM/dd/y" : "UTC" }}</td>
                        <td>Invoice</td>
                        <td>{{ invoice.invoiceNo }}</td>
                        <td>{{ invoice.projectname }}</td>
                        <td>{{ invoice.memo | date : "MM/dd/y" : "UTC" }}</td>
                        <td>{{ invoice.total }}</td>
                        <td>{{ invoice.status ? 'Paid' : 'Unpaid' }}</td>
                        <td>
                            <button class="btn btn-" (click)="editAction()">Edit</button>
                            <div class="btn-group received" style="margin-left: 5px;">
                                <a class="btn btn float-left" style="height: 30px;" href="payment">Receive Payment</a>
                                <button type="button" class="btn btn- dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="margin-left: 1px;">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <i class="fas fa-download" style="margin-top: 4px;margin-left: 10px;font-size: 22px;"></i>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="create-invoice" (click)="duplicateAction()">View/Edit</a>
                                    <a class="dropdown-item" href="create-invoice" (click)="sendAction()">Duplicate</a>
                                    <a class="dropdown-item" href="send-invoice" (click)="sendAction()">Send</a>
                                    <a class="dropdown-item" href="send-invoice" (click)="sendAction()">Send reminder</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createTaskModal">Create
                                        task</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#shareLinkModal">Share
                                        invoice link</a>
                                    <a class="dropdown-item" href="#" (click)="duplicateAction()">Print</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                        data-target="#deleteConfirmationModal">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                  <tr *ngIf="noResultsFound">
                    <td colspan="9" class="text-center">
                      No results found.
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>


            <div id="unpaidinvoices" class="tab-pane fade">
              <div class="row">
                <div class="col mt-4 containers">
                  <input type="search" style="width: 20%;" placeholder="Search by Project/Client Name" [(ngModel)]="searchUnpaidQuery" (input)="applyUnpaidFilter()">
                </div>
              </div>
              <td class="action-icons icons-container float-right mt-3">
                <i class="material-icons" onclick="handlePrint()">print</i>
                <i class="fas fa-upload" onclick="handleFileUpload()"></i>
                <!-- <i class="fas fa-cog" onclick="openSettings()"></i> -->
              </td>
              <div style="font-size: 12px;">
                <table class="table no-border" style="margin-top: 50px;">
                  <thead class="underline">
                    <tr>
                      <td><input type="checkbox"></td>
                      <th>DATE</th>
                      <th>TYPE</th>
                      <th>NO.</th>
                      <th>CLIENT/PROJECT</th>
                      <th>MEMO</th>
                      <th>AMOUNT </th>
                      <th>STATUS</th>
                      <th>ACTION</th>

                    </tr>
                  </thead>
                  
                  <tbody>
                      <tr *ngFor="let invoice of filteredUnpaidInvoices">
                          <td><input type="checkbox"></td>
                          <td>{{ invoice.date | date : "MM/dd/y" : "UTC" }}</td>
                          <td>Invoice</td>
                          <td>{{ invoice.invoiceNo }}</td>
                          <td>{{ invoice.projectname }}</td>
                          <td>{{ invoice.memo | date : "MM/dd/y" : "UTC" }}</td>
                          <td>{{ invoice.total }}</td>
                          <td>{{ invoice.status ? 'Paid' : 'Unpaid' }}</td>
                          <td>
                              <button class="btn btn-" (click)="editAction()">Edit</button>
                              <div class="btn-group received" style="margin-left: 5px;">
                                  <a class="btn btn float-left" style="height: 30px;" href="payment">Receive Payment</a>
                                  <button type="button" class="btn btn- dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                      style="margin-left: 1px;">
                                      <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <i class="fas fa-download" style="margin-top: 4px;margin-left: 10px;font-size: 22px;"></i>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" href="create-invoice" (click)="duplicateAction()">View/Edit</a>
                                      <a class="dropdown-item" href="create-invoice" (click)="sendAction()">Duplicate</a>
                                      <a class="dropdown-item" href="send-invoice" (click)="sendAction()">Send</a>
                                      <a class="dropdown-item" href="send-invoice" (click)="sendAction()">Send reminder</a>
                                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createTaskModal">Create
                                          task</a>
                                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#shareLinkModal">Share
                                          invoice link</a>
                                      <a class="dropdown-item" href="#" (click)="duplicateAction()">Print</a>
                                      <a class="dropdown-item" href="#" data-toggle="modal"
                                          data-target="#deleteConfirmationModal">Delete</a>
                                  </div>
                              </div>
                          </td>
                      </tr>
                    <tr *ngIf="noResultsFound">
                      <td colspan="9" class="text-center">
                        No results found.
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
          <div class="modal fade" id="shareLinkModal" tabindex="-1" role="dialog" aria-labelledby="shareLinkModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="shareLinkModalLabel">Send your customer a link to their invoice</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Skip the cluttered inbox and share an invoice link instead. Your customer can download, print, or
                    pay it in an instant.</p>
                  <p class="link-content">http://localhost:4200/homelanding</p>
                  <hr class="grey-line">
                  <div class="button-container">
                    <button class="copy-link-button" (click)="copyLink()">Copy Link</button>
                    <button class="save-button" (click)="save()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade big-modal" id="createTaskModal" tabindex="-1" role="dialog"
            aria-labelledby="createTaskModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="height: 41rem;">
                <div class="modal-header">
                  <h2 style="margin-left: auto;">Add task</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body">

                  <div class="container mt-3">
                    <div class="row">
                      <div class="col">
                        <div class="taskname mt-0 ml-3">
                          <label for="taskname" class="ml-0">Task Name </label>
                          <input type="text" id="taskname" placeholder="Enter task name" class="form-control ml-0"
                            style="width: 28rem; height: 40px;">
                        </div>
                      </div>
                    </div>

                    <div class="row mt-3">
                      <div class="col-md-6">
                        <div class="form-group ml-3">
                          <label for="assignedTo">Assigned To</label>
                          <select class="form-control" id="assignedTo">
                            <!-- Add options for assigned to here -->
                            <option value="user1">User 1</option>
                            <option value="user2">User 2</option>
                            <option value="user3">User 3</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group ml-3">
                          <label for="dueDate">Due Date</label>
                          <input type="date" id="dueDate" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <div class="form-group ml-3">
                        <label for="notes">Notes</label>
                        <textarea id="notes" class="form-control" rows="3" placeholder="Enter notes"></textarea>
                        <p>Invoice no: 92093| Amount: $750.55| Client: Swoon Group, LLC:Ketul Shailesh Patel </p>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <h5 class="ml-3">Attach Documents</h5>
                      <div class="ml-3">
                        <label for="uploadInput" class="btn">
                          <i class="fa fa-upload"></i> Upload Document
                        </label>
                        <input type="file" id="uploadInput" style="display: none" (change)="uploadFile($event)">

                        &nbsp; <!-- Non-breaking space for spacing -->

                        <label for="uploadInput" class="btn" (click)="selectDocument($event)">
                          <i class="fa fa-file"></i> Select Document
                        </label>
                      </div>
                    </div>
                  </div>


                  <div class="modal-footer" style="margin-top: 2rem;">
                    <div class="button-container">
                      <button class="save-button btn" (click)="save()">Save</button>
                    </div>
                  </div>
                  <!-- Increase the height by adding more content or adjusting the height property -->
                  <div></div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="modal-body d-flex flex-column align-items-center">
                    <i class="fas fa-exclamation-circle fa-3x mb-3 red-icon"></i>
                    <h2>Delete invoice?</h2>
                    <p style="font-size: 16px;">This erases the invoice forever, and your customer won't be able to pay
                      it. You can't undo this.</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="confirmDelete()">Yes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="cancelDelete()">No</button>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </body>
</div>


<p-toast position="bottom-right"></p-toast>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>










