<div class="container-fluid p-3">
  <div class="head d-flex justify-content-between p-3">
    <h2> ALL INVOICE</h2>
  </div>

  <body>
             <div class="container" style="font-size: 13px ;">
                <div class="container mt-3">
                  <div class="container mt-3">
                    <ul class="nav nav-tabs" style="justify-content: flex-start; position: relative;">
                        <li class="nav-item">
                            <a class="nav-link active" id="allinvoices-tab" data-toggle="tab" href="#allinvoices" style="margin-left: 12px">
                                All Invoices
                            </a>
                        </li>
                        <li class="nav-item" style="position: relative;">
                            <a class="nav-link" id="paidinvoices-tab" data-toggle="tab" href="#paidinvoices">
                                Paid Invoices
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="unpaidinvoices-tab" data-toggle="tab" href="#unpaidinvoices" style="margin-left: 12px">
                                Unpaid Invoices
                            </a>
                        </li>
                    </ul>
                


                    
                    <div class="tab-content" style="margin-top: 26px;">
                      <div id="allinvoices" class="tab-pane fade show active">
                        <div class="row">
                          <div class="col-md-2">
                            <label for="batchActions">Batch Actions</label>
                            <select *ngIf="activeTab === 'allinvoices'" class="form-control" id="batchActions" name="batchActions">
                              <option value="action1">Action 1</option>
                              <option value="action2">Action 2</option>
                            </select>
                          </div>
                  
                          <div class="col-md-2">
                            <label for="type">Type</label>
                            <select *ngIf="activeTab === 'allinvoices'" class="form-control" id="type" name="type">
                              <option value="allTransaction">All transaction</option>
                              <option value="allPlusDeposits">All plus deposits</option>
                              <option value="estimate">Estimate</option>
                              <option value="creditMemos">Credit memos</option>
                              <option value="salesReceipt">Sales Receipts</option>
                              <option value="unbilledIncome">Unbilled Income</option>
                              <option value="moneyReceived">Money received</option>
                              <option value="recentlyPaid">Recently paid</option>
                            </select>
                          </div>
                  
                          <div class="col-md-2">
                            <label for="status">Status</label>
                            <select *ngIf="activeTab === 'allinvoices'" class="form-control" id="status" name="status">
                              <option value="all">All</option>
                              <option value="open">Open</option>
                              <option value="overDue">Overdue</option>
                              <option value="paid">Paid</option>
                              <option value="voided">Voided</option>
                            </select>
                          </div>
                  
                          <div class="col-md-2">
                            <label for="date">Date</label>
                            <select *ngIf="activeTab === 'allinvoices'" class="form-control" id="date" name="date">
                              <option value="all">All</option>
                              <option value="customDate" (click)="toggleCustomDateModel()">Custom dates</option>
                              <option value="today">Today</option>
                              <option value="yesterday">Yesterday</option>
                              <option value="thisWeek">This week</option>
                              <option value="lastWeek">Last week</option>
                              <option value="thisMonth">This month</option>
                              <option value="lastMonth">Last month</option>
                              <option value="thisQuarter">This quarter</option>
                              <option value="lastQuarter">Last quarter</option>
                            </select>
                           
                            <div *ngIf="showCustomDateModel" class="custom-date-model">
                              <label for="startDate">Start Date:</label>
                              <input type="date" id="startDate" [(ngModel)]="startDate">
                          
                              <label for="endDate">End Date:</label>
                              <input type="date" id="endDate" [(ngModel)]="endDate">
                          
                              <button (click)="resetDates()">Reset</button>
                              <button (click)="applyDates()">Apply</button>
                            </div>
                          </div>
                            <div class="col-md-2 mt-4 " >
                              <a href="#" (click)="viewRecurringTemplates()" style="margin-left: 8px;"> Recurring templates</a>
                            </div>
                            

                          <div class="col-md-2 mt-4">
                            <a href="#" (click)="feedbackWithIcon()">Feedback </a>
                          </div>
                          <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  ...
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div> -->

                          
                          <div class="row col-md-2 mt-4">
                          <input type="text" id="searchInput" placeholder="Find by Invoice no." style=" width : 136px; height: 34px; margin-left: 25px;">
                        </div>
                        <div class="col-md-2 mt-4">
                          <input type="text" id="searchInput" placeholder="Find by client" style=" width : 136px; height: 34px; margin-left: 25px;">
                        </div>
                        </div>

                        <div class="row cards">
                          <div class="card mb-3">
                             <div class="card-body rec">
                              <h1 class="card-title">Tek System Inc <span></span></h1>
                            </div>
                              <div class="company-info" style="margin-top: -118px; margin-left: 25px;">
                                <h4 style="text-decoration: underline;">Company Name</h4>
                                <p style="margin-top: -9px;">Tek System</p>
                              </div>
                        
                              <div class="side-heading info" style="margin-left: 25px; margin-top: 17px;">
                                <h4 style="text-decoration: underline;">Add</h4>
                                <p style="margin-top: -13px; "><a href="#">Notes</a></p> <!-- Provide the link to your notes here -->
                              </div>
                            
                          </div>
                        
                          <div class="card mb-3 ml-3">
                            <div class="card-body square text-center">
                              <h1 class="card-title">Summary</h1>
                              </div>
                              <!-- First Open Balance section -->
                              <div class="balance-section">
                                <h2 class="text-dark">$500</h2>
                                <p>Open Balance</p>
                              </div>
                        
                              <!-- Second Open Balance section -->
                              <div class="balance-section">
                                <h2 class="text-dark">$700</h2>
                                <p>Open Balance</p>
                              </div>
                          </div>
                        </div>
                        

                        <div style="font-size: 12px;"> <!-- Adjust the font-size as needed -->
                          <table class="table no-border" style="margin-top: 50px;">
                              <thead class="underline">
                                  <tr>
                                      <td><input type="checkbox"></td>
                                      <th>DATE</th>
                                      <th>TYPE</th>
                                      <th>NO.</th>
                                      <th>CLIENT/PROJECT</th>
                                      <th>MEMO</th> 
                                      <th colspan="2">AMOUNT STATUS</th>
                                      <th>ACTION</th>
                                      <td class="action-icons">
                                        <!-- Print Icon -->
                                        <i class="material-icons" onclick="handlePrint()">print</i>
                                        <!-- File Upload Icon -->
                                        <i class="fas fa-upload" onclick="handleFileUpload()"></i>
                                        <!-- Settings Icon -->
                                        <i class="fas fa-cog" onclick="openSettings()"></i>
                                      </td>
                                                   
                                  </tr>
                                  <tr>
                                      <td><input type="checkbox"></td>
                                      <td>11/17/23</td>                                      
                                      <td>Invoice</td>
                                      <td>90801</td>
                                      <td>TEK system Inc: Shushant Bathini </td>
                                      <td>11/17/2023 to 08/04/2023</td>
                                      <td>
                                          240.00 
                                          <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                          <p>Partially paid, $48 due</p>
                                          
                                      </td>
                                      <td colspan="2">
                                          <button class="btn btn-" onclick="editAction()">Edit</button>
                                          <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                      </td> 
                                      
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>

                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                        240.00 
                                        <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                        <p>Partially paid, $48 due</p>
                                        
                                    </td>
                                    <td colspan="2">
                                        <button class="btn btn-" onclick="editAction()">Edit</button>
                                        <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                    </td> 
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>11/17/23</td>                                      
                                  <td>Invoice</td>
                                  <td>90801</td>
                                  <td>TEK system Inc: Shushant Bathini </td>
                                  <td>11/17/2023 to 08/04/2023</td>
                                  <td>
                                    240.00
                                    <span style="color: green; margin-left: 5px;">
                                        <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                    </span>
                                    <span style="color: green;">Paid</span>
                                </td>
                                  <td colspan="2">
                                    <button class="btn btn-" onclick="editAction()">Edit</button>
                                    <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                </td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>11/17/23</td>                                      
                                  <td>Invoice</td>
                                  <td>90801</td>
                                  <td>TEK system Inc: Shushant Bathini </td>
                                  <td>11/17/2023 to 08/04/2023</td>
                                  <td>
                                      240.00 
                                      <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                      <p>Partially paid, $48 due</p>
                                      
                                  </td>
                                  <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td> 
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>11/17/23</td>                                      
                                <td>Invoice</td>
                                <td>90801</td>
                                <td>TEK system Inc: Shushant Bathini </td>
                                <td>11/17/2023 to 08/04/2023</td>
                                <td>
                                    240.00 
                                    <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                    <p>Partially paid, $48 due</p>
                                    
                                </td>
                                <td colspan="2">
                                    <button class="btn btn-" onclick="editAction()">Edit</button>
                                    <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                </td> 
                            </tr>
                              </thead>
                          </table>
                      </div>
                      
                      </div>
                
                      
                        <div id="paidinvoices" class="tab-pane fade">
                          <div class="row">
                            <div class="col-md-2 mt-4">
                                <input type="text" id="searchInputInvoice" placeholder="Find by Invoice no." style="width: 136px; height: 34px; margin-left: 25px;">
                            </div>
                            <div class="col-md-2 mt-4">
                                <input type="text" id="searchInputClient" placeholder="Find by Client" style="width: 136px; height: 34px; margin-left: 25px;">
                            </div>
                        </div>
                
                            <table class="table no-border" style="margin-top: 50px;">
                                <thead class="underline">
                                  <tr>
                                    <td><input type="checkbox"></td>
                                      <th>DATE</th>
                                      <th>TYPE</th>
                                      <th>NO.</th>
                                      <th>CLIENT/PROJECT</th>
                                      <th>MEMO</th>
                                      <th colspan="2">AMOUNT STATUS</th>
                                      <th>ACTION</th>
                                      <td class="action-icons">
                                        <!-- Print Icon -->
                                        <i class="material-icons" onclick="handlePrint()">print</i>
                                        <!-- File Upload Icon -->
                                        <i class="fas fa-upload" onclick="handleFileUpload()"></i>
                                        <!-- Settings Icon -->
                                        <i class="fas fa-cog" onclick="openSettings()"></i>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                      240.00
                                      <span style="color: green; margin-left: 5px;">
                                          <i class="fas fa-check-circle"></i> <!-- Font Awesome check-circle icon -->
                                      </span>
                                      <span style="color: green;">Paid</span>
                                  </td>
                                    <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td>
                                  </tr>

                              </thead>
                          </table>
                        </div>
                
                    
                        <div id="unpaidinvoices" class="tab-pane fade">
                          <div class="row">
                            <div class="col-md-2 mt-4">
                                <input type="text" id="searchInputInvoice" placeholder="Find by Invoice no." style="width: 136px; height: 34px; margin-left: 25px;">
                            </div>
                            <div class="col-md-2 mt-4">
                                <input type="text" id="searchInputClient" placeholder="Find by client" style="width: 136px; height: 34px; margin-left: 25px;">
                            </div>
                        </div>
                        <div style="font-size: 12px;"> <!-- Adjust the font-size as needed -->
                          <table class="table no-border" style="margin-top: 50px;">
                              <thead class="underline">
                                  <tr>
                                      <td><input type="checkbox"></td>
                                      <th>DATE</th>
                                      <th>TYPE</th>
                                      <th>NO.</th>
                                      <th>CLIENT/PROJECT</th>
                                      <th>MEMO</th>
                                      <th colspan="2">AMOUNT STATUS</th>
                                      <th>ACTION</th>
                                      <td class="action-icons">
                                        <!-- Print Icon -->
                                        <i class="material-icons" onclick="handlePrint()">print</i>
                                        <!-- File Upload Icon -->
                                        <i class="fas fa-upload" onclick="handleFileUpload()"></i>
                                        <!-- Settings Icon -->
                                        <i class="fas fa-cog" onclick="openSettings()"></i>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><input type="checkbox"></td>
                                      <td>11/17/23</td>                                      
                                      <td>Invoice</td>
                                      <td>90801</td>
                                      <td>TEK system Inc: Shushant Bathini </td>
                                      <td>11/17/2023 to 08/04/2023</td>
                                      <td>
                                          240.00 
                                          <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                          <p>Partially paid, $48 due</p>
                                          
                                      </td>
                                      <td colspan="2">
                                          <button class="btn btn-" onclick="editAction()">Edit</button>
                                          <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                      </td> 
                                  </tr>
                                  <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11/17/23</td>                                      
                                    <td>Invoice</td>
                                    <td>90801</td>
                                    <td>TEK system Inc: Shushant Bathini </td>
                                    <td>11/17/2023 to 08/04/2023</td>
                                    <td>
                                        240.00 
                                        <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                        <p>Partially paid, $48 due</p>
                                        
                                    </td>
                                    <td colspan="2">
                                        <button class="btn btn-" onclick="editAction()">Edit</button>
                                        <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                    </td> 
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>11/17/23</td>                                      
                                  <td>Invoice</td>
                                  <td>90801</td>
                                  <td>TEK system Inc: Shushant Bathini </td>
                                  <td>11/17/2023 to 08/04/2023</td>
                                  <td>
                                      240.00 
                                      <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                      <p>Partially paid, $48 due</p>
                                      
                                  </td>
                                  <td colspan="2">
                                      <button class="btn btn-" onclick="editAction()">Edit</button>
                                      <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                  </td> 
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>11/17/23</td>                                      
                                <td>Invoice</td>
                                <td>90801</td>
                                <td>TEK system Inc: Shushant Bathini </td>
                                <td>11/17/2023 to 08/04/2023</td>
                                <td>
                                    240.00 
                                    <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                    <p>Partially paid, $48 due</p>
                                    
                                </td>
                                <td colspan="2">
                                    <button class="btn btn-" onclick="editAction()">Edit</button>
                                    <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                </td> 
                            </tr>
                            <tr>
                              <td><input type="checkbox"></td>
                              <td>11/17/23</td>                                      
                              <td>Invoice</td>
                              <td>90801</td>
                              <td>TEK system Inc: Shushant Bathini </td>
                              <td>11/17/2023 to 08/04/2023</td>
                              <td>
                                  240.00 
                                  <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                  <p>Partially paid, $48 due</p>
                                  
                              </td>
                              <td colspan="2">
                                  <button class="btn btn-" onclick="editAction()">Edit</button>
                                  <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                              </td> 
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td>11/17/23</td>                                      
                            <td>Invoice</td>
                            <td>90801</td>
                            <td>TEK system Inc: Shushant Bathini </td>
                            <td>11/17/2023 to 08/04/2023</td>
                            <td>
                                240.00 
                                <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                <p>Partially paid, $48 due</p>
                                
                            </td>
                            <td colspan="2">
                                <button class="btn btn-" onclick="editAction()">Edit</button>
                                <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                            </td> 
                        </tr>
                         <tr>
                                      <td><input type="checkbox"></td>
                                      <td>11/17/23</td>                                      
                                      <td>Invoice</td>
                                      <td>90801</td>
                                      <td>TEK system Inc: Shushant Bathini </td>
                                      <td>11/17/2023 to 08/04/2023</td>
                                      <td>
                                          240.00 
                                          <span style="color: red; margin-left: 5px;">&#9888;Overdue 24 days</span><br>
                                          <p>Partially paid, $48 due</p>
                                          
                                      </td>
                                      <td colspan="2">
                                          <button class="btn btn-" onclick="editAction()">Edit</button>
                                          <button class="btn pay" onclick="paymentReceivedAction()">Payment received</button>
                                      </td> 
                                  </tr>
                              </thead>
                          </table>
                      </div>
                        </div>
                    </div>
                </div>



                </div>
            </div>

            <!-- <div class="row mt-3">
                <div class="d-flex">
                  <button class="btn btn-primary btn-block fbtn" style="margin-left: 25px ;">Cancel</button>
                </div>
                <div class="d-flex"> 
                  <button class="btn btn-primary btn-block fbtn" style="margin-left: 21rem;">Print or Preview</button>
                </div>
                <div class="d-flex dropdown">
                  <button class="btn btn-primary dropdown-toggle fbtn" type="button" id="saveAndNewDropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 25rem;">
                    Save and New
                  </button>
                  <div class="dropdown-menu" aria-labelledby="saveAndNewDropdown">
                    <a class="dropdown-item" href="#">Save and close</a>
                    <a class="dropdown-item" href="#">Save and send</a>
                  </div>
                  </div>
              
                </div> -->

        

       
       
     
  </body>
</div>