

.nav-tabs {
  justify-content: space-around;
  position: relative;
  color: black;
}

.nav-item {
  position: relative;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: black;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #49274a;
  transition: all 0.3s;
}

.nav-link.active::after {
  width: 100%;
  left: 0;
}

.table.no-border {
  border-collapse: collapse;
  border: none;
}

.underline th {
  border-bottom: 2px solid #000;
}
.nav-link {
font-size: 20px;
color: #333;
color: black;
}

.nav-link::after {
content: "";
position: absolute;
bottom: -1px;
left: 50%;
width: 0;
height: 2px;
transition: all 0.3s;
border-bottom: 4px solid;
border-bottom: 4px solid rgb(88, 21, 88);
}


.nav-link{
margin-bottom: -1px;
border: 1px solid transparent;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
color: black;
}
.nav-link {
transition: background-color 0.3s ease;
padding: 0.5rem 1rem;
border-radius: 0.25rem;
}

.nav-link:hover {
background-color: rgba(243, 242, 242, 0.666);
}

.custom-date-model {
border: 1px solid #ccc;
padding: 10px;
margin-top: 10px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-date-model label {
display: block;
margin-bottom: 5px;
}

.custom-date-model input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
}

.custom-date-model button {
background-color: #007bff;
color: #fff;
border: none;
padding: 8px 16px;
cursor: pointer;
}

.custom-date-model button:hover {
background-color: #0056b3;
}
.searchInput{
width : 136px; height: 34px; margin-left: 25px;
}
.btn{
background-color: #380838;
color: white;
font-size: 12px;
padding: 5px 10px;
}

.pay{
  margin-top: -67px;
  margin-bottom: -67px;
  margin-left: 6px;
}
.action-icons {
display: flex;
align-items: center;
border: none;
}

.action-icons i {
margin-right: 10px;
font-size: 20px;
color: #333;
cursor: pointer;
}
.cards{
margin-top: 4rem;
}
.card:hover {
box-shadow: 1px 4px 8px  #380838; /* Change the shadow color as needed */
}
.rec{
height: 13rem;
width: 53rem;
}
.square{
width: 15rem;
}

.table {
border-collapse: separate;
border-spacing: 0 10px;
}


.balance-mark {
content: '';
display: inline-block;
width: 6px;
height: 31px;
background-color: rgb(234, 181, 9);
margin-right: 10px;
}
.balance-marks {
content: '';
display: inline-block;
width: 6px;
height: 31px;
background-color: rgb(215, 31, 31);
margin-right: 10px;
}
.opt{
margin-top: 64px;
margin-bottom: -52px;
margin-left: 57rem;
}


input[type="search"] {
border: none;
background: transparent;
margin: 0;
padding: 7px 8px;
font-size: 14px;
color: inherit;
border: 1px solid rgb(187, 178, 178) ;
border-radius: 0.25rem;
width: 169px;
margin-left: 10px;
}

input[type="search"]::placeholder {
color: #bbb;
}

input[type="search"]:focus {
box-shadow: 0 0 3px 0 rgb(88, 21, 88);
border-color:rgb(88, 21, 88);
outline: none;
}
.form-check{
margin-left: 15px;
margin-bottom: -22px;
margin-top: 12px;
}


.highlight-row:hover {
background-color: #f0f0f0; /* Change the background color as needed */
cursor: pointer;
}


#myModal2 .modal-dialog {
position: fixed;
margin: auto;
width: 320px;
height: 100%;
right: 0px;
}

#myModal2 .modal-content {
height: 100%;
}

.arrow-down {
display: inline-block;
margin-left: 5px; /* Adjust the spacing as needed */
transform: rotate(90deg);
transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.arrow-right {
display: inline-block;
margin-left: 5px; /* Adjust the spacing as needed */
transform: rotate(0deg);
transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.tracking-detail {
padding: 3rem 0;
}
#tracking {
margin-bottom: 1rem;
}
[class*="tracking-status-"] p {
margin: 0;
font-size: 1.1rem;
color: #fff;
text-transform: uppercase;
text-align: center;
}
[class*="tracking-status-"] {
padding: 1.6rem 0;
}
.tracking-list {
  margin-left: -43px;
}
.tracking-item {
border-left: 4px solid purple;
position: relative;
padding: 2rem 1.5rem 0.5rem 2.5rem;
font-size: 0.9rem;
margin-left: 3rem;
min-height: 5rem;
}
.tracking-item:last-child {
padding-bottom: 4rem;
}
.tracking-item .tracking-date {
margin-bottom: 0.5rem;
}
.tracking-item .tracking-date span {
color: #888;
font-size: 85%;
padding-left: 0.4rem;
}
.tracking-item .tracking-content {
padding: 0.5rem 0.8rem;
background-color: #f4f4f4;
border-radius: 0.5rem;
}
.tracking-item .tracking-content span {
display: block;
color: #767676;
font-size: 13px;
}
.tracking-item .tracking-icon {
position: absolute;
left: -0.7rem;
width: 1.1rem;
height: 1.1rem;
text-align: center;
border-radius: 50%;
font-size: 1.1rem;
background-color: #fff;
color: #fff;
}

.tracking-item-pending {
border-left: 4px solid #d6d6d6;
position: relative;
padding: 2rem 1.5rem 0.5rem 2.5rem;
font-size: 0.9rem;
margin-left: 3rem;
min-height: 5rem;
}
.tracking-item-pending:last-child {
padding-bottom: 1 rem;
}
.tracking-item-pending .tracking-date {
margin-bottom: 0.5rem;
}
.tracking-item-pending .tracking-date span {
color: #888;
font-size: 85%;
padding-left: 0.4rem;
}
.tracking-item-pending .tracking-content {
padding: 0.5rem 0.8rem;
background-color: #f4f4f4;
border-radius: 0.5rem;
}
.tracking-item-pending .tracking-content span {
display: block;
color: #767676;
font-size: 13px;
}
.tracking-item-pending .tracking-icon {
line-height: 2.6rem;
position: absolute;
left: -0.7rem;
width: 1.1rem;
height: 1.1rem;
text-align: center;
border-radius: 50%;
font-size: 1.1rem;
color: #d6d6d6;
}
.tracking-item-pending .tracking-content {
font-weight: 600;
font-size: 17px;
}

.tracking-item .tracking-icon.status-current {
width: 1.9rem;
height: 1.9rem;
left: -1.1rem;
}
.tracking-item .tracking-icon.status-intransit {
color: purple;
font-size: 0.6rem;
}
.tracking-item .tracking-icon.status-current {
color:purple;
font-size: 0.6rem;
}
@media (min-width: 992px) {
.tracking-item {
  margin-left: 10rem;
}
.tracking-item .tracking-date {
  position: absolute;
  left: -10rem;
  width: 7.5rem;
  text-align: right;
}
.tracking-item .tracking-date span {
  display: block;
}
.tracking-item .tracking-content {
  padding: 0;
  background-color: transparent;
}

.tracking-item-pending {
  margin-left: 10rem;
}
.tracking-item-pending .tracking-date {
  position: absolute;
  left: -10rem;
  width: 7.5rem;
  text-align: right;
}
.tracking-item-pending .tracking-date span {
  display: block;
}
.tracking-item-pending .tracking-content {
  padding: 0;
  background-color: transparent;
}
}

.tracking-item .tracking-content {
font-weight: 600;
font-size: 17px;
}

.blinker {
border: 7px solid #e9f8ea;
animation: blink 1s;
animation-iteration-count: infinite;
}
@keyframes blink { 50% { border-color:#fff ; }  }




/* your-component.component.css */

.modal-overlays {
display: flex;
align-items: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
}

.modal-contents {
background-color: #fff;
padding: 20px;
border-radius: 0;
width: 31rem;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
}

.close-button {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 20px;
color: #000;
}

.link-content {
color: #333;
/* Add any additional styles for your link content */
}

.grey-line {
border-top: 1px solid #ccc;
margin-top: 10px;
}

.button-container {
margin-top: 10px;
display: flex;
justify-content: flex-end;
}

.copy-link-button,
.save-button {
background-color:  #380838;
color: #fff;
padding: 8px 16px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-right: 10px;
font-size: 12px;

}

.copy-link-button:hover,
.save-button:hover {
background-color: #380838;
font-size: 12px;
}
/* delete-confirmation.component.css */
.custom-modal-dialog {
width: 70%; /* Adjust the width as needed */
max-width: none; /* Override Bootstrap's max-width */
height: 80vh; /* Adjust the height as needed */
}

.red-icon {
color: rgb(239, 90, 26);
}

.bg{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
z-index: 1000;
}
.open{
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1001;
}
/* // .icons-container {
//   position: absolute;
//   top: 10px;
//   right: 10px;
// } */
.modal-content {
position: relative;
}

.exclamation-icon {
position: absolute;
top: 10px; /* Adjust the top position as needed */
left: 50%;
transform: translateX(-50%);
color: red;
font-size: 2em;
}
.exclamation-icon {
position: absolute;
top: 10px; /* Adjust the top position as needed */
left: 50%;
transform: translateX(-50%);
color: red;
font-size: 7rem; /* Adjust the font size for a larger icon */
margin-top: -21px;
}
.modal-body-with-space {
padding-top: 160px; /* Adjust this value to create space below the icon */
}
.button-space {
margin-right: 10px; /* Adjust the value as needed */
}
.light-label {
color: #4f4e4e; /* Replace with your desired light color */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup input {
  display: block;
  margin-bottom: 10px;
}

.popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

table {
   width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e0e0e0;
}

td{
  color: #94618e;
}
