<div class="container">
    <form>
    
      <div class="row">
        <div class="col-md-4">
          <label for="interviewDate">Interview Date</label>
          <input type="date" class="form-control" id="interviewDate" name="interviewDate" placeholder="Interview Date">
        </div>
        <div class="col-md-4">
          <label for="interviewTime">Interview Time</label>
          <input type="time" class="form-control" id="interviewTime" name="interviewTime" placeholder="Interview Time">
        </div>
        <div class="col-md-4">
          <label for="interviewInfo">Interview Info</label>
          <input type="text" class="form-control" id="interviewInfo" name="interviewInfo" placeholder="Interview Info">
        </div>
      </div>
  
     
      <div class="row mt-3">
        <div class="col-md-4">
          <label for="client">Client</label>
          <input type="text" class="form-control" id="client" name="client" placeholder="Client">
        </div>
        <div class="col-md-4">
          <label for="vendor">Vendor</label>
          <input type="text" class="form-control" id="vendor" name="vendor"placeholder="Vendor">
        </div>
        <div class="col-md-4">
          <label for="subVendor">Sub Vendor</label>
          <input type="text" class="form-control" id="subVendor" name="subVendor"placeholder="Sub Vendor">
        </div>
      </div>
  
     
      <div class="row mt-3">
        <div class="col-md-4">
          <label for="assistedBy">Assisted by</label>
          <input type="text" class="form-control" id="assistedBy" name="assistedBy"placeholder="Assisted by">
        </div>
        <div class="col-md-4">
          <label for="typeOfAssistance">Type of Assistance</label>
          <input type="text" class="form-control" id="typeOfAssistance" name="typeOfAssistance"placeholder="Type of Assistance">
        </div>
        <div class="col-md-4">
          <label for="interviewMode">Interview Mode</label>
          <select class="form-control" id="interviewMode" name="Interview Mode">
            <option value="In-Person">--Select--</option>
            <option value="In-Person">Face to face</option>
            <option value="Phone">Zoom</option>
            <option value="Video">Phone</option>
            <option value="Video">Hangouts</option>
            <option value="Video">WebEx</option>
            <option value="Video">Skype</option>
            <option value="Video">Others</option>
          </select>
        </div>
      </div>
  
