<div class="content-header">
<div class="container mt-4 p-0">
    <div class="row">
      <div class="col-12 pl-3">
        <h2 class="text-left">SUBMITTED CANDIDATES</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p class="admin">ADMIN</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <hr>
        <p class="text-left pl-4">No Candidates submitted yet</p>
        <hr>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
