$brand-primary:#49274a;

.container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    border-top: 3px solid $brand-primary;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  hr {
    border: none;
    height: 2px; 
    background-color: #ccc; 
    margin: 10px 0;
  }
  .admin{
    font-size: 25px;
    color: #5f0f62;
  }
  
  
  
  