<div class="content-header">
  <div class="container">
    <div>
      <h2>SUBMITTED CANDIDATES</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Id</th>
          <th>Phone Number</th>
          <th>Recruiter Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidates of submittedCandidates">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngIf="noResultsFound">
          <td colspan="5" class="text-center">
            No results found.
          </td>
        </tr>
      </tbody>
    </table>

</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>