.row{
    padding:25px 20px 20px 20px;
}
.iconforquickview{
    width: 80%;
}
.display{
    display: flex;
}
.iconstyle{
   
    margin-left: 18px;
    padding:10px;
}
.nav-tabs .nav-link {
    color:black;
}

.nav-tabs .nav-item.show .nav-link.active, .nav-tabs .nav-link.active {
    background-color: rgb(56, 8, 56);
    border-color: rgb(56, 8, 56) ;
    color: white;
}
select#referedBy option:hover {
    background-color: rgb(105, 10, 150); 
  }
//   .btn:hover{
//     background-color: rgb(56, 8, 56);
//     border-color: rgb(56, 8, 56) ;
//   }