 th{
  color: #94618e;
 }
 .container-fluid{
  background-color: #fff;
 }
 .header{
  padding-top: 20px;
 }
 .active-col{
  color: #0fc000;
 }
 .txt-color{
  color:#94618e;
 }
 .fa-fw {
  margin-right: 10px;
  cursor: pointer;
}
  .card {
    margin-top: 50px;
  }

  .selectOption{
    cursor: pointer;
  }
  #fromDate{
    cursor: pointer;
  }
  #toDate{
    cursor: pointer;
  }
  #showPassword{
    cursor: pointer;
  }
  .add-btn1{
    background-color: #94618e;
    color: #ffffff;
    border: #94618e;
    cursor: pointer;
  }
  .add-btn1:hover{
    background-color: #550355;
  }
  select option{
    background-color: #ffffff;
    color: black;
  }
 
  .add-btn{
    background-color: #550355;
    color: #ffffff;
    border: #550355;
  }
  .add-btn:hover{
    background-color: #94618e;
  }
  .add-btn:active{
    background-color: #550355;
  }
  
 .main{
    border-top: 3px solid #550355;
    border-bottom: 3px solid #550355;
 }
 .container-product{
  padding-left: 300px;
 }
  .card{
    border: none;
  }
  input {
    border-radius: 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  i{
    cursor: pointer;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  i{
    margin: 6px;
    color: #94618e;
  }
 
  td{
    color: #94618e;
  }
  i:hover {
    color: darkviolet;
  }
 .main-container{
  background:#fff;
  margin-top: 0;
  border-radius: 5px;
 }
tbody{
  margin-bottom: 10px;
  padding-bottom: 10px;
}