<div class="header p-3">
  <div class="container-fluid">
    <div class="row main pt-2">
      <h2 class="pt-2 ml-3">JOB BOARD ACCOUNT</h2>
    </div>
    <form [formGroup]="jobBoard">
    <div class="row ml-2 mr-2">
    
      <div class="col-md-3">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="text-center">Add New Account</h3>
            <label for="accountName">Account Name</label>
            <input type="text" id="accountName" name="accountName" formControlName="accountName" class="form-control"
              placeholder="Enter account name"
              [ngClass]="{ 'invalid-input': jobBoard.get('accountName').invalid && jobBoard.get('accountName').touched }">
            <div *ngIf="jobBoard.get('accountName').invalid && jobBoard.get('accountName').touched"
              class="validation-message" style="color: red;">
              * Please enter account name.
            </div>
            <h3 class="text-center mt-4">Subscription Valid</h3>
            <div class="form-group">
              <label for="fromDate">From</label>
              <input type="date" id="fromDate" class="form-control" name="fromDate" formControlName="fromDate">
            </div>
            <div class="form-group">
              <label for="toDate">To</label>
              <input type="date" id="toDate" class="form-control" name="toDate" formControlName="toDate">
            </div>
            <h3 class="text-center">Select Job Board</h3>
            <div class="form-group">
              <select id="zipRecruiter" class="form-control selectOption" [(ngModel)]="selectedJobBoard" name="zipRecruiter" formControlName="zipRecruiter">
                <option>ZipRecruiter</option>
                <option *ngFor="let option of options" [value]="option">{{ option }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="text-center">ZipRecruiter</h3>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" formControlName="username" name="username"
                [ngClass]="{ 'invalid-input': jobBoard.get('username').invalid && jobBoard.get('username').touched }">
              <div *ngIf="jobBoard.get('username').invalid && jobBoard.get('username').touched"
                class="validation-message" style="color: red;">
                * Please enter User name.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input [type]="passwordInputType" id="password" class="form-control" formControlName="password"
                name="password"
                [ngClass]="{ 'invalid-input': jobBoard.get('password').invalid && jobBoard.get('password').touched }">
              <div *ngIf="jobBoard.get('password').invalid && jobBoard.get('password').touched"
                class="validation-message" style="color: red;">
                * Please enter Password.
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="showPassword" (change)="togglePasswordVisibility()">
              <label class="form-check-label" for="showPassword">Show Password</label>
            </div>
            <button type="button" class="btn add-btn float-right mt-2" (click)="addAccount()">Add Account</button>
          </div>
        </div>
      </div>
   

      <div class="col-md-6">
        <div class="card mt-4">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Board</th>
                  <th>Account Name</th>
                  <th>Posting</th>
                  <th>Search</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let account of accounts; let i = index">
                  <td class="txt-color">{{ selectedJobBoard }}</td>
                  <td class="txt-color">{{ account.accountName }}</td>
                  <td class="active-col">active</td>
                  <td class="active-col">active</td>
                  <td>
                    <select [(ngModel)]="account.status" class="form-control add-btn1">
                      <option value="active">on</option>
                      <option value="inactive">off</option>
                    </select>
                  </td>
                  <td><i (click)="deleteAccount(i)" class="fa fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
 
      </div>
    </form>