<div *ngIf="isLoaded">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="
      background-image: linear-gradient(to right, #49274a, #940571) !important;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"
                        style="color: #c2c7d0"></i></a>
            </li>
        </ul>
        <ul *ngIf="!onboardView" class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <div class="image" style="display: inline; padding: 10px">
                        <img src="https://tresume.us/Images/Profile_icon.PNG" class="img-circle elevation-2"
                            style="height: auto; width: 2rem" alt="User Image" />
                    </div>
                    <span style="color: #c2c7d0">{{ traineeDetails.FirstName }} &nbsp;
                        <i class="fa fa-caret-down"></i>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-divider"></div>
                    <a href="https://tresume.us/Profile.aspx" class="dropdown-item dropdown-footer">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="https://tresume.us/SelectWF.aspx" class="dropdown-item dropdown-footer">Switch WF</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdown-footer" (click)="logout()">Sign out</a>
                </div>
            </li>
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #49274a">
        <a href="index3.html" class="brand-link">
            <img src="assets/img/Logo_Small.png" alt="Tresume Logo" class="brand-image" style="opacity: 0.8" />
            <span class="brand-text font-weight-light">Tresume</span>
        </a>
        <div class="sidebar">
            <div *ngIf="!onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="https://tresume.us/Images/Profile_icon.PNG" class="img-circle elevation-2"
                        alt="User Image" />
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ traineeDetails.FirstName }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="https://tresume.us/Images/Profile_icon.PNG" class="img-circle elevation-2"
                        alt="User Image" />
                </div>
                <div class="info">
                    <a class="d-block">{{ name }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a class="d-block"><i class="nav-icon fas fa-address-card mr-1"></i>{{ traineeDetails.Title }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a class="d-block"><i class="nav-icon fas fa-envelope mr-1"></i>{{ traineeDetails.UserName }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a class="d-block"><i class="nav-icon fas fa-map-marker-alt mr-1"></i>{{
                        traineeDetails.CurrentLocation
                        }}</a>
                </div>
            </div>
            <nav *ngIf="!onboardView" class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" *ngIf="userType =='TRESUMEUSER'">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="alltimelist">
                          <i class="nav-icon fas fa-list"></i>
                          <p>All Time List</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="/profile" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p> My Profile</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" *ngIf="userType =='RECRUITER'">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/dashboard/' + traineeID">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(2)">
                        <a class="nav-link" routerLink="/compliancedashboard">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                Compliance Dashboard
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(1)">
                        <a routerLink="/searchMain" class=" nav-link">
                            <i class="nav-icon fas fa-search"></i>
                            <p>JobBoard Search</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(2)">
                        <a routerLink="/candidates/1" class="nav-link">
                            <i class="nav-icon fas fa-address-book "></i>
                            <p> HRMS</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a routerLink="/jobapplication" class="nav-link">
                            <i class="nav-icon fas fa-clone"></i>
                            <p>
                                Job Applications
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a class="nav-link" routerLink="/jobpostings" routerLinkActive="active">
                            <i class="nav-icon fas fa-link"></i>
                            <p>
                                My Jobs
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(11)">
                        <a class="nav-link" routerLink="/reports" routerLinkActive="active">
                            <i class="nav-icon fas fa-list-alt"></i>
                            <p>
                                Reports
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(4)">
                        <a routerLink="/harvest" class=" nav-link">
                            <i class="nav-icon fas fa-leaf"></i>
                            <p>Harvest</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="checkFullAccess(10)">
                        <a class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>
                                Workforce
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/onboarding">
                                    <i class="nav-icon fas fa-list "></i>
                                    <p>Checklists</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/onboardingList">
                                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                    <p> OnBoarding</p>
                                </a>
                            </li>
                        </ul>
                    </li> -->

                    <li class="nav-item" *ngIf="checkFullAccess(10)">
                        <a class="nav-link" style="cursor: pointer;" (click)="toggleSubMenu('workforceSubMenu')">
                          <i class="nav-icon fas fa-cog"></i>
                          <p>
                            Workforce
                            <i class="right fas fa-angle-left" [ngClass]="{'down': isSubMenuOpen['workforceSubMenu']}"></i>
                          </p>
                        </a>
                        <ul id="workforceSubMenu" class="nav nav-treeview" [ngStyle]="{'display': isSubMenuOpen['workforceSubMenu'] ? 'block' : 'none'}">
                          <li class="nav-item">
                            <a class="nav-link" routerLink="/onboarding">
                              <i class="nav-icon fas fa-list"></i>
                              <p>Checklists</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" routerLink="/onboardingList">
                              <i class="nav-icon fas fa-chalkboard-teacher"></i>
                              <p>OnBoarding</p>
                            </a>
                          </li>
                        </ul>
                      </li>   
                      <li class="nav-item" *ngIf="checkFullAccess(5)">
                        <a class="nav-link" (click)="toggleDropdown('timesheetSubMenu')">
                          <i class="nav-icon fas fa-clock"></i>
                          <p>Timesheet</p>
                          <i class="right fas fa-angle-left" [ngClass]="{'down': isDropdownOpen['timesheetSubMenu']}"></i>
                        </a>
                        <ul id="timesheetSubMenu" class="nav nav-treeview" [ngStyle]="{'display': isDropdownOpen['timesheetSubMenu'] ? 'block' : 'none'}">
                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="alltimelist">
                                    <i class="nav-icon fas fa-list"></i>
                                    <p>All Time List</p>
                                  </a>
                              </li>
                              <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="create-invoice">
                                    <i class="nav-icon fas fa-receipt"></i>
                                    <p>Invoice</p>
                                  </a>
                              </li>
                          <li class="nav-item" *ngIf="timesheetrole == 1">
                            <a class="nav-link" routerLink="/assignrole">
                              <i class="nav-icon fas fa-highlighter"></i>
                              <p>Assign Role</p>
                            </a>
                          </li>
                          <li class="nav-item" *ngIf="timesheetrole == 1">
                            <a class="nav-link" routerLink="/create-project">
                              <i class="nav-icon fas fa-plus"></i>
                              <p>Create Project</p>
                            </a>
                          </li>
                          <li class="nav-item" *ngIf="timesheetrole == 1">
                            <a routerLink="/allclient/1" class=" nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Timesheet Clients</p>
                            </a>
                        </li>
                        </ul>
                      </li>
                    <li class="nav-item" *ngIf="checkFullAccess(7)">
                        <a routerLink="/allclient/0" class=" nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p> Clients</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(8)">
                        <a routerLink="/vendor" class=" nav-link">
                            <i class="nav-icon fas fa-store"></i>
                            <p> Vendors</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(6)">
                        <a routerLink="/talentBench" class="nav-link">
                            <i class="nav-icon fas fa-user-circle"></i>
                            <p>
                                Talent Bench
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(9)">
                        <a routerLink="/batch" class="nav-link">
                            <i class="nav-icon fas fa-id-card"></i>
                            <p>
                                Batch
                            </p>
                        </a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a routerLink="/jobboardaccount" class=" nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Job Boards</p>
                        </a>
                    </li> -->
                    <li class="nav-item" *ngIf="checkFullAccess(12)">
                        <a class="nav-link" (click)="toggleDropdown('myAccountSubMenu')">
                          <i class="nav-icon fas fa-user-tie"></i>
                          <p>
                            My Account
                            <i class="right fas fa-angle-left" [ngClass]="{'down': isDropdownOpen['myAccountSubMenu']}"></i>
                          </p>
                        </a>
                        <ul id="myAccountSubMenu" class="nav nav-treeview" [ngStyle]="{'display': isDropdownOpen['myAccountSubMenu'] ? 'block' : 'none'}">
                          <li class="nav-item">
                            <a routerLink="/accountsadduser" class="nav-link">
                              <i class="nav-icon fas fa-user"></i>
                              <p>Add Users</p>
                            </a>
                          </li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a routerLink="/division" class=" nav-link">
                            <i class="nav-icon fas fa-sitemap"></i>
                            <p>Division</p>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a routerLink="/profile" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p> My Profile</p>
                        </a>
                    </li>

                </ul>
               
            </nav>
        </div>
    </aside>    
</div>