@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

li {
  padding: 15px;
  font-weight: 400;
}

// button
.bn632-hover {
  width: 125px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn24 {
  background-image: linear-gradient(
      to right,
      #D24F9A,
      #79265f,
      #D24F9A,
      #97618d
    );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

ul {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  padding: 20px;
}



.navbar {
  padding: 10px;
  font-size: 20px;
  height: 80px;
}

.nav-link {
  position: relative;
  /* color: black; */
  transition: color 0.3s;
  font-weight: 400;
  font-style: normal;
}

h2.tittle {
  font-size: 2rem;
  text-align: center;
  color: #93628d;
  font-weight: 600;
}

.card-logo {
  max-width: 100px;
  /* Adjust the logo size as needed */
  margin-bottom: 15px;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid purple;
  transition: border 0.1s, transform 0.3s;
}

.card:hover {
  border: 1px solid purple;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  cursor: pointer;
}

.card-logo {
  max-width: 100px;
  /* Adjust the logo size as needed */
  margin: 15px auto;
  /* Center the logo horizontally and add margin at the top */
}

.card-body {
  padding: 15px;
  /* Add padding to the card body */
}

.card-title {
  display: block;
  margin-bottom: 10px;
}

.card-subtitle {
  display: block;
  margin-bottom: 10px;
}

.card-text {
  font-style: italic;
}
