.btn{
    background-color: rgb(56, 8, 56);
  border: none;
  color: white;
}
.edit{
    margin-right: 10px; 
  }
 
  .container{
    background-color: #fff;
    border-top: 3px solid  #49274a;
  }
  .header{
    padding-top: 25px;
  }
 