<div class="container">
  <h2>BATCH</h2>
  <div class="container main-container mt-4">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      Add Batch
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle">Batch</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="batchName">Batch Name</label>
                  <input type="text" class="form-control" id="batchName" [(ngModel)]="batchName" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="startDate">Start Date</label>
                  <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="startDate">End Date</label>
                  <input type="date" class="form-control" id="startDate" [(ngModel)]="endDate" />
                </div>
              </div>

              <div class=" col-md-4">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="header">
      <div class="container">
        <!-- Button trigger modal -->
        <h2>Batch</h2>
        <button type="button" class="btn float-right mb-1 mt-0" data-toggle="modal" data-target="#exampleModalLong">
          Add Batch
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Batch</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="batchName">Batch Name</label>
                      <input type="text" class="form-control" id="batchName" [(ngModel)]="batchName" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="startDate">Start Date</label>
                      <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="startDate">End Date</label>
                      <input type="date" class="form-control" id="startDate" [(ngModel)]="endDate" />
                    </div>
                  </div>
                  <div class=" col-md-4">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
                  <button type="button" class="btn">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-striped" style="margin-top: 20px;">
          <thead>
            <tr>
              <th>Batch Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="button-container">

                  <button class="btn btn-primary edit" (click)="editBatch()">Edit</button>
                  <button class="btn btn-danger edit" (click)="deleteBatch()">Delete</button>
                </div>          
      </td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>