.clickable {
    cursor: pointer
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
form,
.documents-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.p-bodycard {
    border: none;
    margin-bottom: 20px;
}
.p-bodycard legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.p-inputgroup-addon {
    background-color: #ffffff;
    border: none;
    border-radius: 5px 0 0 5px;
}
.p-inputtext {
    border: none;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    background-color: #f2f2f2;
    height: 40px;
}
.inputtext-bg {
    background: #F2F2F2;
    border: none;
}

// .p-inputgroup-addon {
//     background-color: #883cae;
//     color: white;
// }

.p-inputgroup-select {
    background-color: #f7f7f7;
    /* border: 1px solid #ced4da; */
    border-radius: 0.25rem;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    line-height: 1.5;
    appearance: none;
    /* remove default styles */
    -webkit-appearance: none;
    /* for Safari */
    border: none;
}

.p-switchClass {
    display: block;
    padding: 0.1rem;
}

.brand-actionbutton {
    background-color: #883cae;
    border-color: #883cae;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.brand-actionbutton:hover {
    background-color: #ab56d6;
    border-color: #883cae;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}



/* button[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

/* button[type="submit"]:hover {
    background-color: #3e8e41;
} */


