<section id="team" class="pb-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top " [ngClass]="{'scrolled': isScrolled}">
    <a routerLink="/homelanding"><img src="../assets/img/logo.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features">Features</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/workforce">Workforce</a>
            <a class="dropdown-item" routerLink="/talent-suite">Talent Suite</a>
            <a class="dropdown-item" routerLink="/ats">Applicant Tracking System</a>
            <a class="dropdown-item" routerLink="/timesheet">TimeSheet</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/market"> Marketplace</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      <div class="content">
        <a href="/login" class="bn5">Login</a>
      </div>
    </div>
  </nav>
  <div class="background-video video-container">
    <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
      <source src="../../../assets/videos/consult.mp4" type="video/mp4">
    </video>
    <div style="width: 100%;" class="content-over-video overlay">
      <h1 style="background-color: #a24f9a91;
    height: 111px;
    padding-top: 33px;font-size: 54px;color: white; ">APPLICANT TRACKING SYSTEM</h1>
  </div>
  </div>
  <br><br>
  <br><br>
  <div class="container">
    <!-- Section 1: Left side text, right side image -->
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center tittle"> MANUAL to Tresume MAGICAL ATS:</h2>
        <span class="animate-border mr-auto ml-auto mb-4"></span>
        <hr>
        <p style="font-size: 20px;
                font-style: italic; font-weight: 500;padding: 7px;">
          Introducing Tresume, the epitome of recruitment innovation, designed to propel your hiring process
          into a realm of unparalleled excellence. Our state-of-the-art TalentPro Applicant Tracking System
          harnesses the power of cutting-edge AI technology, elevating efficiency and optimization to
          extraordinary heights. Unleash the full potential of RecruitXcel and experience a seamless
          JobConnect journey like never before. With its intuitive interface and advanced functionalities,
          this HireSmart tool redefines how you attract and engage top-notch talent.
        </p>
        <hr>
        <ul style="    font-size: 15px;
                font-weight: 800;
                color: #00000063;
            ">
          <li>Say goodbye to manual job posting and tedious candidate selection, as our SkillTrack ATS
            effortlessly streamlines every aspect of the hiring process.</li>
          <li>Harness the might of our meticulously crafted TalentTrac AI algorithms, finely tuned to
            intelligently match candidates with precise job requirements.</li>
          <li>SwiftHire liberates your valuable time and energy, ensuring that you focus on what truly matters
            – finding the perfect fit for your organization.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/img/ats.png" alt="Image" class="img-fluid">
      </div>
    </div>
    <br><br>
    <!-- Section 2: Left side text, right side image centered -->
    <!-- <div class="row">
      <div class="col-md-6 order-md-2">
        <h2 class="text-center tittle">Harnessing the Benefits of Digital Tresume Timesheets:</h2>
        <span class="animate-border mr-auto ml-auto mb-4"></span>
        <p style="font-size: 20px;
                font-style: italic; font-weight: 500; padding: 7px;">
          Introducing TimeTrack(Time Sheet ), the ultimate solution that simplifies time tracking and
          management,
          making it
          effortless for both employers and employees. Our AI-powered TimePro system automates the process of
          capturing,
          tracking, and managing work hours, eliminating the need for manual timesheets and reducing
          administrative
          burdens.
          With TimeWise, employees can easily log their hours, assign them to specific projects or tasks, and
          submit
          timesheets for approval. The system ensures accuracy and transparency, allowing managers to review
          and
          verify
          timesheets efficiently.
        </p>
        <ul style="    font-size: 15px;
                font-weight: 800;
                color: #00000063;
            ">
          <li> TimeSync empowers you with comprehensive reporting to analyze labor costs, monitor project
            progress, and optimize resource allocation. TimeEase time sheets are flexible and customizable,
            allowing you to tailor templates and categories to meet your organization's specific needs using
            TimeMaster.</li>

          <li>TimeNinja delivers real-time notifications for timely timesheet submissions. TimeSage eliminates
            the hassle of chasing late entries, ensuring all time records are accounted for promptly.
            TimeTrac seamlessly integrates with project management and accounting tools, streamlining data
            transfer. With TimeCraft, eliminate duplicate data entry, ensuring accuracy and consistency
            across systems..</li>

          <li>TimeSync ensures compliance with detailed audit trails, promoting accountability and
            transparency. TimeSift's analytics offer insights into labor costs and resource utilization.
            Optimize operations with TimeGenius, meet deadlines with TimeSprint, and simplify tracking with
            TimePlus. Drive efficiency and success with TimeOptimize in the future of time tracking.</li>

        </ul>
      </div>
      <div class="col-md-6 order-md-1 text-center">
        <img src="../../../assets/img/ats3.png" alt="Image" class="img-fluid">
      </div>
    </div> -->

    <!-- Section 3: Left side image, right side text -->
    <!-- YourComponent.component.html -->
    <br><br>
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2 class="text-center tittle">Integration Amplified By Tresume:</h2>
        <span class="animate-border mr-auto ml-auto mb-4"></span>
        <p style="font-size: 20px;
                font-style: italic; font-weight: 500;padding: 7px;">
          Tresume's Job Board Integration feature revolutionizes your recruitment process by amplifying your
          reach and maximizing visibility through popular job boards. This seamlessly connects your
          recruitment process with these platforms, expanding your candidate pool and attracting a wider range
          of qualified candidates. Our AI-powered integration optimizes your job postings for maximum
          visibility, ensuring they stand out and increase the chances of attracting top talent.
        </p>
        <ul style="    font-size: 15px;
                font-weight: 800;
                color: #00000063;
            ">
          <li>Tresume's Job Board Integration automates job posting, syncs candidate applications, and updates
            statuses across platforms, eliminating manual entry and reducing errors. Save time and ensure a
            smooth recruitment workflow effortlessly.</li>
          <li>With our comprehensive analytics and reporting features, you can easily track the performance of
            your job postings across different platforms...</li>
          <li>Centralized communication channels within the Tresume platform facilitate efficient engagement
            with applicants, scheduling interviews, and providing timely updates on application statuses...
          </li>
          <li>Tresume's Job Board Integration uses AI algorithms for swift and precise candidate screening,
            accelerating hiring decisions...</li>
        </ul>
      </div>


    </div>
    <div class="col-md-6 " style="margin-left: 20rem;">
      <img src="../../../assets/img/ats2.png" alt="Image" class="img-fluid">
    </div>

  </div>
<br><br>
  <h2 class="text-center tittle">Key Features And Benefits</h2>
  <span class="animate-border mr-auto ml-auto mb-4"></span>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <a href="#" class="timeline-content">
              <div class="timeline-icon">
                <!--                             <i class="fa fa-globe"></i> -->

              </div>
              <!--                         <span class="timeline-year">2020</span> -->
              <h3 class="title">The Quantum Leap in Tresume ATS:</h3>
              <p class="description">
                Tresume excels in ATS innovation, featuring cutting-edge technology like Intelligent Resume Parsing. Its
                advanced algorithms swiftly and precisely extract crucial details, ensuring an efficient and error-free
                experience. This empowers HR professionals to concentrate on the essential task: finding the perfect
                candidates.
              </p>
              <hr>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <div class="timeline-icon">
                <!--                             <i class="fa fa-rocket"></i> -->
              </div>
              <!-- <span class="timeline-year">2019</span> -->
              <!-- <h3 class="title">The Transcendent Arsenal of Tresume Timesheets</h3> -->
              <p class="description">
                Taking recruitment to the next level, Tresume goes beyond the ordinary by providing a captivating
                platform for creating and distributing job postings across a myriad of channels, expanding your reach
                and attracting top-tier talent. Moreover, its centralized candidate database acts as a single source of
                truth, allowing effortless searching, sorting, and filtering based on specific criteria, transforming
                talent acquisition into a seamless and time-saving endeavor.
              </p>

            </a>

          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <div class="timeline-icon">
                <!--                             <i class="fa fa-rocket"></i> -->
              </div>
              <!-- <span class="timeline-year">2019</span> -->
              <!-- <h3 class="title">The Transcendent Arsenal of Tresume Timesheets</h3> -->
              <p class="description">
                Efficiency reigns supreme with Tresume's comprehensive tracking system, meticulously monitoring every
                stage of the hiring process. Recruiters gain unprecedented control, effortlessly managing candidate
                progress and making informed decisions that align with the company's vision and goals. Additionally,
                Tresume fosters a collaborative environment by facilitating easy access and evaluation of candidate
                profiles for multiple stakeholders, enabling transparent and efficient decision-making.
              </p>

            </a>

          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <div class="timeline-icon">
                <!--                             <i class="fa fa-rocket"></i> -->
              </div>
              <!-- <span class="timeline-year">2019</span> -->
              <!-- <h3 class="title">The Transcendent Arsenal of Tresume Timesheets</h3> -->
              <p class="description">
                Gone are the days of cumbersome interview scheduling, thanks to Tresume's streamlined integration with
                calendars, automated reminders, and seamless feedback collection. The interview process becomes a
                well-orchestrated symphony, ensuring a seamless and organized experience for both candidates and
                interviewers alike.Tresume doesn't believe in one-size-fits-all solutions, which is why it offers
                unparalleled flexibility with customizable hiring workflows.
              </p>

            </a>

          </div>

        </div>
      </div>
    </div>
  </div>
  <footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 ">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-map-marker-alt"></i>
              <div class="cta-text">
                <h4>Find us</h4>
                <span>44121 Leesburg Pike., STE 230 Ashburn , VA 20147,Uinted States Of America
                </span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <div class="cta-text">
                <h4>Call us</h4>
                <span>(703)9863350</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>contact</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content pt-5 pb-1">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="index.html"><img src="../assets/img/logo.png" class="img-fluid" alt="logo"></a>
              </div>
              <div class="footer-text">
                <p>With the right ATS recruiting system, you can increase the number of placements and grow your
                  business.
                  Tresume advanced recruit analytics helps you back up all your presentations with data. Create forecast
                  for next quarter and keep track of important metrics.</p>
              </div>
              <div class="footer-social-icon">
                <span>Follow us</span>
                <ul class="social_icon">
                  <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Useful Links</h3>
              </div>
              <ul>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Gallery</a></li>
                <li><a href="#">Selection Process</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Sponsorship</a></li>
                <li><a href="#">Our Policies</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Subscribe</h3>
              </div>
              <div class="footer-text mb-25">
                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
              </div>
              <div class="subscribe-form">
                <form action="#">
                  <input type="text" placeholder="Email Address">
                  <button><i class="fa fa-telegram" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>Copy Rights 2023 TResume</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</section>