<div class="header p-3">
  <div class="container-fluid pb-1">
    <div class="row title">
      <div class="col-12">
        <h2 class="text-dark">TALENT BENCH</h2>
      </div>
    </div><br>
    <label for="selectCandidate pt-3">Select Candidate</label>
    <div class="row">
      <div class="col-6">
        <select id="selectCandidate" class="form-control">
          <option value="">Select Candidate</option>
          <option *ngFor="let candidate of candidates" [value]="candidate">{{ candidate }}</option>
        </select>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <button class="btn ml-3">DSR</button>
        <button class="btn ml-3">Export Report</button>
        <button type="button" class="btn ml-3" data-toggle="modal" data-target=".bd-example-modal-xl">Add
          Candidate</button>
        <button type="button" class="btn ml-3" data-toggle="modal" data-target="#exampleModalLong">Group</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3 text-right">
        <input type="text" class="form-control search-box" placeholder="Search...">
      </div>
    </div>
    <div class="main-container">
      <table class="table">
        <thead>
          <tr>
            <th>Bench ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Location</th>
            <th>Time on Bench (days)</th>
            <th>Title</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Bill Rate</th>
            <th>Refer</th>
            <th>Group Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData">
            <td>{{ item.BenchId }}</td>
            <td>
              <div class="ml-10"> {{ item.Name }}</div>
              <i [routerLink]="['/reviewtresume/3/'+item.TraineeID+'/0']" class="fas fa-network-wired icon"></i>
              <i class="far fa-clipboard icon" [routerLink]="['/reviewtresume/3/'+candidate.TraineeID+'/1']"></i>
              <i class="fas fa-pencil-alt icon" [routerLink]="['/reviewtresume/3/'+candidate.TraineeID+'/2']"></i>
              <i class="far fa-file-alt icon" [routerLink]="['/reviewtresume/3/'+candidate.TraineeID+'/3']"></i>
            </td>
            <td>{{ item.Email }}</td>
            <td>{{ item.Location }}</td>
            <td>{{ item.TimeOnBench }}</td>
            <td>{{ item.Title }}</td>
            <td>{{ item.Phone }}</td>
            <td>{{ item.Status }}</td>
            <td>{{ item.BillRate }}</td>
            <td>{{ item.Refer }}</td>
            <td>
              <select class="form-control" [(ngModel)]="item.groupName">
                <option *ngFor="let option of groupOptions" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="noResultsFound">
            <td colspan="11" class="text-center">
              No results found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--PopUp For Add Client-->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-xl">
    <div class="modal-content container2 ">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Add Candidate</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="close" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container container2">
        <form [formGroup]="addCandidate">
          <div class="row row2">
            <div class="col-md-4">
              <label class="label">First Name *</label>
              <input type="text" class="form-control" name="FirstName" placeholder="First name"
                formControlName="FirstName"
                [ngClass]="{ 'invalid-input': addCandidate.get('FirstName').invalid && addCandidate.get('FirstName').touched }">
              <div *ngIf="addCandidate.get('FirstName').invalid && addCandidate.get('FirstName').touched"
                class="validation-message" style="color: red;">
                * Please enter valid First name.
              </div>
            </div>
            <div class="col-md-4">
              <label class="label">Middle Name</label>
              <input type="text" class="form-control" name="MiddleName" formControlName="MiddleName" placeholder="Middle name" required>
            </div>
            <div class="col-md-4">
              <label class="label">Last Name *</label>
              <input type="text" class="form-control" name="LastName" placeholder="Last name" formControlName="LastName"
                [ngClass]="{ 'invalid-input': addCandidate.get('LastName').invalid && addCandidate.get('LastName').touched }">
              <div *ngIf="addCandidate.get('LastName').invalid && addCandidate.get('LastName').touched"
                class="validation-message" style="color: red;">
                * Please enter valid Last name.
              </div>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Email</label>
              <input type="Email" class="form-control" name="Email" placeholder="Email" formControlName="Email"
                [ngClass]="{ 'invalid-input': addCandidate.get('Email').invalid && addCandidate.get('Email').touched }">
              <div *ngIf="addCandidate.get('Email').invalid && addCandidate.get('Email').touched"
                class="validation-message" style="color: red;">
                * Please enter valid Email.
              </div>
            </div>
            <div class="col-md-4">
              <label class="label">Phone</label>
              <input type="tel" class="form-control" name="Phone" placeholder="Phone" formControlName="Phone"
                [ngClass]="{ 'invalid-input': addCandidate.get('Phone').invalid && addCandidate.get('Phone').touched }">
              <div *ngIf="addCandidate.get('Phone').invalid && addCandidate.get('Phone').touched"
                class="validation-message" style="color: red;">
                * Please enter valid Phone Number.
              </div>
            </div>
            <div class="col-md-4 text-center">
              <label class="label">Gender</label>
              <div class="radio mt-2">
                <input type="radio" name="Gender" value="male" formControlName="Gender"> Male
                <input type="radio" name="Gender" value="female" formControlName="Gender"> Female
              </div>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Recruiter Name *</label>
              <select class="form-control" name="recruiterName" [(ngModel)]="recruiterName" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let name of recruiterNames" [value]="name.traineeid">{{name.firstname }} {{name.lastname }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label class="label">Degree</label>
              <input type="text" class="form-control" name="Degree" placeholder="Degree" formControlName="Degree">
            </div>
            <div class="col-md-4">
              <label class="label">University</label>
              <input type="text" class="form-control" name="University" placeholder="University" formControlName="University">
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Candidate Status</label>
              <select class="form-control" id="currentStatus" [(ngModel)]="selectedcurrentstatus"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let option of  currentStatusOptions" [value]="option.CandidateStatusID">{{ option.Value }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label class="label">Groups</label>
              <input type="text" class="form-control" name="Groups" formControlName="Groups">
            </div>
            <div class="col-md-4">
              <label class="label">Legal Status</label>
              <select class="form-control" name="legalStatus" [(ngModel)]="legalStatus" [ngModelOptions]="{standalone: true}">
                <option value>-- Select Legal Status --</option>
                <option *ngFor="let stat of legalStatusOptions" [value]="stat.LegalStatusID">{{ stat.LegalValue }}</option>
              </select>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Marketer Name</label>
              <select class="form-control" formControlName="MarketerName" name="MarketerName" formControlName="MarketerName" [ngClass]="{ 'invalid-input': addCandidate.get('MarketerName').invalid && addCandidate.get('MarketerName').touched }">
                <option *ngFor="let name of marketerNames" [value]="name">{{ name }}</option>
              </select>
              <div *ngIf="addCandidate.get('MarketerName').invalid && addCandidate.get('MarketerName').touched" class="validation-message" style="color: red;">
                * Please select at least one Marketer Name.
              </div>
            </div>

            <div class="col-md-4 text-center">
              <label class="label">Location Constraint</label>
              <div class="radio mt-2">
                <input type="radio" name="LocationConstraint" value="yes" formControlName="LocationConstraint"> Yes
                <input type="radio" name="LocationConstraint" value="no" formControlName="LocationConstraint"> No
              </div>
            </div>
            <div class="col-md-4">
              <label class="label">Referral Type</label>
              <select class="form-control" name="ReferralType" formControlName="ReferralType">
                <option *ngFor="let type of referralTypes" [value]="type">{{ type }}</option>
              </select>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Notes</label>
              <textarea class="textarea" name="Notes" rows="4" formControlName="Notes"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn" data-dismiss="modal" (click)="saveData()">Save</button>
      </div>
    </div>
  </div>
</div>

<!--PopUp For Group-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Group list</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <div>

        </div>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-6 text-center">
            <input name="groupName" type="text" maxlength="500" id="groupName" class="form-control"
              placeholder="Group Name">
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-primary">Add Group</button>
          </div>
        </div>
        <div>
          <table class="data-table" style="margin-top: 20px;">
            <tr>
              <th>Group Name</th>
              <th>Candidate Count</th>
            </tr>
            <tr *ngFor="let item of dataArray">
              <td>{{ item.groupName }}</td>
              <td>{{ item.candidateCount }}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Confirmation PopUp for delete from Talent Bench-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel"><u>Remove from Talent Bench</u></h1>
      </div>
      <div class="modal-body">
        <h3>Are you sure to Remove that candidate from Talent Bench?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
