<div class="header p-3">
  <div class="container-fluid pb-1">
    <div class="row title">
      <div class="col-12">
        <h2 class="text-dark">TALENT BENCH</h2>
      </div>
    </div><br>
    <div class="row">
      <div class="col-6">
        <div class="align" style="margin-top: 20px;">
          <button type="button" class="btn ml-3" data-toggle="modal" data-target=".bd-example-modal-xl"><span class="bi bi-plus">+</span> Add
            Candidate</button>
          <button type="button" class="btn ml-3" data-toggle="modal" data-target="#exampleModalLong">Group</button>
          <button class="btn ml-3" (click)="dsrdownload()"><i class="fas fa-download text-white" style="font-size: 10px;"></i> DSR</button>
          <button class="btn ml-3" (click)="interviewdownload()"><i class="fas fa-download text-white" style="font-size: 10px;"></i> Interview</button>
          <button class="btn ml-3" (click)="placementdownload()"><i class="fas fa-download text-white" style="font-size: 10px;"></i> Placement</button>
        </div>

        <div class="form-group text-right d-flex" style="margin-top: 30px;">
          <input [(ngModel)]="searchInput" type="text"  class="form-control ml-6 mr-2 " id="search" 
            placeholder=" Search candidates..." (ngModelChange)="searchhtalentbenchlist(searchInput)">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <div style="display: flex; align-items: center; width: 100%;">
            <label for="dateCreated" class="label-large" style="margin: auto;">Filter by Date Created</label>
            <div class="Filterbtn" style="display: flex; justify-content: space-between; width: 200px; padding: 15px;">
              <button class="btn btn-wdth text-white" [disabled]="!isFilterButtonEnabled()"
                (click)="filterTableData()">Filter</button>
              <button class="btn btn-wdth text-white" (click)="clearDates()">Clear</button>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div class="col">
              <label>Start date:</label>
              <input type="date" class="form-control" id="dateCreatedStartDate" placeholder="Start date" [(ngModel)]="startDate">
            </div>
            <div class="col">
              <label>End date:</label>
              <input type="date" class="form-control" id="dateCreatedEndDate" placeholder="End date"
                [(ngModel)]="endDate">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="col-12" *ngFor="let item of filteredTableData ? filteredTableData : tableData">
        <div *ngIf="isCandidateVisible(item)">
          <div class="card mb-4">
            <div class="card-body" style="line-height: 5px;padding: 15px;">
              <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                  <div>
                    <a style="font-size:22px; color: #49274A;margin-left: 15px;"><b>{{ item.TBID }}</b> {{ item.FirstName }} {{ item.LastName }}</a>
                  </div>
                </div>
                <!-- Right column -->
                <div class="col-md-6">
                  <div class="icons" style="margin-top: 10px;margin-top:-21px;margin-right: 50px; text-align: right;">
                    <a class="badge badge-warning"  style="font-size: 16px; color: #49274A;margin-right: 15px;"><i class="fas fa-globe"> </i> {{ item.organizationname }}</a>
                    <i [routerLink]="['/reviewtresume/3/'+item.TraineeID+'/0']" class="fa fa-eye fa-fw pt-2" style="font-size: 24px;"></i>
                    <i class="far fa-clipboard icon" title="Submission Data" (click)="downloadSubmission(item.TraineeID)" style="font-size: 20px;margin-left: 20px;"></i>
                    <i class="fas fa-pencil-alt icon" title="Interview Data" (click)="downloadInterview(item.TraineeID)" style="font-size: 20px;margin-left: 20px;"></i>
                    <i class="far fa-file-alt icon" title="Placement Data" (click)="placementrecdownload(item.TraineeID)" style="font-size: 20px;margin-left: 20px;"></i>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                  <table class="table table-borderless no-border">
                    <tr>
                      <th [ngStyle]="{ 'background-color': getBackgroundColor(item.Age) }">Time On Bench:</th>
                      <td [ngStyle]="{ 'background-color': getBackgroundColor(item.Age) }">{{ item.Age }}</td>
                    </tr>
                    <tr>
                      <th>Location:</th>
                      <td>{{ item.CurrentLocation }}</td>
                    </tr>
                  </table>
                  <a class="bn59" data-toggle="modal" data-target="#exampleModalCenter"
                    (click)="openInterviewModal(item.TraineeID)">
                    <span class="bi bi-plus">+</span> Add Interview
                  </a>
                </div>
                <div class="col-md-3">
                  <table class="table table-borderless no-border">
                    <tr>
                      <th>Title:</th>
                      <td>{{ item.Title }}</td>
                    </tr>
                    <tr>
                      <th>Phone:</th>
                      <td>{{ item.phone }}</td>
                    </tr>
                  </table>
                  <a class="bn59" [routerLink]="['/candidateView/'+item.TraineeID+'/create']">
                    <span class="bi bi-plus">+</span> Add Placement
                  </a>
                </div>
                <div class="col-md-2">
                  <table class="table table-borderless no-border">
                    <tr>
                      <th>Status:</th>
                      <td>{{ item.LegalStatus }}</td>
                    </tr>
                    <tr>
                      <th>Bill Rate:</th>
                      <td>{{ item.BillRate }}</td>
                    </tr>
                  </table>
                  <a class="bn59" data-toggle="modal" data-target="#exampleModalCenter2"
                    (click)="openSubmissionModal(item.TraineeID)">
                    <span class="bi bi-plus">+</span> Add
                    Submission
                  </a>
                </div>
                <div class="col-md-4">
                  <table class="table table-borderless no-border">
                    <tr>
                      <th style="margin-top: 5px;">Group Name:</th>
                      <td>
                        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.GroupID"
                          (change)="updateSelected($event.target.value, item.TraineeID, 1)">
                          <option *ngFor="let option of groupOptions" [value]="option.GID">{{ option.GroupName }}
                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th style="line-height: 1rem;">Marketer Name:</th>
                      <td>
                        <select class="form-control" name="recruiterName" [(ngModel)]="item.MarketerName"
                          [ngModelOptions]="{standalone: true}"
                          (change)="updateSelected($event.target.value, item.TraineeID, 2)">
                          <option *ngFor="let name of recruiterNames" [value]="name.traineeid">
                            {{ name.firstname }} {{ name.lastname }}
                          </option>
                        </select>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="span">
                <span style="line-height: 1rem;">Date Created:</span>
                <span style="padding: 25px;">{{ item.CreateTime | date:'MM/dd/yy' }}</span>
              </div>
            </div>
          </div>
          <hr>
        </div>
         
      </div>
    </div>
    <div class="pagination-container">
      <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <ng-container *ngFor="let pageNumber of calculatePageRange()">
        <button class="pagination-button" (click)="onPageChange(pageNumber)" [disabled]="currentPage === pageNumber">{{ pageNumber }}</button>
      </ng-container>
      <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>


<!--PopUp For Add Client-->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-xl">
    <div class="modal-content container2 ">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Add Candidate</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="close" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container container2">
        <form [formGroup]="addCandidate">
          <div class="row row2">
            <div class="col-md-4">
              <label class="label">First Name *</label>
              <input type="text" class="form-control" name="FirstName" placeholder="First name"
                formControlName="FirstName"
                [ngClass]="{ 'invalid-input': addCandidate.get('FirstName').invalid && addCandidate.get('FirstName').touched }">
              <div *ngIf="addCandidate.get('FirstName').invalid && addCandidate.get('FirstName').touched"
                class="validation-message" style="color: red;">
                * Please enter valid First name.
              </div>
            </div>
            <div class="col-md-4">
              <label class="label">Middle Name</label>
              <input type="text" class="form-control" name="MiddleName" formControlName="MiddleName"
                placeholder="Middle name" required>
            </div>
            <div class="col-md-4">
              <label class="label">Last Name *</label>
              <input type="text" class="form-control" name="LastName" placeholder="Last name" formControlName="LastName"
                [ngClass]="{ 'invalid-input': addCandidate.get('LastName').invalid && addCandidate.get('LastName').touched }">
              <div *ngIf="addCandidate.get('LastName').invalid && addCandidate.get('LastName').touched"
                class="validation-message" style="color: red;">
                * Please enter valid Last name.
              </div>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email"
                [ngClass]="{
                        'invalid-input':
                            addCandidate.get('email').invalid &&
                            addCandidate.get('email').touched
                    }" (blur)="onEmailInput()" />
              <div *ngIf="
                        addCandidate.get('email').invalid &&
                        addCandidate.get('email').touched
                    " class="validation-message" style="color: red;">
                * Please enter a valid Email.
              </div>
              <div *ngIf="emailvalidation" class="validation-message" style="color: red;">
                {{emailvalidationmessage}}
              </div>
            </div>
            <div class="col-md-4">
              <label class="label">Phone *</label>
              <input type="tel" class="form-control" name="Phone" placeholder="Phone" formControlName="Phone"
                [ngClass]="{ 'invalid-input': addCandidate.get('Phone').invalid && addCandidate.get('Phone').touched }">
              <div *ngIf="addCandidate.get('Phone').invalid && addCandidate.get('Phone').touched"
                class="validation-message" style="color: red;">
                * Please enter valid Phone Number.
              </div>
            </div>
            <div class="col-md-4 text-center">
              <label class="label">Gender</label>
              <div class="radio mt-2">
                <input type="radio" name="Gender" value="male" formControlName="Gender"> Male
                <input type="radio" name="Gender" value="female" formControlName="Gender"> Female
              </div>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Recruiter Name *</label>
              <select class="form-control" name="recruiterName" [(ngModel)]="recruiterName"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let name of recruiterNames" [value]="name.traineeid">{{name.firstname }} {{name.lastname
                  }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label class="label">Degree</label>
              <input type="text" class="form-control" name="Degree" placeholder="Degree" formControlName="Degree">
            </div>
            <div class="col-md-4">
              <label class="label">University</label>
              <input type="text" class="form-control" name="University" placeholder="University"
                formControlName="University">
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Candidate Status *</label>
              <select class="form-control" id="currentStatus" [(ngModel)]="selectedcurrentstatus"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let option of  currentStatusOptions" [value]="option.CandidateStatusID">{{ option.Value
                  }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label class="label">Groups</label>
              <input type="text" class="form-control" name="Groups" formControlName="Groups">
            </div>
            <div class="col-md-4">
              <label class="label">Legal Status *</label>
              <select class="form-control" name="legalStatus" [(ngModel)]="legalStatus"
                [ngModelOptions]="{standalone: true}">
                <option value>-- Select Legal Status --</option>
                <option *ngFor="let stat of legalStatusOptions" [value]="stat.LegalStatusID">{{ stat.LegalValue }}
                </option>
              </select>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Marketer Name *</label>
              <select class="form-control" name="marketerName" [(ngModel)]="marketerName"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let name of marketerNames" [value]="name.traineeid">{{name.firstname }} {{name.lastname
                  }}</option>
              </select>
            </div>

            <div class="col-md-4 text-center">
              <label class="label">Location Constraint</label>
              <div class="radio mt-2">
                <input type="radio" name="LocationConstraint" value="yes" formControlName="LocationConstraint"> Yes
                <input type="radio" name="LocationConstraint" value="no" formControlName="LocationConstraint"> No
              </div>
            </div>
            <div class="col-md-4">
              <label class="label">Referral Type</label>
              <select class="form-control" name="referralType" [(ngModel)]="referralType"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let type of referralTypes" [value]="type">{{ type }}</option>
              </select>
            </div>
          </div>

          <div class="row row2">
            <div class="col-md-4">
              <label class="label">Notes</label>
              <textarea class="textarea" name="Notes" rows="4" formControlName="Notes"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn" data-dismiss="modal" (click)="saveData()">Save</button>
      </div>
    </div>
  </div>
</div>

<!--PopUp For Group-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Group list</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <div>
        </div>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-6 text-center">
            <input [(ngModel)]="newGroupName" name="groupName" type="text" maxlength="500" id="groupName"
              class="form-control" placeholder="Group Name">
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-primary" (click)="addGroup()">Add Group</button>
          </div>
        </div>
        <div>
          <table class="data-table" style="margin-top: 20px;">
            <tr>
              <th>Group Name</th>
              <th>Candidate Count</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let item of grouplistdata">
              <td>{{ item.GroupName }}</td>
              <td>{{ item.TotalTrainees }}</td>
              <td>
                <button class="" (click)="deleteGroup(item.GID)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation PopUp for delete from Talent Bench-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel"><u>Remove from Talent Bench</u></h1>
      </div>
      <div class="modal-body">
        <h3>Are you sure to Remove that candidate from Talent Bench?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- model for interview button -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Interview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form>
            <div class="row">
              <div class="col-md-4">
                <label for="interviewDate">Interview Date</label>
                <input type="date" class="form-control" id="interviewDate" name="interviewDate"
                  placeholder="Interview Date" [(ngModel)]="interviewDate">
              </div>
              <div class="col-md-4">
                <label for="interviewTime">Interview Time</label>
                <input type="time" class="form-control" id="interviewTime" name="interviewTime"
                  placeholder="Interview Time" [(ngModel)]="interviewTime">
              </div>
              <div class="col-md-4">
                <label for="interviewInfo">Notes</label>
                <input type="text" class="form-control" id="interviewInfo" name="interviewInfo" placeholder="Notes"
                  [(ngModel)]="interviewInfo">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                <label for="client">Client</label>
                <input type="text" class="form-control" id="client" name="client" placeholder="Client"
                  [(ngModel)]="client">
              </div>
              <div class="col-md-4">
                <label for="vendor">Vendor</label>
                <input type="text" class="form-control" id="vendor" name="vendor" placeholder="Vendor"
                  [(ngModel)]="vendor">
              </div>
              <div class="col-md-4">
                <label for="subVendor">Sub Vendor</label>
                <input type="text" class="form-control" id="subVendor" name="subVendor" placeholder="Sub Vendor"
                  [(ngModel)]="subVendor">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                <label for="assistedBy">Assisted by</label>
                <input type="text" class="form-control" id="assistedBy" name="assistedBy" placeholder="Assisted by"
                  [(ngModel)]="assistedBy">
              </div>
              <div class="col-md-4">
                <label for="typeOfAssistance">Type of Assistance</label>
                <input type="text" class="form-control" id="typeOfAssistance" name="typeOfAssistance"
                  placeholder="Type of Assistance" [(ngModel)]="typeOfAssistance">
              </div>
              <div class="col-md-4">
                <label for="interviewMode">Interview Mode</label>
                <select class="form-control" id="interviewMode" name="interviewMode" [(ngModel)]="interviewMode">
                  <option *ngFor="let mode of interviewModes" [ngValue]="mode">{{ mode }}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveInterviewData()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- model for Submission button -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Submission</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group mt-4">
            <div class="row">
              <div class="col-md-4">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" [(ngModel)]="title">
              </div>
              <div class="col-md-4">
                <label for="submissionDate">Submission Date</label>
                <input type="date" class="form-control" id="submissionDate" name="submissionDate"
                  placeholder="Submission Date" [(ngModel)]="submissionDate">
              </div>
              <div class="col-md-4">
                <label for="notes">Notes</label>
                <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes" [(ngModel)]="notes">
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="row">
              <div class="col-md-4">
                <label for="vendorName">Vendor Name</label>
                <input type="text" class="form-control" id="vendorName" name="vendorName" placeholder="Vendor Name"
                  [(ngModel)]="vendorName">
              </div>
              <div class="col-md-4">
                <label for="rate">Rate</label>
                <input type="number" class="form-control" id="rate" name="rate" placeholder="Rate" [(ngModel)]="rate">
              </div>
              <div class="col-md-4">
                <label for="clientName">Client Name</label>
                <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Client Name"
                  [(ngModel)]="clientName">
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="getSubmissionList()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>