
<div class="background-video video-container">
    <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
        <source src="../../../assets/videos/consult.mp4" type="video/mp4">
    </video>
    <div style="width: 100%;" class="content-over-video overlay">
      <h1  id="welcomeText" style="background-color: #a24f9a91;
      height: 111px;
      padding-top: 33px;font-size: 54px;color: white;font-weight: 500; "><!-- HTML -->
    <span class="space">CONTACT</span>
    <span class="space">OUR</span>
    <span class="space">TEAM</span>
    <span class="space">SUPPORT</span>

  </h1>
  </div>
</div>
<!-- <br> -->
<div class="form-main">
    <div class="main-wrapper">
        <h2 class="form-head">Contact From</h2>
        <form class="form-wrapper">
            <div class="form-card">
                <input class="form-input" type="text" name="full_name" required="required" />
                <label class="form-label" for="full_name">Name *</label>
            </div>

            <div class="form-card">
                <input class="form-input" type="email" name="email" required="required" />
                <label class="form-label" for="email">Business email address *</label>
            </div>

            <div class="form-card">
                <input class="form-input" type="number" name="phone_number" required="required" />
                <label class="form-label" for="phone_number">Phone number</label>
            </div>

            <div class="form-card">
                <textarea class="form-textarea" maxlength="420" rows="3" name="phone_number"
                    required="required"></textarea>
                <label class="form-textarea-label" for="phone_number">message</label>
            </div>
            <div class="btn-wrap">
                <button> Submit </button>
            </div>
        </form>
    </div>
</div>
