<section class="content">
    <div class="container-fluid">
        <accordion [isAnimated]="true">
            <accordion-group heading="Job Boards" [isOpen]=true>
                <div class="row">
                    <!-- <div class="col-md-6" style="padding: 20px;">
                        <form [formGroup]="form">
                            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                            </formly-form>
                        </form>
                    </div>
                    <div class="col-md-4" style="padding: 20px;">
                        <label for="recruiter">Location (State, City, Zipcode)</label>
                        <input [(ngModel)]="selectedState" [typeahead]="states" typeaheadOptionField="name"
                            [isAnimated]="true" class="form-control">
                    </div>
                    <div class="col-md-2" style="padding: 45px;">
                        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="onSearch()">
                            Search
                        </button>
                    </div> -->
                </div>
            </accordion-group>
        </accordion>
    </div>
</section>