<section class="content">
  <div class="container-fluid col-md-12">
    <accordion [isAnimated]="true">
      <accordion-group heading="Monster Resume Search" [isOpen]="true">
        <div class="sc-gYMRRK iPGXmU">
          <svg width="144px" height="24px" viewBox="0 0 144 24" xmlns="http://www.w3.org/2000/svg"
            class="sc-IIEeM epAyBb" aria-label="Monster" role="img">
            <g fill="none" fill-rule="evenodd">
              <path fill="#035AA7"
                d="M68.249 23.807l-11.647-9.645v9.38h-4.63V4.347l11.647 9.645v-9.38h4.63v19.194M98.943 23.542H94.16V9.018h-4.356V4.613h13.495v4.405h-4.356v14.524M120.241 23.542h-11.987V4.612h11.864v4.406h-7.156v2.86h5.72v4.3h-5.72v2.958h7.28v4.406M136.45 14.29c1.018-.375 4.474-1.91 4.474-6.29 0-3.167-2.502-6.717-7.905-6.717h-6.996v22.258h4.818V14.75h.246l6.905 8.791h5.758l-7.3-9.25zm-2.72-3.855h-2.89V5.761h2.89c1.528 0 2.533 1.025 2.533 2.337 0 1.146-.849 2.337-2.533 2.337zM21.91.18L11.082 11.04.251.18V23.54H5.07v-11.76l6.01 6.032 6.012-6.032v11.76h4.819V.18M79.71 23.82c-4.328 0-6.577-2.426-6.953-2.794l2.43-3.446c.38.336 2.103 1.86 4.376 1.86 1.543 0 1.99-.739 1.99-1.33 0-.615-.46-1.16-2.09-1.768l-1.434-.535c-2.643-.986-4.325-2.83-4.325-5.568 0-3.358 2.69-5.908 6.51-5.908 3.443 0 5.372 1.655 5.585 1.842l-2.276 3.549c-.466-.32-1.752-1.02-3.176-1.02-1.332 0-1.94.568-1.94 1.25 0 .888.79 1.265 2.194 1.789l1.299.484c2.72 1.014 4.43 3.097 4.43 5.59 0 3.422-2.704 6.005-6.62 6.005">
              </path>
              <path
                d="M36.94 4.334c-5.5 0-9.84 4.362-9.84 9.743s4.34 9.744 9.84 9.744c5.501 0 9.841-4.363 9.841-9.744 0-5.38-4.34-9.743-9.84-9.743m0 14.925c-2.9 0-5.13-2.32-5.13-5.182 0-2.862 2.23-5.182 5.13-5.182 2.899 0 5.13 2.32 5.13 5.182 0 2.862-2.231 5.182-5.13 5.182"
                fill="#FFDC2B"></path>
            </g>
          </svg>
          <div style="display: flex; justify-content: flex-end;">
            <!-- <h2>Credit Usage:{{usedcount}}/{{creditcount}}</h2>
            <p *ngIf="showcrediterror">You don't have enough credit to Search</p> -->
            <!-- Credits Used: {{ usedcount }}/{{ creditcount }} -->
            <button type="button" class="btn btn-success btn-sm">Available Credits : {{availablecredits}}</button>
          </div>
        </div>
        <!-- <div class="row">
                    <i class="fa fa-arrow-left clickable" (click)="goBack()"> Back to ATS Search</i>
                </div> -->
        <div class="row" *ngIf="searchType == 1">
          <div class="col-md-6" style="padding: 20px">
            <form [formGroup]="form">
              <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
              </formly-form>
            </form>
          </div>
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Location (State, City, Zipcode)</label>
            <input [(ngModel)]="selectedState" [typeahead]="states" typeaheadOptionField="name" [isAnimated]="true"
              class="form-control" placeholder="Enter Location" />
          </div>
          <div class="col-md-1" style="padding: 20px">
            <label for="recruiter">Radius</label>
            <input placeholder="Miles" [(ngModel)]="searchRequestItem.locationRadius" class="form-control" />
          </div>
          <div class="col-md-2" style="padding: 45px">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="onSearch()">
              Search
            </button>
          </div>
        </div>
        <div class="row" *ngIf="searchType == 2">
          <div class="col-md-6" style="padding: 20px">
            <form [formGroup]="form">
              <formly-form [model]="model" [fields]="fieldBool" [options]="options" [form]="form1">
              </formly-form>
            </form>
          </div>
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Location (State, City, Zipcode)</label>
            <input [(ngModel)]="selectedState" [typeahead]="states" typeaheadOptionField="name" [isAnimated]="true"
              class="form-control" placeholder="Enter Location" />
          </div>
          <div class="col-md-1" style="padding: 20px">
            <label for="recruiter">Radius</label>
            <input placeholder="Miles" [(ngModel)]="searchRequestItem.locationRadius" class="form-control" />
          </div>
          <div class="col-md-2" style="padding: 45px">
            <button type="submit" class="btn btn-primary" [disabled]="!form1.valid" (click)="onSearch()">
              Search
            </button>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-md-6" style="padding: 0px 20px;"> -->
          <div class="p-field-radiobutton">
            <p-radioButton name="searchType" value="1" [(ngModel)]="searchType" inputId="jobDetail"></p-radioButton>
            <label class="labelType" for="jobDetail">Monster AI Search</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton name="searchType" value="2" [(ngModel)]="searchType" inputId="semantic"></p-radioButton>
            <label class="labelType" for="semantic">Boolean Search</label>
          </div>
        </div>
      </accordion-group>
      <accordion-group *ngIf="searchType == 2" heading="Advanced Filters" [isOpen]="false">
        <div class="row">
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Resume Posted Within Days</label>
            <input placeholder="Posted within days" [(ngModel)]="daysWithin" class="form-control" />
          </div>
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Min Experiance</label>
            <input [(ngModel)]="yearsOfExpmin" class="form-control" />
          </div>
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Max Experience</label>
            <input [(ngModel)]="yearsOfExp" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="padding: 5px 20px">
            <h4 style="font-weight: bold; font-size: 14px; margin: 8px">
              Legal Status
            </h4>
            <p-multiSelect styleClass="customSelect" [options]="workStatus" [filter]="false" [showHeader]="false"
              [(ngModel)]="selectedWorkstatus" display="chip" optionLabel="name">
            </p-multiSelect>
          </div>
          <div class="col-md-3" style="padding: 20px">
            <h4 style="font-weight: bold; font-size: 14px; margin: 8px">
              Highest Education Degree
            </h4>
            <p-dropdown name="tester" placeholder="Select a Degree" [options]="educationDegree"
              [(ngModel)]="selectedEducationDegree" [showClear]="true" optionLabel="name"></p-dropdown>
          </div>
          <div class="col-md-3" style="padding: 20px">
            <h4 style="font-weight: bold; font-size: 14px; margin: 8px">
              Security Clearance
            </h4>
            <p-dropdown name="tester" placeholder="Select a Security Clearance" [options]="securityClearances"
              [(ngModel)]="selectedSecurityClearance" [showClear]="true" optionLabel="name"></p-dropdown>
          </div>
          <div class="col-md-2" style="padding: 40px 20px; margin-top: 20px">
            <mat-checkbox class="example-margin" [(ngModel)]="willingToRelocate">Willing To Relocate
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="padding: 40px 20px; margin-top: 20px; color:red;" *ngIf="yearsOfExpmin > yearsOfExp">
            Max experience should not be smaller than min experience.
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</section>

<!-- <div>
    <ag-grid-angular style="width: 100%; height: 622px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div> -->
<div *ngIf="loading" class="spinner">
  <p-progressSpinner [style]="{ width: '50px', height: '50px' }" styleClass="custom-spinner" strokeWidth="8"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div *ngIf="!resultsFound && rowData" class="pagination-footer">
  No results found
</div>
<div *ngIf="resultsFound" [ngStyle]="loading ? { opacity: '0.2' } : { opacity: '1' }">
  <div class="align-right total">Total Results: {{ totalResults }}</div>
  <!--     <div class="align-right">Monthly Quota: {{quota['us monthly']}}</div>
    <div class="align-right">Daily Quota: {{quota['us daily']}}</div> -->
  <div *ngFor="let jobDetail of rowData; let i = index" style="padding: 10px">
    <mat-card class="example-card">
      <mat-card-title class="border-title">
        <div class="card-footer-actions">
          <div>
            {{ jobDetail.identity?.name }}
          </div>
          <div>
            <p-message *ngIf="jobDetail.migrated" severity="info" text="Profile Migrated" styleClass="mr-2"></p-message>
            <i *ngIf="jobDetail.showmigrated" class="fa fa-eye clickable" (click)="download(jobDetail.identity)"></i>
            <i *ngIf="!showcrediterror" class="fa fa-eye clickable" (click)="download(jobDetail.identity)"></i>
            <i class="fa fa-eye clickable" *ngIf="showcrediterror" (click)="nocredits()"></i>
          </div>
          <!-- <button type="submit" class="btn btn-primary" (click)="onSearch()">
                    View Resume
                </button> -->
        </div>
      </mat-card-title>
      <mat-card-content style="height: 182px; overflow-y: auto">
        <div class="container-flex">
          <div class="card-body">
            <div class="card-job-info" style="width: 50%">
              <h2>{{ jobDetail.relevance.experience?.title.name }}</h2>
              <i class="label fa fa-location-arrow">
                {{ jobDetail.location?.city }}, {{ jobDetail.location?.state }}
              </i>
              <i class="label fa fa-building">
                Experience: 
                {{
                jobDetail.relevance.experience &&
                jobDetail.relevance?.experience?.company.name && jobDetail.yearsOfExperience
                }} Yrs
              </i>
              <i class="label fa fa-calendar">
                {{ jobDetail.identity?.resumeModifiedDate | date }}
              </i>
              <!-- <i class="label"> Years of Experience: {{jobDetail.yearsOfExperience}} </i> -->
            </div>
            <div class="card-job-skills flex align-items-left">
              <i class="label fa fa-graduation-cap">Skills</i>
              <div class="card-job-skilllist">
                <div *ngFor="let skill of jobDetail.skills" class="" style="padding: 5px">
                  <p-chip label="{{ skill }}"></p-chip>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="resultsFound" class="pagination-footer">
  <pagination [totalItems]="totalResults" [maxSize]="20" (pageChanged)="pageChanged($event)" [itemsPerPage]="10"
    [align]="true"></pagination>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Resume View
        </h4>
        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <button type="submit" class="btn btn-primary" (click)="downloadAsPdf()">Download</button> -->
        <span [innerHTML]="resumeHTMLContent"></span>
      </div>
    </div>
  </div>
</div>

<p-sidebar #pTemplate [(visible)]="visibleSidebar2" position="right" [baseZIndex]="1000000" [appendTo]="'body'"
  [style]="{ width: '60rem' }" [blockScroll]="true" (onHide)="close()">
  <div class="card-footer-actions">
    <h1 id="dialog-sizes-name1" class="modal-title" style="text-align: center">
      Quick Resume View
    </h1>
    <i class="fa fa-download clickable" (click)="downloadDoc()"></i>
  </div>
  <div>
    <div *ngIf="fileReady && isPDFSrc">
      <ngx-extended-pdf-viewer [base64Src]="fileBlob" [height]="'90vh'" (pdfLoadingStarts)="onReady()"
        [showPagingButtons]="false" [showOpenFileButton]="false" [showRotateButton]="false" [showFindButton]="true"
        [textLayer]="true" (textLayerRendered)="highlightWords($event)">
      </ngx-extended-pdf-viewer>
    </div>
    <div *ngIf="fileReady && !isPDFSrc" style="padding: 30px 0px">
      <div [innerHTML]="objUrl"></div>
    </div>
  </div>
</p-sidebar>

<p-toast position="bottom-right"></p-toast>
<div *ngIf="loading" class="loader-container">
  <app-loader class="loader"></app-loader>
</div>