<section class="content">
  <div class="container-fluid">
    <accordion [isAnimated]="true">
      <accordion-group heading="Tresume Search" [isOpen]=true>

        <div class="row" *ngIf="searchType == 1">
          <div class="col-md-6" style="padding: 20px;">
            <form [formGroup]="form">
              <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
              </formly-form>
            </form>
          </div>
          <div class="col-md-4" style="padding: 20px;">
            <label for="recruiter">Location (State, City, Zipcode)</label>
            <input [(ngModel)]="selectedState" [typeahead]="states" typeaheadOptionField="name" [isAnimated]="true"
              class="form-control">
          </div>
          <div class="col-md-2" style="padding: 45px;">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="onSearch()">
              Search
            </button>
          </div>
        </div>
        <div class="row" *ngIf="searchType == 2">
          <div class="col-md-6" style="padding: 20px;">
            <form [formGroup]="form">
              <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
              </formly-form>
            </form>
          </div>
          <div class="col-md-6" style="padding: 20px;">
            <label for="recruiter">Location (State, City, Zipcode)</label>
            <input [(ngModel)]="selectedState" [typeahead]="states" typeaheadOptionField="name" [isAnimated]="true"
              class="form-control">
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <b>Start Date</b>
                <input type="date" class="form-control" [(ngModel)]="startdate" [showIcon]="true">
              </div>
              <div class="col-md-6">
                <b>End Date</b>
                <input type="date" class="form-control" [(ngModel)]="enddate" [showIcon]="true">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>Recruiter</label>
            <div class="row">
              <div class="col-md-6">
                <p-dropdown styleClass="customSelect" [options]="recruiterList" [(ngModel)]="selectedRecruiter"
                  display="chip" optionLabel="name">
                </p-dropdown>
              </div>
            </div>

          </div>
          <div class="col-md-2" style="padding: 45px;">
            <button type="submit" class="btn btn-primary" (click)="onSearch2()">
              Search
            </button>
          </div>
        </div>
        <div class="row">
          <div class="p-field-radiobutton">
            <p-radioButton name="searchType" value="1" [(ngModel)]="searchType" inputId="jobDetail"></p-radioButton>
            <label class="labelType" for="jobDetail">Boolean Search</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton name="searchType" value="2" [(ngModel)]="searchType" inputId="semantic"></p-radioButton>
            <label class="labelType" for="semantic">Recruiter's Resume Search</label>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="Advanced Filters" [isOpen]="false" *ngIf="searchType == 1">
        <div class="row">
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Resume Posted Within Days</label>
            <input placeholder="Posted within days" [(ngModel)]="daysWithin" class="form-control" />
          </div>
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Min Experience</label>
            <input [(ngModel)]="yearsOfExpmin" class="form-control" />
          </div>
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Max Experience</label>
            <input [(ngModel)]="yearsOfExp" class="form-control" />
          </div>
          <div class="col-md-3" style="padding: 20px">
            <label for="recruiter">Job Title</label>
            <input [(ngModel)]="jobTitle" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="padding: 5px 20px">
            <h4 style="font-weight: bold; font-size: 14px; margin: 8px">
              Job board
            </h4>
            <p-dropdown styleClass="customSelect" [options]="Jobboard" [(ngModel)]="selectedJobboard" display="chip"
              optionLabel="name">
            </p-dropdown>
          </div>

          <div class="col-md-3" style="padding: 5px 20px">
            <h4 style="font-weight: bold; font-size: 14px; margin: 8px">
              Recruiter
            </h4>
            <p-dropdown styleClass="customSelect" [options]="recruiterList" [(ngModel)]="selectedRecruiter"
              display="chip" optionLabel="name">
            </p-dropdown>
          </div>
        </div>
        <!-- <div class="row">
                  <div class="col-md-3" style="padding: 5px 20px">
                    <h4 style="font-weight: bold; font-size: 14px; margin: 8px">
                      Work Status
                    </h4>
                    <p-multiSelect styleClass="customSelect" [options]="workStatus" [(ngModel)]="selectedWorkstatus"
                      display="chip" optionLabel="name">
                    </p-multiSelect>
                  </div>
                  <div class="col-md-3" style="padding: 20px">
                    <h4 style="font-weight: bold; font-size: 14px; margin: 8px">
                      Highest Education Degree
                    </h4>
                    <p-dropdown name="tester" placeholder="Select a Degree" [options]="educationDegree"
                      [(ngModel)]="selectedEducationDegree" [showClear]="true" optionLabel="name"></p-dropdown>
                  </div>
                  <div class="col-md-2" style="padding: 40px 20px; margin-top: 20px">
                    <mat-checkbox class="example-margin" [(ngModel)]="willingToRelocate">Willing To Relocate
                    </mat-checkbox>
                  </div>
                </div> -->
        <div class="row">
          <div class="col-md-6" style="padding: 40px 20px; margin-top: 20px; color:red;"
            *ngIf="yearsOfExpmin < yearsOfExp">
            Max experience should not be smaller than min experience.
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</section>

<!-- Old Table View -->
<!-- <div>
    <ag-grid-angular style="width: 100%; height: 622px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div> -->

<!-- New View -->

<div *ngIf="resultsFound" [ngStyle]="loading ? { opacity: '0.2' } : { opacity: '1' }">
  <div class="align-right total">Total Results: {{ totalResults }}</div>
  <!--     <div class="align-right">Monthly Quota: {{quota['us monthly']}}</div>
        <div class="align-right">Daily Quota: {{quota['us daily']}}</div> -->
  <div *ngFor="let jobDetail of rowData; let i = index" style="padding: 10px">
    <mat-card class="example-card">
      <mat-card-title class="border-title">
        <div class="card-footer-actions">
          <div>
            {{ jobDetail.FullName }}
          </div>
          <div>

            <p-message *ngIf="jobDetail.Collab" severity="info" text="Profile Migrated" styleClass="mr-2"></p-message>
            <i class="fa fa-eye clickable" *ngIf="jobDetail.showmigrated" (click)="download(jobDetail.id)"></i>
            <i class="fa fa-eye clickable" *ngIf="!showcrediterror" (click)="download(jobDetail)"></i>

            <!-- <button type="submit" class="btn btn-primary" (click)="onSearch()">
                      View Resume
                  </button> -->
            &nbsp;
            <!-- <i class="fa fa-arrow-circle-down clickable" (click)="migrate(jobDetail.TraineeID)"></i> -->
            <i class="fa fa-arrow-circle-down clickable" data-toggle="modal" data-target=".bd-example-modal" (click)="openModal(jobDetail)"></i>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content style="height: 200px; overflow-y: auto">
        <div class="container-flex">
          <div class="card-body">
            <div class="card-job-info" style="width: 50%">
              <h2>{{ jobDetail.TraineeTitle }}</h2>
              <i class="label fa fa-location-arrow">
                {{ jobDetail.CurrentLocation }}
              </i>
              <i class="label fa fa-building">
                {{ jobDetail.Source }}
              </i>
              <i class="label fa fa-calendar">
                {{ jobDetail.LastUpdateTime | date }}
              </i>
              <i *ngIf="jobDetail.YearsOfExpInMonths" class="label fa fa-briefcase">
                Years of Experience: {{ jobDetail.YearsOfExpInMonths/12| number: '1.1-1' }}
              </i>
              <i *ngIf="jobDetail.YearsOfExpInMonths" class="label fa fa-briefcase">
                Resume Last Migrated : {{ jobDetail.LastUpdateTime | date : "d MMM y" }}
              </i>
              <i class="label fa fa-arrow-circle-down">
                Downloaded By : {{jobDetail.Recruiter}}
              </i>
            </div>
            <div class="card-job-skills flex align-items-right" style="width: 50%">
              <!-- <i class="label fa fa-graduation-cap">Skills</i>
                            <div class="card-job-skilllist">
                                <div *ngFor="let skill of jobDetail.diceSkills; index as i" class=""
                                    style="padding: 5px">
                                    <p-chip label="{{ skill }}"></p-chip>
                                </div>
                            </div> -->
              <div class="row">
                <div class="col-md-12">
                  <b>Notes :</b>
                  <div *ngIf="!jobDetail.editMode">
                    <p (click)="enableEditMode(i)">{{ jobDetail.Notes || 'Add a note'}}</p>
                  </div>
                  <div *ngIf="jobDetail.editMode">
                    <textarea class="form-control" [(ngModel)]="jobDetail.Notes"></textarea>
                    <button (click)="saveChanges(i)" class="btn btn-primary btn-sm">Save</button>
                    <button (click)="cancelEdit(i)" class="btn btn-secondary btn-sm">Cancel</button>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="resultsFound" class="pagination-footer">
  <pagination [totalItems]="totalResults" [maxSize]="20" (pageChanged)="pageChanged($event)" [itemsPerPage]="10"
    [align]="true"></pagination>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Resume View</h4>
        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <button type="submit" class="btn btn-primary" (click)="downloadAsPdf()">Download</button>
        <span [innerHTML]="resumeHTMLContent"></span>
      </div>
    </div>
  </div>
</div>

<p-sidebar #pTemplate [(visible)]="visibleSidebar2" position="right" [baseZIndex]="1000000" [appendTo]='"body"'
  [style]="{'width':'60rem'}" [blockScroll]="true">
  <h4 id="dialog-sizes-name1" class="modal-title pull-left">Resume View</h4>
  <div>
    <span [innerHTML]="resumeHTMLContent"></span>
  </div>
  <div style="display: flex;
    flex-direction: row;">
    <div>
      <button type="submit" class="btn btn-primary" (click)="downloadAsPdf()">Download</button>
    </div>
  </div>
</p-sidebar>
<div *ngIf="loading" class="loader-container">
  <app-loader class="loader"></app-loader>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container2">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle"> Apply Candidate to Job</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="close" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <form>
          <div class="form-group row">
            <label for="Selectedjobtitle" class="col-sm-3 col-form-label">Select the Job : </label>
            <div class="col-sm-9">
              <select class="form-control" name="Selectedjobtitle" [(ngModel)]="SelectedjobID" [ngModelOptions]="{standalone: true}">
                <option value="">Select</option>
                <option *ngFor="let jobs of jobtitles?.result || []" [value]="jobs.JobID">{{ jobs.job_title_clientname }}</option>
              </select>
              <br>
              <div style="text-align: left;">
                <p style="display: inline-block;margin-right: 15px;"><strong>Candidate Name : &nbsp;&nbsp;</strong> {{ selectedJobDetail?.FullName }}</p>
                <p style="display: inline-block;"><strong>Source : &nbsp;&nbsp;</strong> {{ selectedJobDetail?.Source }}</p>
              </div>
            </div>
          </div>
        </form>
      </div>
      
      <!-- Closing modal-body div -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn" data-dismiss="modal" (click)="Assigntojob()">Assign</button>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>
<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->