<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <a routerLink="/homelanding"><img src="../assets/img/logo.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/features">Features</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/workforce">Workforce</a>
                    <a class="dropdown-item" routerLink="/talent-suite">Talent Suite</a>
                    <a class="dropdown-item" routerLink="/ats">Applicant Tracking System</a>
                    <a class="dropdown-item" routerLink="/timesheet">TimeSheet</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/market"> Marketplace</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
        <div class="content">
            <a href="/login" class="bn5">Login</a>
        </div>
    </div>
</nav>
<section id="team" class="pb-5">
    <div class="background-video video-container">
        <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
            <source src="../../../assets/videos/consult.mp4" type="video/mp4">
        </video>
        <div style="width: 100%;" class="content-over-video overlay">
            <div style="width: 100%;" class="content-over-video overlay">
                <h1 style="background-color: #a24f9a91;
              height: 111px;
              padding-top: 33px;font-size: 54px;color: white; ">Welcome to our job Marketplace
                    <!-- <span>W</span>
                    <span> e </span>
                    <span> l</span>
                    <span>c</span>
                    <span>o</span>
                    <span>m</span>
                    <span>e</span>
                    <br>
                    <span>t</span>
                    <span>o</span>
                    <br>
                    <span>u</span>
                    <span>r</span>
                    <span>j</span>
                    <span>0</span>
                    <span>b</span>
                    <br>
                    <span>m</span>
                    <span>a</span>
                    <span>r</span>
                    <span>k</span>
                    <span>e</span>
                    <span>t</span>
                    <span>p</span>
                    <span>l</span>
                    <span>a</span>
                    <span>c</span>
                    <span>e</span> -->
                </h1>
            </div>
        </div>
    </div>
    <br>
    <br><br>
    <!-- <div class="container-fluid introContent">
    </div> -->
    <div class="container-fluid introContent">
        <div class="row">
            <!-- Content on the left side -->
            <div class="col-md-6">
                <div class="content">
                    <h1>Welcome to our <span
                            style="color: purple; font-size: 55px; font-family: sans-serif; font-weight: lighter;"><i>Job
                                Marketplace</i></span></h1>
                    <p>At Tresume, we are dedicated to connecting job seekers with the best opportunities available. Our
                        job
                        marketplace brings together leading job platforms, allowing you to access a wide range of job
                        listings from
                        a single platform. Through our integrated partnerships with Dice, CareerBuilder, Monster, and
                        Jooble, we
                        provide you with an extensive selection of job opportunities across various industries.</p>
                    <div class="btn">
                        <a href="/" class="bn5">Book a Demo</a>
                        <a href="/" class="bn5">Features</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/jobmarket.png" alt="Tresume Image" class="img-fluid">
            </div>
        </div>
    </div>
    <br>
    <br><br>
    <div class="container">
        <h2 class="tittle">Job boards</h2>
        <div class="row">
            <div *ngFor="let card of cards" class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem; height: 18rem;">
                    <img class="card-img-top" style="width: 237px;" [src]="card.imageSrc" alt="{{ card.title }} image">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.text }}</p>
                        <a [href]="card.link" class="btn btn-primary"
                            style="background-color: purple;border: none;">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="tittle">others</h2>
        <div class="row">
            <div *ngFor="let card of others" class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem; height: 18rem;">
                    <img class="card-img-top" style="width: 237px;" [src]="card.imageSrc" alt="{{ card.title }} image">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.text }}</p>
                        <a [href]="card.link" class="btn btn-primary"
                            style="background-color: purple;border: none;">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="container">
        <!-- Card 2 -->
        <div class="card mb-4">
            <div class="arrow">
                →
            </div>
            <h2>Expanded Reach:</h2>
            <h2 class="down">By integrating with top job platforms, we bring together
                thousands of job listings from multiple sources, giving you access to a broader range of opportunities.
                Say
                goodbye to the hassle of visiting multiple websites and let our marketplace simplify your job search.
            </h2>
        </div>
        <!-- Card 3 -->
        <div class="card mb-4">
            <div class="arrow">
                →
            </div>
            <h2>Efficiency and Time Savings</h2>
            <h2 class="down">Instead of searching through individual
                platforms, our marketplace allows you to conveniently browse and apply for jobs from one centralized
                location.
                Save time and effort by streamlining your job search process.
            </h2>
        </div>
        <!-- Card 4 -->
        <div class="card mb-4">
            <div class="arrow">
                →
            </div>
            <h2>Diverse Industries and Roles</h2>
            <h2 class="down">Whether you're seeking opportunities in
                technology, finance, healthcare, or any other industry, our marketplace offers a diverse range of job
                listings
                across various sectors. From entry-level positions to executive roles, we've got you covered.
            </h2>
        </div>
    </div>

</section>

<footer class="footer-section">
    <div class="container1">
        <div class="footer-cta pt-5 ">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>44121 Leesburg Pike., STE 230 Ashburn , VA 20147,Uinted States Of America
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>(703)9863350</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-1">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../assets/img/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>With the right ATS recruiting system, you can increase the number of placements and
                                grow your business.
                                Tresume advanced recruit analytics helps you back up all your presentations with
                                data. Create forecast
                                for next quarter and keep track of important metrics.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <ul class="social_icon">
                                <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Gallery</a></li>
                            <li><a href="#">Selection Process</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Sponsorship</a></li>
                            <li><a href="#">Our Policies</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fa fa-telegram" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copy Rights 2023 TResume</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>