<mat-tab-group>
    <mat-tab label="General">
      <!-- Content for General tab -->

      
    <div class="row">
     
        <div class="col-md-4">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName" placeholder="Middle Name">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
        </div>
      </div>
  
       <div class="row mt-2">
          <div class="col-md-4">
              <label for="interviewMode">Recruiter Name</label>
              <select class="form-control" id="recruiterName" name="Recruiter Name" *ngFor="let item of items ">
                <option value="In-Person">--Select--</option>
                <option value="Name">{{item.value1}}</option>
                <option value="Name">{{item.value2}}</option>
                <option value="Name">{{item.value3}}</option>
                <option value="Name">{{item.value4}}</option>
                <option value="Name">{{item.value5}}</option>
                <option value="Name">{{item.value6}}</option>
              </select>
            </div>
          <div class="col-md-4">
            <label for="assistedBy">Phone</label>
            <input type="number" class="form-control" id="assistedBy" name="assistedBy"placeholder="Phone">
          </div>
          <div class="col-md-4">
            <label for="typeOfAssistance">Email</label>
            <input type="text" class="form-control" id="typeOfAssistance" name="typeOfAssistance"placeholder="Email">
          </div>
  
        </div>
  
     
      <div class="row mt-2">
          <div class="col-md-4">
              <label for="interviewMode">Refered By (Internal) (optional)</label>
              <select class="form-control" id="referedBy" name="Refered By" >
                <option value="select" class="">--Select--</option>
                <option value="Refered">Name 1</option>
                <option value="Refered">Name 2</option>
                <option value="Refered">Name 3</option>
                <option value="Refered">Name 4</option>
                <option value="Refered">Name 5</option>
                <option value="Refered">Name 6</option>
                <option value="Refered">Name 7</option>
                <option value="Refered">Name 8</option>
                <option value="Refered">Name 9</option>
                <option value="Refered">Name 10</option>
                <option value="Refered">Name 11</option>
                <option value="Refered">Name 12</option>
                <option value="Refered">Name 13</option>
                <option value="Refered">Name 14</option>
              </select>
            </div>
          <div class="col-md-4">
            <label for="assistedBy">Deal Offered (optional)</label>
            <input type="text" class="form-control" id="assistedBy" name="assistedBy"placeholder="Deal Offered (optional)">
          </div>
          <div class="col-md-4">
            <label for="typeOfAssistance">Referred By (External) (optional)</label>
            <input type="text" class="form-control" id="Referred By (External) (optional)" name="typeOfAssistance"placeholder="Type of Assistance">
          </div>
  
        </div>
  
      <div class="row">
       
        <div class="col-md-4">
          <div class="form-group">
            <label for="ssn">SSN</label>
            <div class="input-group">
            <input type="text" class="form-control" id="ssn" placeholder="SSN">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary">
                  <i class="fa fa-eye"></i>
                </button>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="statusDate">Status Date</label>
            <input type="text" class="form-control" id="statusDate" placeholder="Status Date">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="duiFelonyInfo">DUI/Felony Info</label>
            <input type="text" class="form-control" id="duiFelonyInfo" placeholder="DUI/Felony Info">
          </div>
        </div>
      </div>
  
     
      <div class="row mt-2">
          <div class="col-md-4">
              <label for="interviewMode">Current Status</label>
              <select class="form-control" id="form-control" name="PLACED/WORKING AT CLIENT LOCATION">
                <option value="current">-PLACED/WORKING AT CLIENT LOCATION-</option>
                <option value="current">ON TRAINING</option>
                <option value="current">DIRECT MARKETTING</option>
                <option value="current">ON BENCH</option>
                <option value="current">MARKETTING ON HOLD</option>
                <option value="current">HAS OFFER</option>
                <option value="current">FIRST TIME CALLER</option>
                <option value="current">DROPPED TRAINING</option>
              </select>
            </div>
          <div class="col-md-4">
            <label for="assistedBy">Legal Status Validity Start Date</label>
            <input type="text" class="form-control" id="assistedBy" name="assistedBy"placeholder="Legal Status Validity Start Date">
          </div>
          <div class="col-md-4">
            <label for="typeOfAssistance">Legal Status Validity End Date</label>
            <input type="text" class="form-control" id="typeOfAssistance" name="typeOfAssistance"placeholder="Legal Status Validity End Date">
          </div>
        </div>
  
        <div class="row mt-2">
          <div class="col-md-4">
              <label for="interviewMode">Legal Status</label>
              <select class="form-control" id="legalStatus" name="Legal Status">
                <option value="legalstatus">--Select--</option>
                <option value="legalstatus">US CITIZEN</option>
                <option value="legalstatus">GC</option>
                <option value="legalstatus">F-1</option>
                <option value="legalstatus">F1-CPT</option>
                <option value="legalstatus">TSP-EAD</option>
                <option value="legalstatus">GC-EAD</option>
                <option value="legalstatus">L2-EAD</option>
              </select>
            </div>
          <div class="col-md-4">
            <label for="assistedBy">FTC Notes</label>
            <input type="text" class="form-control" id="assistedBy" name="assistedBy"placeholder="FTC Notes">
          </div>
          <div class="col-md-4">
            <label for="typeOfAssistance">Other Notes</label>
            <input type="text" class="form-control" id="typeOfAssistance" name="typeOfAssistance"placeholder="Other Notes">
          </div>
        </div>
  
       
  
        <div class="row mt-2">
          <div class="col-md-4">
              <label for="interviewMode">Division</label>
              <select class="form-control" id="division" name="division">
                <option value="division">--Select--</option>
                <option value="division">PROJECT COORDINATOR</option>
                <option value="division">SALES FORCE</option>
                <option value="division">SALESFORCE ADMIN/BA</option>
                <option value="division">SALESFORCE DEVELOPER & SALESFORCE/BA/DA/QA</option>
                <option value="division">DEVOPS</option>
                <option value="division">SYSTEM ANALYST</option>
                <option value="division">DATA</option>
              </select>
            </div>
          <div class="col-md-4">
            <label for="assistedBy">FTC Notes</label>
            <input type="text" class="form-control" id="assistedBy" name="assistedBy"placeholder="FTC Notes">
          </div>
  
          
          
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                  
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="bala-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education"
                          aria-selected="true">Education</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience"
                          aria-selected="false">Experience</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="personalinfo-tab" data-toggle="tab" href="#personalinfo" role="tab" aria-controls="personalinfo"
                          aria-selected="false">Personal info</a>
                      </li>
                    </ul>
              
                
  <div class="tab-content mt-3" id="myTabContent">
     
      <div class="tab-pane fade show active" id="education" role="tabpanel" aria-labelledby="education-tab">
       
        <div class="container">
          <div class="row">
        <div class="col-md-3 form-group">
          <label for="education1">Degree</label>
          <input type="text" class="form-control" id="education1  " placeholder="Degree">
        </div>
        <div class="col-md-3 form-group">
          <label for="education2">University</label>
          <input type="text" class="form-control" id="education2" placeholder="University">
        </div>
        <div class="col-md-3 form-group">
          <label for="education3">Attended from</label>
          <input type="text" class="form-control" id="education3" placeholder="Attended from">
        </div>
        <div class="col-md-3 form-group">
          <label for="education4">Attended to</label>
          <input type="text" class="form-control" id="education4" placeholder="Attended to">
        </div>
        
        <div class="col-md-3 form-group">
          <label for="education5">University Address</label>
          <input type="text" class="form-control" id="education5" placeholder="University Address">
        </div>
      </div>
  </div>
      </div>
    
      
     
      <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
    
        <div class="container">
          <div class="row">
        <div class="col-md-3 form-group">
          <label for="experience1">Title</label>
          <input type="text" class="form-control" id="experience1" placeholder="Title">
        </div>
        <div class="col-md-3 form-group">
          <label for="experience2">Employment Start Date</label>
          <input type="text" class="form-control" id="experience2" placeholder="Employment Start Date">
        </div>
        <div class="col-md-3 form-group">
          <label for="experience3">Employment End Date</label>
          <input type="text" class="form-control" id="experience3" placeholder="Employment End Date">
        </div>
        <div class="col-md-3 form-group">
          <label for="experience4">Skill(s)</label>
          <input type="text" class="form-control" id="experience4" placeholder="Skill(s)">
        </div>
      </div>
  </div>
      </div>
    
      
      <div class="tab-pane fade" id="personalinfo" role="tabpanel" aria-labelledby="personalinfo-tab">
       
        <div class="container">
          <div class="row">
        <div class="col-md-4 form-group">
          <label for="personalinfo1">Emergency Contact Name</label>
          <input type="text" class="form-control" id="personalinfo1" placeholder="Emergency Contact Name">
        </div>
        <div class="col-md-4 form-group">
          <label for="personalinfo2">Emergency Contact Phone</label>
          <input type="text" class="form-control" id="personalinfo2" placeholder="Emergency Contact Phone">
        </div>
        <div class="col-md-4 form-group">
          <label for="personalinfo3">Emergency Contact Email</label>
          <input type="text" class="form-control" id="personalinfo3" placeholder="Emergency Contact Email">
        </div>
        <div class="col-md-4 form-group">
          <label for="personalinfo4">Passport Number</label>
          <input type="text" class="form-control" id="personalinfo4" placeholder="Passport Number">
        </div>
        <div class="col-md-4 form-group">
          <label for="personalinfo5">Passport Validity Start Date</label>
          <input type="text" class="form-control" id="personalinfo5" placeholder="Passport Validity Start Date">
        </div>
        <div class="col-md-4 form-group">
          <label for="personalinfo6">Passport Validity End Date</label>
          <input type="text" class="form-control" id="personalinfo6" placeholder="Passport Validity End Date">
        </div>
        <div class="col-md-4 form-group">
          <label for="personalinfo7">I-94 Number</label>
          <input type="text" class="form-control" id="personalinfo7" placeholder="I-94 Number">
        </div>
        <div class="col-md-4 form-group">
          <label for="personalinfo8">I-94 Validity End Date</label>
          <input type="text" class="form-control" id="personalinfo8" placeholder="I-94 Validity End Date">
        </div>
  
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="personalinfoAddress">Address Line1</label>
            <input type="text" class="form-control" id="personalinfoAddress" placeholder="Address Line 1">
          </div>
  
          <div class="col-md-4 form-group">
              <label for="personalinfoAddress">Address Line2</label>
              <input type="text" class="form-control empty-4" placeholder="Address Line 2">
            </div>
  
          <div class="col-md-4 form-group">
              <label for="personalinfoAddress">Country</label>
              <input type="text" class="form-control empty-4" placeholder="Country">
            </div>
  
            <div class="col-md-4 form-group">
              <label for="personalinfoAddress">State</label>
              <input type="text" class="form-control" placeholder="State">
            </div>
  
            <div class="col-md-4 form-group">
              <label for="personalinfoAddress">City</label>
              <input type="text" class="form-control" placeholder="City">
            </div>
  
            <div class="col-md-4 form-group">
              <label for="personalinfoAddress">Zipcode</label>
              <input type="text" class="form-control" placeholder="Zipcode">
            </div>
  
            <div class="col-md-4 form-group">
              <label for="personalinfoAddress">Address Type</label>
              <input type="text" class="form-control" placeholder="Address Type (Home,work etc.)">
            </div>
      </div>
  </div>
      </div>
  

    <mat-tab label="Interview">
      <!-- Content for Interview tab -->
      <div class="container">
        <form>
        
          <div class="row">
            <div class="col-md-4">
              <label for="interviewDate">Interview Date</label>
              <input type="date" class="form-control" id="interviewDate" name="interviewDate" placeholder="Interview Date">
            </div>
            <div class="col-md-4">
              <label for="interviewTime">Interview Time</label>
              <input type="time" class="form-control" id="interviewTime" name="interviewTime" placeholder="Interview Time">
            </div>
            <div class="col-md-4">
              <label for="interviewInfo">Interview Info</label>
              <input type="text" class="form-control" id="interviewInfo" name="interviewInfo" placeholder="Interview Info">
            </div>
          </div>
      
         
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="client">Client</label>
              <input type="text" class="form-control" id="client" name="client" placeholder="Client">
            </div>
            <div class="col-md-4">
              <label for="vendor">Vendor</label>
              <input type="text" class="form-control" id="vendor" name="vendor"placeholder="Vendor">
            </div>
            <div class="col-md-4">
              <label for="subVendor">Sub Vendor</label>
              <input type="text" class="form-control" id="subVendor" name="subVendor"placeholder="Sub Vendor">
            </div>
          </div>
      
         
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="assistedBy">Assisted by</label>
              <input type="text" class="form-control" id="assistedBy" name="assistedBy"placeholder="Assisted by">
            </div>
            <div class="col-md-4">
              <label for="typeOfAssistance">Type of Assistance</label>
              <input type="text" class="form-control" id="typeOfAssistance" name="typeOfAssistance"placeholder="Type of Assistance">
            </div>
            <div class="col-md-4">
              <label for="interviewMode">Interview Mode</label>
              <select class="form-control" id="interviewMode" name="Interview Mode">
                <option value="In-Person">--Select--</option>
                <option value="In-Person">Face to face</option>
                <option value="Phone">Zoom</option>
                <option value="Video">Phone</option>
                <option value="Video">Hangouts</option>
                <option value="Video">WebEx</option>
                <option value="Video">Skype</option>
                <option value="Video">Others</option>
              </select>
            </div>
          </div>
      
          
          <mat-tab label="Placement">
            <div class="container">
            </div>    
            </mat-tab>
    
    <mat-tab label="Submission">
      <!-- Content for Submission tab -->
      <div class="container">
        <button class="btn btn-primary">Download DSR</button>
        <form>
          <div class="form-group mt-4">
            <div class="row">
              <div class="col-md-4">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
              </div>
              <div class="col-md-4">
                <label for="submissionDate">Submission Date</label>
                <input type="date" class="form-control" id="submissionDate" name="submissionDate" placeholder="Submission Date">
              </div>
              <div class="col-md-4">
                <label for="notes">Notes</label>
                <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="row">
              <div class="col-md-4">
                <label for="vendorName">Vendor Name</label>
                <input type="text" class="form-control" id="vendorName" name="vendorName" placeholder="Vendor Name">
              </div>
              <div class="col-md-4">
                <label for="rate">Rate</label>
                <input type="number" class="form-control" id="rate" name="rate" placeholder="Rate">
              </div>
              <div class="col-md-4">
                <label for="clientName">Client Name</label>
                <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Client Name">
              </div>
            </div>
          </div>
        </form>
      </div>
      

    </mat-tab>
    <mat-tab label="Financial Info">
      <!-- Content for Financial Info tab -->
      <div class="container">
  <div class="row textarea">
    <div class="col-md-4">
      <div class="form-group">
        <label for="financialNotes">Financial Notes</label>
        <textarea class="form-control" id="financialNotes" rows="4"></textarea>
      </div>
    </div>
    <div class="col-md-4 text-center top-titles">
      <button type="button" class="btn">Email Recruitment Tracker</button>
    </div>
    <div class="col-md-4 top-titles">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="healthInsurance"
            (change)="updateArray('Health Insurance')" [checked]="selectedOptions.includes('Health Insurance')">
          <label class="form-check-label" for="healthInsurance">Health Insurance</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="lifeInsurance" (change)="updateArray('Life Insurance')"
            [checked]="selectedOptions.includes('Life Insurance')">
          <label class="form-check-label" for="lifeInsurance">Life Insurance</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="firstName">Salary (Per hour)</label>
        <input type="text" class="form-control" id="firstName" placeholder="Salary Per hours">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="middleName">Perdeium</label>
        <input type="text" class="form-control" id="middleName" placeholder="Perdeium">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="lastName">Legal Status</label>
        <input type="text" class="form-control" id="lastName" placeholder="0">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="interviewMode">Marital Status</label>
        <select class="form-control" id="legalStatus" name="Legal Status">

          <option *ngFor="let option of options" [value]="option">{{ option }}</option>

        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="firstName">State Tax Allowance</label>
        <input type="text" class="form-control" id="firstName" placeholder="State Tax Allowance">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="middleName">State Tax Exemptions</label>
        <input type="text" class="form-control" id="middleName" placeholder="State Tax Exemptions">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="lastName">Federal Tax Allowance</label>
        <input type="text" class="form-control" id="lastName" placeholder="Federal Tax Allowance">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="lastName">Federal Tax Additional Allowance</label>
        <input type="text" class="form-control" id="lastName" placeholder="Federal Tax Additional Allowance">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="firstName">LCA Rate</label>
        <input type="text" class="form-control" id="firstName" placeholder="LCA Rate">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="middleName">LCA Date</label>
        <input type="text" class="form-control" id="middleName" placeholder="LCA Date">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="lastName">GC Wages</label>
        <input type="text" class="form-control" id="lastName" placeholder="GC Wages">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="lastName">GC Date</label>
        <input type="text" class="form-control" id="lastName" placeholder="GC Date">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="legalStatus">Legal Status</label>
        <select class="form-control" id="legalStatus" [(ngModel)]="selectedOption">
          <option value="">-- Select State --</option>
          <option *ngFor="let option of legalStatusOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>

  </div>
</div>
<div class="container">

  <table class="table">
    <thead>
      <tr class="col-md-4">
        <th></th>
        <th>Bank 1</th>
        <th>Bank 2 (Split Salary)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="col-md-4">
        <th>Bank Name</th>
        <td>
          <input type="text" class="form-control" id="Bankname1" placeholder="1st Bank name">
        </td>
        <td>
          <input type="text" class="form-control" id="Bankname2" placeholder="2nd Bank name">
        </td>
      </tr>
      <tr class="col-md-4">
        <th>Account Type</th>
        <td>
          <input type="text" class="form-control" id="account-type1" placeholder="1st Bank Account Type">
        </td>
        <td>
          <input type="text" class="form-control" id="account-type2" placeholder="2nd Bank Account Type">
        </td>
      </tr>
      <tr class="col-md-4">
        <th>Account number</th>
        <td>
          <input type="text" class="form-control" id="account-num1" placeholder="1st Bank Account Number">
        </td>
        <td>
          <input type="text" class="form-control" id="account-num2" placeholder="2nd Bank Account Number">
        </td>
      </tr>

      <tr class="col-md-4">
        <th>Routing Number</th>
        <td>
          <input type="text" class="form-control" id="routing-num1" placeholder="1st Bank Routing Number">
        </td>
        <td>
          <input type="text" class="form-control" id="routing-num2" placeholder="2nd Bank Routing Number">
        </td>
      </tr>
      <tr class="col-md-4">
        <th>Salary Deposit Type</th>
        <td>
          <select class="form-control" id="legalStatus" name="Legal Status">
            <option value="In-Person">--Select Salary Deposit--</option>
            <option value="In-Person">Fixed Amount</option>
            <option value="Phone">Percentage</option>
          </select>
        </td>
        <td class="tdata">
          Remaining salary(if any) will be deposited in this 2nd Account
        </td>
      </tr>
      <tr class="col-md-4">
        <th>How Much?</th>
        <td>
          <input type="text" class="form-control" id="account-num1" placeholder="How much salary in this Account?">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-tab label="Site Visit">
    <div class="container">
    </div>    
    </mat-tab>
    </mat-tab>

 