.row{
    padding:25px 20px 20px 20px;
}
.iconforquickview{
    width: 80%;
}
.display{
    display: flex;
}
.iconstyle{
   
    margin-left: 18px;
    padding:10px;
}
.nav-tabs .nav-link {
    color:black;
}

.nav-tabs .nav-item.show .nav-link.active, .nav-tabs .nav-link.active {
    background-color: rgb(56, 8, 56);
    border-color: rgb(56, 8, 56) ;
    color: white;
}
select#referedBy option:hover {
    background-color: rgb(105, 10, 150); 
  }
  .btn:hover{
    background-color: rgb(56, 8, 56);
    border-color: rgb(56, 8, 56) ;
  }
  .container{
    padding: 25px 10px 10px 10px;
}
.btn{
    background-color: rgb(56, 8, 56);
    border-color: rgb(56, 8, 56) ;
}
.container{
    padding: 25px 10px 10px 10px;
}
.container{
    padding:30px;
  }
  .textarea{
    margin-top: 10px;
  }
  tbody tr th{
   color:#94618e;
  }
  .top-titles{
    padding-top:50px;
  }
  .btn{
    background-color: purple;
    color: white;
  }
  .tdata{
    color: #94618e;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  i{
    margin: 5px;
    color: #94618e;
  }
 
tr th{
  color: black;
}
  i:hover {
    color: darkviolet;
  }
 .main-container{
  background:#fff;
  margin-top: 0;
  border-radius: 5px;
 }
tbody{
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.btn:hover{
  background-color: rgb(56, 8, 56);
  border-color: rgb(56, 8, 56) ;
}
