.row{
  padding:10px;
}
.container{
  background-color: #fff;
}
.iconforquickview{
    width: 80%;
}
.display{
    display: flex;
}
.iconstyle{
    margin-left: 18px;
    padding:10px;
}
.nav-tabs .nav-link {
    color:black;
} 
.mt-2, .my-2 {
  margin: 0px;
}

.nav-tabs .nav-item.show .nav-link.active, .nav-tabs .nav-link.active  {
    background-color: #380838;
    border-color: rgb(56, 8, 56) ;
    color: white;
}
.btn1{
    background-color: #380838;
    color: white;
}
select#referedBy option:hover {
    background-color: rgb(105, 10, 150); 
  }
  
  .container{
    padding: 25px 10px 10px 10px;
}

.container{
    padding:30px;
  }
  .textarea{
    margin-top: 10px;
  }
  tbody tr th{
   color:#94618e;
  }
  .top-titles{
    padding-top:50px;
  }
  
  .tdata{
    color: #94618e;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  i{
    padding: 10px;
    color: #3d0737;
    cursor: pointer;
    font-size: 20px;
  }
 
tr th{
  color: black;
}

 .main-container{
  background:#fff;
  margin-top: 0;
  border-radius: 5px;
 }
tbody{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.btn-outline-bgcolor {
  background-color: #46103d;
}

.btn-bgcolor
{
background-color: #46103d ; 
}   

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position:absolute;
  background: white;
  padding: 50px;
  border-radius: 6px;
  text-align: center;
  width: max-content;
}

.close-modal {
  margin: 0;
  position: absolute;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  top: 5%;
  left: 92%;
}
.btn{
  background-color: #380838;
  border-color: rgb(56, 8, 56) ;
  color: white;
 
}

// ::ng-deep .mat-tab-group .mat-tab-label-active {
//   background-color: #380838;
//   border: 2px solid #380838;
//   border-radius: 10px;
//   color: white;
//   padding: 5px 10px;
// }
.General{
  color: black;
}
// Interview - Form - Validation of the input field 
.invalid-input {
  border: 1px solid red;
}

