body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container-fluid {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
table{
  margin-top: 10px;
}
.head {
  background-color: #f0f0f0;
}
.input-group-text{
  background-color: #380838;
 cursor: pointer;
}
.fa-caret-down{
color: white;
}
td{
  padding: 5px;
  border-left: 1px solid #d9d3d3;
  
}
textarea{
  padding: 5px;
  border:  1px solid #d9d3d3;
  width: 280px;
  height: 50px;
}
th{
  padding-left: 10px;
  padding-bottom: 5px;
  border-left: 1px solid #d9d3d3;
}
tr{
  border-bottom: 1px solid #d9d3d3;
  padding: 0;
}
i{
  cursor: pointer;
  color: #b3adad;
  border-radius: 0;
  // border: none;
}

input{
  border-radius: 0;
  border:  1px solid #d9d3d3;
}
a{
  cursor: pointer;
}
.fbtn{
  margin: 10px;
  padding: 5px;
  width: 150px;
  border-radius: 15px;
  }
button{
  background-color: #561435;
  border: 1px solid #561435;
  color: #f0f0f0;
}


.btn{
  
  background-color: #380838;
  color: white;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



.file-label i {
  margin-right: 5px;
}

.file-label{
  margin-right: 6px;
  width: 280px;
  border: none;
  outline: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
input[type="checkbox"]{
  cursor: pointer;
}
.checkbox {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border: 1px solid #d9d3d3;
  outline: none;
}
.file-label {
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #d9d3d3;
}
.row{
  margin-bottom: 10px;
}
.custom-input::placeholder {
  color: #999; 
  font-style: italic;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
}
.btn-primary:hover{
  background-color: #5e105e;
  border:1px solid #5e105e;
}
.btn-primary:active{
  background-color: #350735;
  border: 1px solid #350735;
}