
.bg-clr {
    background-color: #46103d ; 
  }
  
  
.bg-color {
    background-color: white ; 
    
  }
  .btn-wdth {
    width: 20%;
    margin-bottom: 15px;
    background-color: #46103d ; 
    text-align: center;
  }
 