<div class="wrapper">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="assets/img/Logo_Small.png" alt="Tresume" height="60" width="60" />
  </div>
  <div *ngIf="hasToken()">
    <ts-nav></ts-nav>
  </div>

  <div [class.content-wrapper]="hasToken()">
    <router-outlet></router-outlet>
  </div>
  <!-- <footer class="main-footer">
    Privacy Policy | About | Support | Legal
    <div class="float-right d-none d-sm-inline-block">
      <strong><a href="https://tresume.us">Trésume®</a></strong>
    </div>
  </footer> -->

  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
