
<!-- conent -->
<section id="team" class="pb-5">
  <div class="background-video video-container">
    <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
      <source src="../../../assets/videos/developer.mp4" type="video/mp4">
    </video>
    <div style="width: 100%;" class="content-over-video overlay">
      <h1 style="background-color: #a24f9a91;
    height: 111px;
    padding-top: 33px;font-size: 54px;color: white;font-weight: 500 !important; "><!-- HTML -->
        <h1 id="keyFeatures">
          <span class="space">KEY</span>
          <span class="space">FEATURES</span>
          <span class="space">AND</span>
          <span class="space">BENEFITS</span>
        </h1>
      </h1>
    </div>
  </div>
  <section id="team" class="pb-5">
    <div class="container">
      <h2 class="tittle">Key Features and Benefits</h2>
      <span class="animate-border mr-auto ml-auto mb-4"></span>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/inteligent.png" alt="card image">
                    </p>
                    <h4 class="card-title">Intelligent Candidate Sourcing</h4>
                    <p class="card-text">Leverage our advanced candidate sourcing tools to access a vast talent
                      pool and
                      discover candidates who meet your specific requirements. </p>
                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Intelligent Candidate Sourcing</h4>
                    <p class="card-text ">Leverage our advanced candidate sourcing tools to access a vast talent
                      pool and
                      discover candidates who meet your specific requirements. Our smart algorithms and robust search
                      capabilities ensure you find the right candidates quickly and efficiently</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/collab.png" alt="card image">
                    </p>
                    <h4 class="card-title" style="margin-left: 30px;">Seamless Collaboration</h4>
                    <p class="card-text">Enable seamless collaboration between recruiters, hiring managers, and
                      other
                      stakeholders involved in the recruitment process. </p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title" style="margin-left: 30px;">Seamless Collaboration</h4>
                    <p class="card-text"> Enable seamless collaboration between recruiters, hiring managers, and
                      other
                      stakeholders involved in the recruitment process. Our platform allows for efficient communication,
                      feedback sharing, and streamlined workflows, eliminating bottlenecks and accelerating
                      time-to-hire.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/seam.png" alt="card image">
                    </p>
                    <h4 class="card-title">Engaging Candidate Experience</h4>
                    <p class="card-text">Create an exceptional candidate experience from the first interaction to
                      onboarding.</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Engaging Candidate Experience</h4>
                    <p class="card-text">Create an exceptional candidate experience from the first interaction to
                      onboarding. Our intuitive interface, mobile-friendly application process, and personalized
                      communication tools help you attract top talent and provide a positive candidate journey.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/workplays.png" alt="card image">
                    </p>
                    <h4 class="card-title" style="    margin-left: 35px;">Automated Workflows</h4>
                    <p class="card-text"> Automate repetitive tasks and workflows, freeing up valuable time for
                      your HR
                      team</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title" style="  margin-left: 35px;">Automated Workflows</h4>
                    <p class="card-text">Automate repetitive tasks and workflows, freeing up valuable time for your
                      HR
                      team. From resume parsing and screening to interview scheduling and offer management, our solution
                      simplifies administrative tasks, ensuring a smooth and efficient recruitment process.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/data.png" alt="card image">
                    </p>
                    <h4 class="card-title" style="    margin-left: 46px;
                    ">Data-Driven Insights</h4>
                    <p class="card-text ">Gain valuable insights into your recruitment performance with our robust
                      analytics and reporting tools. </p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title" style="    margin-left: 46px;
                    ">Data-Driven Insights</h4>
                    <p class="card-text ">Gain valuable insights into your recruitment performance with our robust
                      analytics and reporting tools. Track key metrics, measure the effectiveness of your sourcing
                      channels, and make data-driven decisions to continuously improve your talent acquisition
                      strategies.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/comunicate.png" alt="card image">
                    </p>
                    <h4 class="card-title">Easy Communicate with candidates</h4>
                    <p class="card-text">The ART has an automated effective system that figure out the correct time
                      for
                      the recruiter to reach out to the candidate </p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Easy Communicate with candidates</h4>
                    <p class="card-text ">The ART has an automated effective system that figure out the correct time
                      for
                      the recruiter to reach out to the candidate
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="team" class="pb-5">
    <div class="solution-container">
      <div class="header">
        Solution: Streamlined Talent Acquisition for Modern Organizations
      </div>
      <div class="content">
        <p class="down">At Tresume, we understand that attracting, hiring, and retaining top talent is crucial for the
          success of any
          organization. Our comprehensive talent acquisition solution empowers businesses to streamline their
          recruitment
          processes, optimize efficiency, and make data-driven decisions. With our innovative technology and
          user-centric
          approach, we help you build a high-performing workforce that drives your organization's growth.</p>
      </div>
      <img src="../../../assets/img/preview.png" alt="Solution Image" class="solution-image">
    </div>
  </div>
</section>

