<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" [ngClass]="{'scrolled': isScrolled}">
  <a routerLink="/homelanding"><img src="../assets/img/logo.png" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/features">Features</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/workforce">Workforce</a>
          <a class="dropdown-item" routerLink="/talent-suite">Talent Suite</a>
          <a class="dropdown-item" routerLink="/ats">Applicant Tracking System</a>
          <a class="dropdown-item" routerLink="/timesheet">TimeSheet</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/market"> Marketplace</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
    <div class="content">
      <a href="/login" class="bn5">Login</a>
    </div>
  </div>
</nav>
<section id="team" class="pb-5">
  <div class="background-video video-container">
    <video autoplay muted loop class="blur-video video-background" style="width: 100%; height: fit-content;">
      <source src="../../../assets/videos/developer.mp4" type="video/mp4">
    </video>
    <div style="width: 100%;" class="content-over-video overlay">
      <h1 style="background-color: #a24f9a91;
    height: 111px;
    padding-top: 33px;font-size: 54px;color: white; "><!-- HTML -->

        <h1 id="keyFeatures">
          <span>KEY</span>
          <span>FEATURES</span>
          <span>AND</span>
          <span>BENEFITS</span>
        </h1>
      </h1>
    </div>
  </div>
  <section id="team" class="pb-5">
    <div class="container">
      <h2 class="tittle">Key Features and Benefits</h2>
      <span class="animate-border mr-auto ml-auto mb-4"></span>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/inteligent.png" alt="card image">
                    </p>
                    <h4 class="card-title">Intelligent Candidate Sourcing</h4>
                    <p class="card-text down">Leverage our advanced candidate sourcing tools to access a vast talent
                      pool and
                      discover candidates who meet your specific requirements. </p>
                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Intelligent Candidate Sourcing</h4>
                    <p class="card-text down">Leverage our advanced candidate sourcing tools to access a vast talent
                      pool and
                      discover candidates who meet your specific requirements. Our smart algorithms and robust search
                      capabilities ensure you find the right candidates quickly and efficiently</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/collab.png" alt="card image">
                    </p>
                    <h4 class="card-title">Seamless Collaboration</h4>
                    <p class="card-text down">Enable seamless collaboration between recruiters, hiring managers, and
                      other
                      stakeholders involved in the recruitment process. </p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Seamless Collaboration</h4>
                    <p class="card-text down"> Enable seamless collaboration between recruiters, hiring managers, and
                      other
                      stakeholders involved in the recruitment process. Our platform allows for efficient communication,
                      feedback sharing, and streamlined workflows, eliminating bottlenecks and accelerating
                      time-to-hire.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/seam.png" alt="card image">
                    </p>
                    <h4 class="card-title">Engaging Candidate Experience</h4>
                    <p class="card-text down">Create an exceptional candidate experience from the first interaction to
                      onboarding.</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Engaging Candidate Experience</h4>
                    <p class="card-text down">Create an exceptional candidate experience from the first interaction to
                      onboarding. Our intuitive interface, mobile-friendly application process, and personalized
                      communication tools help you attract top talent and provide a positive candidate journey.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/workplays.png" alt="card image">
                    </p>
                    <h4 class="card-title" style="    margin-left: 35px;">Automated Workflows</h4>
                    <p class="card-text down"> Automate repetitive tasks and workflows, freeing up valuable time for
                      your HR
                      team</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title" style="  margin-left: 35px;">Automated Workflows</h4>
                    <p class="card-text down">Automate repetitive tasks and workflows, freeing up valuable time for your
                      HR
                      team. From resume parsing and screening to interview scheduling and offer management, our solution
                      simplifies administrative tasks, ensuring a smooth and efficient recruitment process.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/data.png" alt="card image">
                    </p>
                    <h4 class="card-title" style="  margin-left: 35px;">Data-Driven Insights</h4>
                    <p class="card-text down">Gain valuable insights into your recruitment performance with our robust
                      analytics and reporting tools. </p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title" style="  margin-left: 35px;">Data-Driven Insights</h4>
                    <p class="card-text down">Gain valuable insights into your recruitment performance with our robust
                      analytics and reporting tools. Track key metrics, measure the effectiveness of your sourcing
                      channels, and make data-driven decisions to continuously improve your talent acquisition
                      strategies.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="../../../assets/img/comunicate.png" alt="card image">
                    </p>
                    <h4 class="card-title">Easy Communicate with candidates</h4>
                    <p class="card-text down">The ART has an automated effective system that figure out the correct time
                      for
                      the recruiter to reach out to the candidate </p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Easy Communicate with candidates</h4>
                    <p class="card-text down">The ART has an automated effective system that figure out the correct time
                      for
                      the recruiter to reach out to the candidate
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="team" class="pb-5">
    <div class="solution-container">
      <div class="header">
        Solution: Streamlined Talent Acquisition for Modern Organizations
      </div>
      <div class="content">
        <p class="down">At Tresume, we understand that attracting, hiring, and retaining top talent is crucial for the success of any
          organization. Our comprehensive talent acquisition solution empowers businesses to streamline their
          recruitment
          processes, optimize efficiency, and make data-driven decisions. With our innovative technology and
          user-centric
          approach, we help you build a high-performing workforce that drives your organization's growth.</p>
      </div>
      <img src="../../../assets/img/preview.png" alt="Solution Image" class="solution-image">
    </div>
  </div>
</section>
<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 ">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>44121 Leesburg Pike., STE 230 Ashburn , VA 20147,Uinted States Of America
              </span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>(703)9863350</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>contact</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-1">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"><img src="../assets/img/logo.png" class="img-fluid" alt="logo"></a>
            </div>
            <div class="footer-text">
              <p>With the right ATS recruiting system, you can increase the number of placements and grow your business.
                Tresume advanced recruit analytics helps you back up all your presentations with data. Create forecast
                for next quarter and keep track of important metrics.</p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <ul class="social_icon">
                <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Gallery</a></li>
              <li><a href="#">Selection Process</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Sponsorship</a></li>
              <li><a href="#">Our Policies</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fa fa-telegram" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copy Rights 2023 TResume</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Policy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>