
.bg-primary {
    background-color: #46103d !important; 
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
 
  .pagination {
    justify-content: flex-end;
  }
  
 
.custom-select-style {
    width: 70px; 
  }
  
  .text-muted {
    margin-top: 10px;
  }
  .crt{
    background-color: #ccc;
  }
  .crt{
    background-color: rgb(56, 8, 56);
    border-color: rgb(56, 8, 56) ;
  }