<div class="container mt-4">
    <div class="row">
        <div class="col" style="position: relative;">
            <h4 style="border-top: 3px solid #000; border-bottom: 3px solid #000; padding: 20px 0;">All Time Sheet</h4>
            <a routerLink="/timesheet/create"  class="crt btn btn-primary" style="position: absolute; top: 15px; right: 10px;" (click)="Gotonext()">  Create</a>
        </div>
   

    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="form-group">
                <label for="show">Show</label>
                <select class="custom-select custom-select-style ml-2 mr-2" id="show">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="entries">entries</label>
            </div>
        </div>
        <div class="col text-right">
            <div class="form-group">
                <label for="search">Search:</label>
                <input type="text" class="form-control1 ml-2 mr-2" id="search" placeholder="Search...">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>From_Date</th>
                        <th>To_Date</th>
                        <th>Total_Hours</th>
                        <th>Created_On</th>
                        <th>Status</th>
                        <th>Comments</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{ item.From_Date }}</td>
                        <td>{{ item.To_Date }}</td>
                        <td>{{ item.Total_Hours }}</td>
                        <td>{{ item.Created_On }}</td>
                        <td>{{ item.Status }}</td>
                        <td>{{ item.Comments }}</td>
                        <td>
                            <div>
                                <button class="btn btn-light" [routerLink]="['/timesheet/viewdetails']">
                                    <i class="fa fa-eye fa-fw mr-2"></i>View
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-muted">Showing 1 to 10 rows</p>
        </div>

        <div class="col text-right">
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>