
.bg-primary {
    background-color: #46103d !important; 
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  th, td {
    padding: 10px;
    text-align: left;
    border: none;
  }
 
  .pagination {
    justify-content: flex-end;
  }
  
 
.custom-select-style {
    width: 70px; 
  }
  

  .crt{
    background-color: rgb(56, 8, 56);
    border-color: rgb(56, 8, 56) ;
  }