<div class="header p-4">
<div class="container">
  <div class="row main">
    <h2 class="pt-3 pl-2">Create Timesheet</h2>
  </div>
    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selectedDate">Week Start Date:</label>
                    <input type="date" id="selectedDate" class="form-control" [min]="minDate" [max]="maxDate" #datePicker (change)="selectSunday(datePicker.value)" [(ngModel)]="selectedSunday">

                  </div>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary" (click)="saveTimesheet()">Save</button>
                  <span style="margin-left: 10px;"></span> 
                  <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        
        <table class="table mt-4">
          <thead>
            <tr>
              <th>Project</th>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
              <th>Comments</th>
              <th>Total hours</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of timesheetData; let i = index">
              <td>
                <select class="form-control" [(ngModel)]="row.project">
                </select>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="row.sunHours" required></td>
              <td><input type="text" class="form-control" [(ngModel)]="row.monHours" required></td>
              <td><input type="text" class="form-control" [(ngModel)]="row.tueHours" required></td>
              <td><input type="text" class="form-control" [(ngModel)]="row.wedHours" required></td>
              <td><input type="text" class="form-control" [(ngModel)]="row.thrHours" required></td>
              <td><input type="text" class="form-control" [(ngModel)]="row.friHours" required></td>
              <td><input type="text" class="form-control" [(ngModel)]="row.satHours" required></td>
              <td><textarea class="form-control" [(ngModel)]="row.comments"></textarea></td>
              <td><input type="text" class="form-control" [(ngModel)]="row.totalHours" required></td>
              <td> <i class="fas fa-trash fa-lg p-3" (click)="removeRow(i)"></i>
              </td>
            </tr>
          </tbody>
        </table>
  
        <div class="text-center mt-1">
          <button class="btn btn-success" (click)="addRow()">Add Row</button>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mt-4">
                    <label for="fileUpload">Please upload client-approved Timesheet:</label>
                    <input type="file" id="fileUpload" class="form-control-file">
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mt-4">
                    <label for="fileUpload">Please upload your status report for the selected period:</label>
                    <input type="file" id="fileUpload" class="form-control-file">
                  </div>
            </div>
        </div> 
      </div>
    </div>
  </div>
</div>
  