.container{
    padding: 25px 10px 10px 10px;
}
.nav-tabs .nav-link {
    color:black;
}

.nav-tabs .nav-item.show .nav-link.active, .nav-tabs .nav-link.active {
    background-color: rgb(56, 8, 56);
    border-color: rgb(56, 8, 56) ;
    color: white;
}
select.form-control option:hover {
    background-color: purple;
    color: white;
  }
  .container1{
    margin-top:0px;
  }
  .containertr{
    margin-top: 0px;
  }
  .container2{
    margin-top:0px;
  }
  .req5{
    padding-left: 50px;
  }
  .req34{
    padding-left: 30px;
  }
  .req910{
    padding-left: 30px;
  }
  .pay{
    padding-left: 115px; 
   }

   .reqinfo{
    padding: 25px 10px 10px 10px;
   }
.header{
  padding: 25px 10px 10px 10px;
}

 