h1{
    font-size: 30px;
    margin: 20px;
    font-weight: 500;
}
.tab-container {
    margin-top: 20px;
  }
  .tab-content {
    padding: 20px;
    border-top: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f2f2f5;
  }
  
  /* tabs.component.css */

/* ... existing styles ... */

.back-link {
    display: block;
    margin-bottom: 10px;
    color: #1565C0; /* Link color */
    text-decoration: none;
  }
  
  .h2 {
    margin-bottom: 20px;
  }
  
  .dropdown-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    flex: 1;
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  /* ... existing styles ... */
  