 *{
    box-sizing: border-box;
   
 }

 .selct0{
   border: 1px solid #ced4da;;
   height: 38px;
   cursor: text;
   background-color: #fff;
 }
.ass-rec{
    border: 1px solid #ced4da;;
   height: 38px;
   cursor: text;
   background-color: #2d012d;
   color: #fff;
}
.container-1{
   padding: 30px;
}
.post-job-boards{
   background-color:#fff ;
   border: 1px solid #ced4da;
   padding: 10px;
}
