<div class="header p-4">
    <div class="container-fluid">
        <div class="row main pt-3 pl-3 pr-3">
            <h2 class="col-md-6">ALL TIME SHEET</h2>
            <div class="col-md-6 text-end">
                <button class="btn float-right" [routerLink]="['/createalltimelist']">Create</button>
            </div>
        </div>
        <div class="container-fluid pt-3 bottomborder">
            <div class="row mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Candidate</th>
                            <th>Month</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Total Hours</th>
                            <th>CreatedOn</th>
                            <th>Status</th>
                            <th>Comments</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of tableData">
                            <td>{{ row.Candidate }}</td>
                            <td>{{ row.Month }}</td>
                            <td>{{ row.FromDate }}</td>
                            <td>{{ row.ToDate }}</td>
                            <td>{{ row.TotalHours }}</td>
                            <td>{{ row.CreatedOn }}</td>
                            <td>{{ row.TimeSheetStatus }}</td>
                            <td>{{ row.Comment }}</td>
                            <td>
                                <div>
                                    <i class="fa fa-eye fa-fw fa-lg ml-4 text-center"
                                        [routerLink]="['/timesheet/viewdetails']"></i>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="noResultsFound" >
                            <td colspan="9" class="text-center">
                              No results found.
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>