<div class="header p-4">
    <div class="container pt-3 pl-3 pr-3">
        <div class="row">
            <h2 class="col-md-6">ALL TIME SHEET</h2>
            <div class="col-md-6 text-end">
                <button class="btn float-right" routerLink="/timesheet/create">Create</button>
                <!-- <button class="btn mr-3 float-right" routerLink="/addadmin">Add Admin</button> -->

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">

        <table class="table m-3">
            <thead>
                <tr>
                    <th>Candidate</th>
                    <th>Month</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Total Hours</th>
                    <th>CreatedOn</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableData">
                    <td>{{ row.Candidate }}</td>
                    <td>{{ row.Month }}</td>
                    <td>{{ row.From_Date }}</td>
                    <td>{{ row.To_Date }}</td>
                    <td>{{ row.Total_Hours }}</td>
                    <td>{{ row.Created_On }}</td>
                    <td>{{ row.Status }}</td>
                    <td>{{ row.Comments }}</td>
                    <td>
                        <div>
                            <i class="fa fa-eye fa-fw fa-lg ml-4 text-center"
                                [routerLink]="['/timesheet/viewdetails']"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


