
.form-control{
    box-shadow: rgb(193, 193, 193) 0px 2px 12px !important;
  }
h4.card-title {
    margin-left: 85px;
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #49274a;
}
.card-outline{
    border-top:3px solid #49274a;
}
.btn{
    background-color: #49274a;
    color: #fff;
}
.container{
    background-color: #fff;
}
.custom-input {
    width: 283px;
    height: 34px;
  }
  
.selection{
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 0;
    padding: 6px 12px;
    height: 39px;
}
button.btn.btn-secondary {
    background-color: #49274a;
    width: 200px;
}
button.btn.btn-primary.ml-2 {
    background-color: #49274a;
    width: 200px;
}
.main{
    border-top:3px solid #49274a;
    border-bottom: 3px solid #49274a;
}
.edit-prf {
    margin-top: 10px;
    margin-right: 11px;
}
.icon{
    font-size: 20px;
    padding: 8px;
    color: #8d086d;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
}