
.form-control{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    // width: 200%;
}
h4.card-title {
    margin-left: 85px;
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #49274a;
}
.btn btn-secondary{
    background-color: #49274a;
}
.custom-input {
    width: 283px;
    height: 34px;
  }
  
.selection{
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 0;
    padding: 6px 12px;
    height: 39px;
}
button.btn.btn-secondary {
    background-color: #49274a;
}
button.btn.btn-primary.ml-2 {
    background-color: #49274a;
}
