.dropdown_display{
    display: block;
}

.dropdown_display{
    display: none;
}
.container{
    background-color: #fff;
}
.main{
    border-top: 3px solid #46103d;
    border-bottom: 3px solid #46103d;
}