$brand-primary:#49274a;

.container-fluid{
   background-color: #fff;
}
.main {
    border-top: 3px solid $brand-primary;
    border-bottom: 3px solid $brand-primary;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
}

i {
    margin: 5px;
    color: #94618e;
}

td {
    color: #94618e;
}

i:hover {
    color: darkviolet;
}


tbody {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.display {
    display: flex;
    align-items: center;
    margin-left: 265px;
    font-size: 16px;
}
.btn{
    background-color: #572151;
    border: none;
    color: white;
}
.btn:hover {
    background-color: #94618E;
}

i.fa.fa-download {
    margin: 5px;
    color: #ffffff;
}

.found {
    font-size: 21px;
    text-align: center;
    margin-left: 25rem;
    color: #800e67;
}
.buttons.input-group-append {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
button.btn.btn-primary {
    background-color: #601d56;
}

  