<div class="header p-4">
  <div class="container-fluid">
  <div class="row main pt-3">
    <div class="col-4">
      <h2> JOB APPLICATIONS</h2>
    </div>
    <div class="col-4 text-right">
      <div class="input-group">
        <input type="date" class="form-control" id="datepicker" [(ngModel)]="selectedDate"
          (click)="showDateOptions = !showDateOptions">
        <div class="date-options input-group-append" *ngIf="showDateOptions">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Date Range
                </button>
                <div class="dropdown-menu" aria-labelledby="dateDropdown">
                  <a class="dropdown-item" (click)="selectDateOption('today')">Today</a>
                  <a class="dropdown-item" (click)="selectDateOption('yesterday')">Yesterday</a>
                  <a class="dropdown-item" (click)="selectDateOption('last7days')">Last 7 Days</a>
                  <a class="dropdown-item" (click)="selectDateOption('last30days')">Last 30 Days</a>
                  <a class="dropdown-item" (click)="selectDateOption('thisMonth')">This Month</a>
                  <a class="dropdown-item" (click)="selectDateOption('lastMonth')">Last Month</a>
                  <a class="dropdown-item" (click)="selectDateOption('thisYear')">This Year</a>
                  <a class="dropdown-item" (click)="selectDateOption('lastYear')">Last Year</a>
                  <div class="buttons input-group-append">
                    <button class="btn btn-primary" (click)="saveDate()">Save</button>
                    <button class="btn btn-primary" (click)="cancelDate()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row content1 p-3">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-download"></i>Save as
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" (click)="saveAs('excel')">As Excel</a>
          <a class="dropdown-item" href="#" (click)="saveAs('pdf')">As PDF</a>
        </div>
      </div>
      <div class="display d-flex justify-content-center align-items-center">
      <span>Displaying 0 of 0 Applications</span>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div class="form-group d-flex mt-2">
        <input type="text" id="searchInput" class="form-control" placeholder="Search">
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Job Tittle</th>
          <th>Legal Status</th>
          <th>Pay Rate</th>
          <th>Source</th>
          <th>Total Applicants</th>
          <th>Posted On</th>
          <th>Posted By</th>
          <th>Job Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.PostDay }}</td>
          <td>{{ job.Name }}</td>
          <td>{{ job.JobTitle }}</td>
          <td>{{ job.JobStatus}}</td>
          <td>{{ job.PayRate }}</td>
          <td>{{ job.Source }}</td>
          <td>
            {{ job.TotalApplicant }}
            <a [routerLink]="['/applicantdetails']">
              <i class="fas fa-external-link-alt"></i>
            </a>
          </td>
          <td>{{ job.CreateTime | date }}</td>
          <td>{{ job.CreateBy }}</td>
          <td>{{ job.JobType }}</td>
          <!-- <td>{{ job.assignee }}</td> -->
        </tr>
      </tbody>
    </table>
    <div class="container">
      <span class="found">No Applications Found..</span>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
