.container {
    margin-top: 20px;
}

.createNew {
    background-color: #49274A;
    color: #fff;
}

.createNew:hover {
    background-color: #94618E;
}

.createNew:active {
    background-color: #49274A;
}

.main {
    border-top: 3px solid #49274A;
    border-bottom: 3px solid #49274A;
}

.search-label {
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
}

i {
    margin: 5px;
    color: #94618e;
}

td {
    color: #94618e;
}

i:hover {
    color: darkviolet;
}

.main-container {
    background: #fff;
    margin-top: 0;
    border-radius: 5px;
}

tbody {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.content1 {
    display: flex;
    margin-left: 70px;
    justify-content: flex-start;

}

.display {
    display: flex;
    align-items: center;
    margin-left: 265px;
    font-size: 18px;
    font-weight: 400;
}

button.btn.btn-primary.dropdown-toggle {
    background-color: #572151;
    border: none;
}

i.fa.fa-download {
    margin: 5px;
    color: #ffffff;
}

.found {
    font-size: 21px;
    text-align: center;
    margin-left: 25rem;
    color: #800e67;
}
.buttons.input-group-append {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
button.btn.btn-primary {
    background-color: #601d56;
}