.container{
  padding:30px;
}
.textarea{
  margin-top: 10px;
}
tbody tr th{
 color:#94618e;
}
.top-titles{
  padding-top:50px;
}
.btn{
  background-color: purple;
  color: white;
}
.tdata{
  color: #94618e;
}
