.input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px; /* Adjust width as needed */
    height: 40px;
}
.form-check{
    display: block;
    padding-bottom: 1px;
}