.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px; 
  height: 40px;
}
.form-check{
  display: block;
  padding-bottom: 1px;
}
.btn{
  
      background-color: #380838;
      color: white;
  
}
.table{
  width: 100px;
  height: max-content;
 
}
.col-md-6{
  max-width: 100%;
  
}
.scrollable-msg-box{
  height: 100px; 
  width: 500px;
  overflow-y: scroll; 
  border: 1px solid #ccc;
  padding: 5px;
}
.manage-tags-link {
  position: absolute;
  top: 0;
  right: 0;
}

.custom-control-input:checked+.custom-control-label::before {
  background-color: rgb(101, 177, 101);
  border-color: rgb(101, 177, 101);
}

.custom-control-input:checked+.custom-control-label::after {
  background-color: rgb(101, 177, 101);
}
.dis{
  width: 75px;
  
}

.align-top {
vertical-align: top;
}
body {
  background-color: #ffffff; 
  color: #000;
}
.table-container {
  width: 100%;
  max-width: 1000px;
  border: 1px solid #ccc;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.table-cell {
  flex: 1;
  padding: 8px;
  text-align: left;
}

.text-right {
  text-align: right;
}
.col-md-4{
  margin-left: 13rem;
}
.balance{
  margin-left: 39rem;
}
.modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  right: 0px;
}
.modal-content {
  height: 100%;
}
.fixed-width-wrapper {
width: 40px; 
}
.arrow{
margin-left: 46rem;
}
.marg{
margin-left: 15px;
}
.fbtn{
margin: 10px;
padding: 5px;
width: 150px;
border-radius: 15px;
}
.popup {
position: relative;
display: inline-block;
margin-top: 10px; 
}

.popup .popover {
display: block;
position: absolute;
bottom: -130%;
left: 50%;
transform: translateX(-50%);
z-index: 9999;
width: 200px;
}

.modal1 {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
}

.modal1-content {
  position: relative;
  background: white;
  padding: 50px;
  border-radius: 6px;
  text-align: center;
  width: max-content;
  margin: auto; 
}

.close-modal1 {
  margin: 0;
  position: absolute;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  top: 5%;
  right: 5%;
}

.modal1-footerbtn {
  margin-top: 20px; 
  text-align: center; 
}

.modal1-footerbtn button {
  margin-right: 10px;
}

.delete-icon {
  color: #380838;
}
.attachment-symbol {
  font-size: 21px; 
  margin-left: 34px;
  color: #380838;
}


.modal1-content {
position: relative;
background: white;
padding: 50px;
border-radius: 6px;
text-align: center;
width: max-content;
margin: auto; 
}

.close-modal1 {
margin: 0;
position: absolute;
opacity: 1;
z-index: 10;
cursor: pointer;
top: 5%;
right: 5%; 
}

.modal1-footerbtn {
margin-top: 20px; 
text-align: center;
}

.modal1-footerbtn button {
margin-right: 10px;
}

.delete-icon {
color: #380838; 
}
.attachment-symbol {
font-size: 21px;
margin-left: 34px;
color: #380838;
}



