

<div class="login-container">
    <div class="sub-container image-container login-page">
        <div class="card" style="width: 20%;">
            <div class="center-div">
                <img src="https://tresume.us/img_Home/logo_new.png" alt="Logo">
            </div>
            <div class="card-body login-card-body" style="border-radius: 5px;">
                <form (ngSubmit)="checkEmailValidator()">
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <input type="email" id="emailInput" [(ngModel)]="email" class="form-control" placeholder="Email"
                                [ngModelOptions]="{ standalone: true }">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div data-lastpass-icon-root="true"
                            style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 0px;">
                        <div class="col-12">
                            <button class="btn btn-primary btn-block action-button" id="submitButton" type="submit"
                                disabled>Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
