.bg-clr {
    background-color: #46103d ; 
  }
 
.container{
  background-color: #fff;
}
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  i{
    margin-left: 2px;
    color: #94618e;
    cursor: pointer;
  }
 
  td{
    color: #94618e;
  }
  i:hover {
    color:#46103d;
  }

  .btn-wdth {
    background-color: #46103d ; 
    text-align: center;

  }
  .small-datepicker {
    height: 30px;   
    width: 50px;    
  }

.host {
  display: block;
  padding: 1rem;
  max-width: 600px;
}
.main {
  border-top: 3px solid #46103d;
  border-bottom: 3px solid #46103d;
}

 .fa-eye{
  color: #46103d;
 }

 label {
  flex-direction: row;
  text-align: center;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
   flex: 0 0 200px;
  margin-left: 10px;
}
label{
  margin-left: 5px;
}
.btn{
  background-color: #49274A;
  color: #ffffff;
}
button{
border: none;
}
.btn:hover{
  background-color: #94618E;
  color: #ffffff;
}
.row2{
  margin-top: 10px;
}
 
.label {
  display: block;
  margin-bottom: 0;
}
form {
  padding: 20px;
}
.container2{
  background-color: #f2f2f2;
}
.input[type="text"],
.input[type="file"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;

}
.modal-title{
  color: #94618e;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


