<div class="header mb-4  p-4">
  <div class="container-fluid">
    <div class="row mb-2 main p-3">
      <div class="col-6 text-left mt-2">
        <h2 class="m-0">CREATE PROJECT</h2>
      </div>
      <div class="col-6 text-right mt-2">
        <button class="btn button m-0" (click)="createproject()">Create Project</button>
      </div>
    </div>

    <table class="pt-4 mt-4 mb-4 pb-4">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Client Name </th>
          <th>Project Start Date</th>
          <th>Project End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of project">
          <td>{{ pro.Projectname }}</td>
          <td>{{ pro.ClientName }}</td>
          <td>{{ pro.StartDate | date : "MM/dd/y"}}</td>
          <td>{{ pro.EndDate | date : "MM/dd/y"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showConfirmationDialog" class="modal fade show align-center" tabindex="-1" role="dialog"
  aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="projectModalLabel">Create New Project</h2>
        <button type="button" class="close" (click)="cancelProject()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addnewproject">
          <div class="row text-center justify-content-center">
            <div class="col-6 form-group">
              <label class="label" for="project">Project Name:</label>
              <div class="input-group">
                <input type="text" class="form-control" id="ProjectName" formControlName="ProjectName" placeholder="Project Name">
              </div>
            </div>
            <div class="col-6 form-group">
              <label class="label" for="project">Client Name:</label>
              <select id="userselect" class="form-control" formControlName="ClientName">
                <option *ngFor="let option of clientname" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center pt-4">
            <div class="col-md-6 form-group">
              <div class="text-center">
                <label class="label" for="candidate">Candidates:</label>
              </div>
              <div class="flex text-center">
                <p-multiSelect [options]="Candidates" formControlName="selectedCandidate"
                  [ngModelOptions]="{standalone: true}" defaultLabel="Candidates" optionLabel="name"
                  (onSearch)="onCandidateSearch($event)" [filter]="true" display="chip">
                </p-multiSelect>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label class="label" for="project">Billable(/hr)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="billable" formControlName="Billable" placeholder="Billable">
              </div>
            </div>
          </div>

          <div class="row justify-content-center pt-4">
            <div class="col-md-6">
              <label class="label" for="startDate">Project Start Date:</label>
              <input type="date" formControlName="StartDate" id="StartDate" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="label" for="endDate">Project End Date:</label>
              <input type="date" formControlName="EndDate" id="EndDate" class="form-control">
            </div>
          </div>

          <div class="text-center justify-content-center modal-footer">
            <button class="btn button btn-outline-btn mr-4" (click)="addproject()">Add Project</button>
            <button class="btn button btn-outline-btn" (click)="cancelProject()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- <div class="header mb-4  p-4">
  <div class="container-fluid">
    <div class="row mb-2 main p-3">
      <div class="col-6 text-left mt-2">
        <h2 class="m-0">CREATE PROJECT</h2>
      </div>
      <div class="col-6 text-right mt-2">
        <button class="btn button m-0" (click)="createproject()">Create Project</button>
      </div>
    </div>

    <table class="pt-4 mt-4 mb-4 pb-4">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Client Name </th>
          <th>Project Start Date</th>
          <th>Project End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of project">
          <td>{{ pro.projectname }}</td>
          <td>{{ pro.ClientName }}</td>
          <td>{{ pro.StartDate | date : "MM/dd/y"}}</td>
          <td>{{ pro.EndDate | date : "MM/dd/y"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showConfirmationDialog" class="modal fade show align-center" tabindex="-1" role="dialog"
  aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="projectModalLabel">Create Project</h2>
        <button type="button" class="close" (click)="cancelProject()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [formGroup]="addnewproject">
          <div class="row text-center justify-content-center">
            <div class="col-6 form-group">
              <label class="label" for="project">Project Name:</label>
              <div class="input-group">
                <input type="text" class="form-control" id="ProjectName" [(ngModel)]="projectname"
                  formControlName="ProjectName" placeholder="Project Name">
              </div>
            </div>
            <div class="col-6 form-group">
              <label class="label" for="project">Client Name:</label>
              <select id="userselect" class="form-control" [(ngModel)]="clientname" defaultLabel="Client Name"
                formControlName="ClientName">
                <option *ngFor="let option of clientname" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center pt-4">
            <div class="col-md-6 form-group">
              <div class="text-center">
                <label class="label" for="candidate">Candidates:</label>
              </div>
              <div class="flex text-center">
                <p-multiSelect [options]="Candidates" [(ngModel)]="selectedCandidate"
                  [ngModelOptions]="{standalone: true}" defaultLabel="Candidates" optionLabel="name"
                  (onSearch)="onCandidateSearch($event)" [filter]="true" display="chip">
                </p-multiSelect>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label class="label" for="project">Billable(/hr)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="billable" [(ngModel)]="billable" formControlName="Billable"
                  placeholder="Billable">
              </div>
            </div>
          </div>

          <div class="row justify-content-center pt-4">
            <div class="col-md-6">
              <label class="label" for="startDate">Project Start Date:</label>
              <input type="date" formControlName="StartDate" id="StartDate" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="label" for="endDate">Project End Date:</label>
              <input type="date" formControlName="EndDate" id="EndDate" class="form-control">
            </div>
          </div>
        </div>

        <div class="text-center justify-content-center modal-footer">
          <button class="btn button btn-outline-btn mr-4" (click)="addproject()">Add Project</button>
          <button class="btn button btn-outline-btn" (click)="cancelProject()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> -->





<!-- <div class="col-3 form-group">
        <label>Project Name</label>
        <select id="adminselect" class="form-control" [(ngModel)]="projectname">
          <option *ngFor="let option of projectname" [value]="option.id">{{ option.name }}</option>
        </select>
      </div>
      <div class="col-3 form-group">
        <label>Client Name</label>
        <select id="userselect" class="form-control" [(ngModel)]="clientname">
          <option *ngFor="let option of clientname" [value]="option.id">{{ option.name }}</option>
        </select>
      </div>

      <div class="col-3 form-group">
        <label for="NetTerms">Net Terms</label>
        <input type="text" class="form-control" id="NetTerms" [(ngModel)]="netterms" name="NetTerms"
          placeholder="Net Terms" [(bsValue)]="netterms" bsDatepicker>
      </div> -->

<!-- <div class="row pt-2 pb-4 justify-content-center">
      <div class="col-3 text-center mt-4">
        <button class="btn button" (click)="createproject()">Create Project</button>
      </div>
    </div> -->

<!-- <div *ngIf="showConfirmationDialog1" class="modal fade show align-center" tabindex="-1" role="dialog"
  aria-labelledby="clientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="clientModalLabel">Add Client</h2>
        <button type="button" class="close" (click)="cancelClient()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row text-center pt-4">
          <div class="col-12 text-center form-group">
            <label class="label" for="client">Client Name:</label>
            <div class="input-group">
              <select formControlName="selectedClient" class="form-control">
                <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center modal-footer">
        <button class="btn btn-outline-btn mr-4" (click)="addclient()">Add</button>
        <button class="btn btn-outline-btn" (click)="cancelClient()">Cancel</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="header p-4">
  <div class="container-fluid">
    <div class="row mb-2 main p-3">
      <h2 class="m-0">CREATE PROJECT</h2>
    </div>
    <form [formGroup]="projects" class="main-form">

      <div class="row pt-4">
        <div class="col-6 text-center form-group">
          <button class="btn btn-outline-btn ml-2" type="button" (click)="createclient( )">Create Client</button>
        </div>
        <div class="col-3 text-center form-group">
          <button class="btn btn-outline-btn ml-2" type="button" (click)="createproject( )">Create Project</button>
        </div>
      </div>
    </form>
  </div>
</div> -->