$brand-primary: #49274a;

.button {
  background-color: $brand-primary ;
  color: white;
}

.button:hover {
  background-color: #94618E;
}

.button:active {
  background-color: $brand-primary ;
}

.main {
  border-top: 3px solid $brand-primary;
  border-bottom: 3px solid $brand-primary;
}

.container-fluid {
  background-color: #fff;
  margin-bottom: 5px;
}

.search-label {
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: #e0e0e0;
  font-weight: bold;
  border: 1px solid #ccc;
}

td {
  padding: 10px;
  text-align: left;
  background-color: #fff;
  font-weight: bold;
  border: 1px solid #ccc;
}

// tr{
//   border-bottom: 1px solid #ccc; 
// }

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e0e0e0;
}

i {
  margin: 5px;
  color: #94618e;
}

td {
  color: #94618e;
}

i:hover {
  color: darkviolet;
}

.main-container {
  background: #fff;
  margin-top: 0;
  border-radius: 5px;
}

tbody {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.bs-datepicker {
  background-color: rgb(56, 8, 56);
}

.content-header h1 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 400;
}

// .modal1,
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .modal-content1,
.modal-content {
  position: relative;
  background: white;
  padding: 50px;
  border-radius: 6px;
  text-align: center;
  width: max-content;
}

// .close-modal1,
.close-modal {
  margin: 0;
  position: absolute;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  top: 5%;
  right: 5%;
}