  <div class="header p-4">
    <div class="container">
      <div class="row mb-2 main p-3">
            <h2 class="m-0">CREATE PROJECT</h2>
       </div>
       <div class="row pt-4">
        <div class="col-3 form-group">
          <label>Project Name</label>
          <!-- <select id="adminselect" class="form-control">
            <option *ngFor="let option of projectname" [value]="option.id">{{ option.name }}</option>
          </select> -->
         
            <input type="text" class="form-control" id="middleName" [(ngModel)]="projectname" placeholder="Project Name">
         
        </div>
        <div class="col-3 form-group">
          <label>Client name</label>
          <select id="userselect" class="form-control" [(ngModel)]="clientname">
            <option *ngFor="let option of clients" [value]="option.ClientID">{{ option.ClientName }}</option>
          </select>
        </div>   
          
      <div class="col-3 form-group">
       <label for="NetTerms">Net Terms</label>
      <input type="text" class="form-control" id="NetTerms" [(ngModel)]="netterms" name="NetTerms" placeholder="Net Terms" [(bsValue)]="netterms" bsDatepicker>
    </div>
        <div class="col-3 text-center mt-4">
        <button class="btn createNew" (click)="createproject()">Create Project</button>
         </div>
    </div>
    <table class="pt-4">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Client Name </th>
          <th>Net terms</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of project">
          <td>{{ pro.projectname }}</td>
          <td>{{ pro.ClientName }}</td>
          <td>{{ pro.netterms | date :  "MM/dd/y"}}</td>
          
        </tr>
      </tbody>
    </table>
    </div>
  </div>